.btn-primary {
  background-color: #4AA82E;
  border-color: #4AA82E;
  border-radius: 100px;
  min-width: 150px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
}

.btn {
  -webkit-box-shadow: 0px 3px 6px rgba(75, 168, 46, 0.259);
          box-shadow: 0px 3px 6px rgba(75, 168, 46, 0.259);
  border: 1px solid #4AA82E;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #227a18;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary.active,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 255, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(121, 255, 38, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4AA82E;
  background-color: #4AA82E;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #506d4d;
  border-color: #506d4d;
  cursor: not-allowed;
}

.btn.btn-primary.red-button {
  background-color: red;
  border-color: red;
}

html {
  font-size: 14px;
}

body {
  font-family: "SKODA Next", Arial, sans-serif;
  background-color: #F3F4F4;
}

a {
  color: #4AA82E;
}

a:focus, a:hover {
  color: #4AA82E;
  text-decoration: none;
}

h3 {
  font-size: 1.4286rem;
  font-weight: bold;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4AA82E;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(56, 169, 51, 0.24);
          box-shadow: 0 0 0 0.2rem rgba(56, 169, 51, 0.24);
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.m24 {
  margin-bottom: 1.5rem;
}

.banner img {
  width: 100%;
}

.delear-card-wrapper {
  background-color: #fff;
  padding: 2rem 5.625rem 12rem 5.75rem;
}

.welcome-text {
  font-size: 1rem;
  font-weight: bold;
}

.small-text {
  font-size: 0.75rem;
  opacity: 0.5;
  line-height: 14px;
  color: #000;
  display: block;
  padding: 3px 0;
}

.breadcrumb {
  background-color: #fff;
  padding: .75rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.breadcrumb .breadcrumb-item {
  padding-left: 5px;
}

.text-green {
  color: #4AA82E;
}

.form-control-skoda {
  border-radius: 0;
}

.form-inline-skoda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 590px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-inline-skoda .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 0px;
  width: 70%;
}

.form-title {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

.more-info-text {
  margin-bottom: 1.25rem;
}

.track-wrpppp .small-text {
  font-size: 10px;
}

.track-action {
  text-align: center;
  margin-top: 20px;
}

.track {
  position: relative;
  background-color: #f0f1f4;
  border: 0;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 0px;
  border-radius: 35px;
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 18%;
  margin-top: 0px;
  text-align: left;
  position: relative;
  border-right: 1px solid #d1d1d1;
}

.track .step:last-child {
  border-right: 0;
}

.track .step .color-filler {
  width: 100%;
  height: 100%;
  background-color: #D1D1D1;
  position: absolute;
}

.track .step.active .color-filler {
  background-color: #E3CA49;
}

.track .step.active .app-s-wrp {
  color: #000;
}

.track .step .app-s-wrp {
  font-size: 0.625rem;
  text-align: center;
  padding-top: 25px;
  color: #999;
}

#imagePreview img {
  margin-right: 10px;
  border: 1px solid #4aa82f;
  padding: 5px;
}

.file-upload-input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d2d2d2;
  padding: 9px;
  color: #999;
  position: relative;
}

.file-upload-input:after {
  content: '';
  width: 30px;
  height: 30px;
  background: url(../images/icons/upload_icon.svg) no-repeat center;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
}

.recent-activity {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-activity li {
  position: relative;
  padding-left: 15px;
  padding-bottom: 10px;
}

.recent-activity li::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #d2d2d2;
  position: absolute;
  top: 0;
  left: 0;
}

.recent-activity li::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 4px;
  left: -4px;
  display: block;
}

.recent-activity li:first-child::before {
  top: 4px;
}

.ui-d-page {
  display: inline-block;
  width: 18px;
}

.duploaded-files,
.uploaded-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: -2px;
}

.duploaded-files .uploaded-file,
.uploaded-files .uploaded-file {
  font-size: 12px;
  border: 1px solid #D1D1D1;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 12px;
  margin: 2px;
}

.duploaded-files .uploaded-file .uploaded-file-remove,
.uploaded-files .uploaded-file .uploaded-file-remove {
  cursor: pointer;
  width: 14px;
}

.duploaded-files .uploaded-file .uploaded-file-remove img,
.uploaded-files .uploaded-file .uploaded-file-remove img {
  display: inherit;
  margin-left: 5px;
  width: 100%;
}

.spinner {
  z-index: 1;
}

.spinner .center-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.812);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #4AA82E;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pull-right {
  float: right;
}

.pull-right:after {
  content: '';
  display: table;
  width: 100%;
}

#getSupport .modal-dialog {
  max-width: 726px;
  margin: 1.75rem auto;
}

#getSupport .modal-dialog table {
  width: 100%;
}

.dropdown-item {
  text-transform: capitalize;
}

#otpPopup-btnResend {
  cursor: pointer;
}

.dealer-header .logo-wrp {
  padding: 20px 0;
}

.dealer-header .logo-wrp img {
  width: 145px;
}

.dealer-header .breadcrumb {
  background-color: #F3F3F3;
  padding: .75rem 2.1429rem;
  -webkit-box-shadow: 0px 2px 4px rgba(145, 145, 145, 0.161);
          box-shadow: 0px 2px 4px rgba(145, 145, 145, 0.161);
}

.login-username {
  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.signup-username {
  font-size: 1rem;
  text-transform: capitalize;
}

header {
  padding: 0 2.1429rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .user-service {
  margin-left: auto;
}

header .activity-info {
  padding: 1.2143rem 1.4286rem;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
}

header .activity-info.active {
  background-color: #e5e5e5;
}

header .notif-wrp {
  padding: 1.2143rem 1.4286rem;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  margin-right: 1.4286rem;
}

header .notif-wrp img {
  max-width: 1.0714rem;
}

header .burger-icon {
  max-width: 1.0714rem;
  margin-right: 1.4286rem;
  cursor: pointer;
}

header .burger-icon img {
  width: 100%;
}

header .user-service .rounded-circle {
  width: 20px;
  height: 20px;
}

.c-header-lft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.c-header-lft .prj-status {
  margin-bottom: 0;
}

.c-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.notif-wrp .dropdown-menu .noti-list-wrp {
  max-height: 300px;
  overflow-y: auto;
}

.notif-wrp .dropdown-menu .noti-list-wrp .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.notif-wrp .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notif-wrp .dropdown-item {
  font-size: 0.9rem;
  line-height: 1.4;
  padding: 10px 20px;
  border-bottom: 1px solid #d2d2d2;
}

.notif_count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.notif_count .noti-value {
  margin-right: 0.3571rem;
  width: 1.4286rem;
  height: 1.4286rem;
  background: #4AA82E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.8571rem;
  font-size: 0.6429rem;
  right: 0;
}

.d-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
}

.d-input-group input[type="tel"] {
  max-width: 2.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: #E8F0FE;
  border-bottom: 1px solid #000;
}

#otpPopup .modal-dialog {
  max-width: 450px;
}

#otpPopup .modal-dialog .modal-content {
  border-radius: 30px;
  border: 1px solid #707070;
}

.cancel-btn {
  text-decoration: underline;
}

.otp-footer {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resend-otp {
  font-size: 12px;
  text-align: right;
  display: block;
  color: #000;
  margin-top: 10px;
  margin-bottom: 45px;
}

.resend-otp a {
  color: #000;
}

a.input-label-otp {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  display: block;
  margin-bottom: 10px;
}

.number-integer {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.number-integer::-webkit-outer-spin-button, .number-integer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-integer[type="number"] {
  -moz-appearance: textfield;
}

.otp-not-sent,
.otp-sent-to {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1.25rem;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 1.5625rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #4AA82E;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #4AA82E;
}

/* reset input */
.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-field {
  position: relative;
  font-size: 16px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  width: 100%;
}

.custom-field .select2-container {
  display: block;
}

.custom-field .login-input {
  width: 420px;
}

.custom-field .select2-container--default .select2-selection--single .select2-selection__clear,
.custom-field .select2-container--default .select2-selection--single .select2-selection__rendered,
.custom-field .select2-container--default .select2-selection--single .select2-selection__arrow,
.custom-field .select2-container .select2-selection--single {
  height: 46px;
}

.custom-field .select2-container--default .select2-selection--single {
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  text-transform: capitalize;
}

.file-input,
.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 9px 12px;
  border-radius: 8px 8px 0px 0px;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #000;
  font-weight: normal;
  color: #4A4A4A;
  cursor: text;
}

.file-input {
  background: url(../images/icons/upload-icon.svg) no-repeat right 12px center;
  background-size: 30px;
  color: #4A4A4A;
}

.custom-field .placehold {
  position: absolute;
  left: 2px;
  width: calc(100% - (12px * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 21px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4A4A4A;
  -webkit-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  cursor: text;
}

.custom-field.focused .placehold {
  top: -10px;
  font-size: 14px;
  color: #4AA82E;
  text-transform: capitalize;
}

.custom-field .error-message {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0px;
  font-size: 12px;
  background: transparent;
  color: #d30909;
  height: 24px;
  text-transform: capitalize;
}

.custom-field .error-message:empty {
  opacity: 0;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  border-bottom-width: 2px;
  border-bottom-color: #4AA82E;
}

.select2-results__option {
  text-transform: capitalize !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #4AA82E;
  color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #4A4A4A;
  line-height: 46px;
}

.radio-show-select {
  width: 480px;
}

.radio-show-select .custom-field {
  padding-top: 0;
  border-top: 0;
}

.radio-show-select .select2-container {
  width: 100% !important;
}

.info-div {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.tooltip-list {
  margin: 0;
  padding: 0px 5px 5px 15px;
  font-size: 10px;
  text-align: left;
}

.tt-head {
  font-size: 10px;
  text-align: left;
  padding: 5px 5px 5px 10px;
  margin-bottom: 0;
}

.radio-wrapper {
  font-size: 14px;
}

.radio-wrapper .custom-control-label {
  color: rgba(74, 74, 74, 0.5);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label {
  color: #4a4a4a;
}

.custom-select {
  outline: none;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  height: 44px;
}

.custom-select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4AA82E;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-width: 2px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 98px !important;
  overflow-y: auto;
}

@media screen and (min-width: 1367px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1681px) {
  .prjcard {
    width: 23%;
  }
}

@media screen and (max-width: 1023px) {
  .delear-card-wrapper {
    padding: 3rem 1.625rem 9rem 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .radio-show-select {
    width: 100%;
  }
  #signup {
    margin-top: 30px;
  }
  .dealer-header + .container {
    padding: 0;
  }
  .custom-field .login-input {
    width: 100%;
    margin-bottom: 15px;
  }
  .form-inline-skoda {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .form-inline-skoda .col-b {
    display: block;
  }
}
/*# sourceMappingURL=dealer-style.css.map */