﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string username = ViewBag.UserName;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />


    <!-- Bootstrap core CSS -->
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/vendor/custom_scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/css/dealer/dealer-style.css" rel="stylesheet" />
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" /> 
    <link href="~/vendor/fontAwesome/css/font-awesome.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <script src="~/vendor/jquery/jquery.js"></script>
</head>
<body>
    <div class="dealer-header">
        <header>
            <div class="logo-wrp">
                <img src="~/images/login/SkodaLogo.svg" class="img-fluid" alt="skoda logo" />
            </div>
        </header>
        <div class="breadcrumb">
            Go to <span class="breadcrumb-item"><a href="../Delear/Signup">Homepage</a></span>
        </div>
    </div>
    <div class="container">
        <div class="banner">
            <img src="~/images/login/banner-y.png" class="img-fluid" alt="banner" />
        </div>
        <div class="delear-card-wrapper">
            @RenderBody()
        </div>

    </div>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.full.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>

    @RenderSection("Scripts", required: false)

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('select').select2({
                allowClear: true
            });

            $('input').focus(function () {
                $(this).parents('.custom-field').addClass('focused');
            });
            

            $('input').blur(function () {
                var inputValue = $(this).val();
                if (inputValue == "") {
                    $(this).removeClass('filled');
                    $(this).parents('.custom-field').removeClass('focused');
                } else {
                    $(this).addClass('filled');
                }
            })


        })
    </script>
</body>
</html>
