﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string username = ViewBag.UserName;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap core CSS -->
    <link href="~/fonts/fonts.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/vendor/custom_scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/vendor/toggleMenu/vmenuModule.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link media="screen" rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    @RenderSection("Styles", required: false)
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/custom_scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <header>
        <div class="header-left">
            @*<div class="burger-icon">
                <img class="img-fluid" src="~/images/icons/burger-icon.svg" alt="menu icon" />
            </div>*@
            <div class="header-logo">
                <img class="img-fluid" src="~/images/login/SkodaLogo.svg" alt="logo" />
            </div>
        </div>
        <div class="header-right">
            <div class="notif-wrp">
                <a class="dropdown-toggle"
                   id="notificationdropdownUserLink"
                   role="button"
                   data-toggle="dropdown"
                   aria-expanded="false">
                    <div class="notif_count">
                        <span class="noti-value" id="NotificationCount"></span>
                        <img class="img-fluid"
                             src="~/images/icons/notification-icon.svg"
                             alt="notification" />
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="NotificationContainer">
                    <h4 class="class=" dropdown-item"">Notifications</h4>
                    <div class="noti-list-wrp">

                    </div>

                </div>
            </div>
            <div class="user-service">
                <a class="dropdown-toggle"
                   href="#"
                   id="navbardropdownUserLink"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <img src="~/images/icons/user.svg" class="rounded-circle" />
                </a>
                <div class="dropdown-menu" aria-labelledby="navbardropdownUserLink">

                    <a class="dropdown-item" href="#">@username </a>
                    <a class="dropdown-item" href="@Url.Action("Profile", "Admin")">Edit Profile</a>
                    <a class="dropdown-item" href="@Url.Action("Logout", "Admin")">Log Out</a>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard-wrapper">
        <main>
            @RenderBody()
        </main>
    </div>
    @RenderSection("RenderFooter", required: false)

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
    <script src="~/vendor/stickybits/stickybits.min.js"></script>
    <script src="~/vendor/select2/select2.full.js"></script>
    <script src="~/vendor/toggleMenu/vmenuModule.js"></script>
    <script type="text/jscript">
        $(document).ready(function () {
            var inputfield = document.getElementsByClassName("form__field");

            for (i = 0; i < inputfield.length; i++) {

                var inputValue = $(inputfield[i]).val();
                $(inputfield[i]).parents('.custom-field').addClass('focused');
                if (inputValue == "") {
                    $(inputfield[i]).removeClass('filled');
                    $(inputfield[i]).parents('.custom-field').removeClass('focused');
                } else {
                    $(inputfield[i]).addClass('filled');
                }
            }

            $('input').focus(function () {
                $(this).parents('.custom-field').addClass('focused');
            });

            $('input').blur(function () {
                var inputValue = $(this).val();
                if (inputValue == "") {
                    $(this).removeClass('filled');
                    $(this).parents('.custom-field').removeClass('focused');
                } else {
                    $(this).addClass('filled');
                }
            })

            $('textarea').focus(function () {
                $(this).parents('.custom-field').addClass('focused');
            });


            $('textarea').blur(function () {
                var inputValue = $(this).val();
                if (inputValue == "") {
                    $(this).removeClass('filled');
                    $(this).parents('.custom-field').removeClass('focused');
                } else {
                    $(this).addClass('filled');
                }
            })

            stickybits("header"); 

            $('select').select2({
                dropdownPosition: 'below'
            });
            $(function GetNotifications() {

                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'Admin/FetchNotification',
                    async: false,
                    cache: false,
                    success: function (response) {
                        if (response.result == "success") {
                            $("#NotificationCount").html(response.data.length);
                        }
                        for (i = 0; i < response.data.length; i++) {
                          
                            var a = "<a class='dropdown-item' href='../Admin/InvokeNotification?id=" + response.data[i].id + "&delearId=" + response.data[i].delearId + "'>" + response.data[i].message + "</a>";
                          //  var anchor = $("<a class='dropdown-item' href='"+ baseUrl + "Admin/InvokeNotification?id=" + response.data[i].id + "&delearId=" + response.data[i].delearId + "'>" + response.data[i].message + "</a>");
                            $('#NotificationContainer .noti-list-wrp').append(a);
                        }


                    },
                    complete: function () {
                        $("#NotificationContainer .noti-list-wrp").mCustomScrollbar();
                    },
                    error: function () {
                    }
                });
            })
        });
         var baseUrl = "@Url.Content("~/")";
    </script> 
    @RenderSection("Scripts", required: true)
</body>
</html>
