﻿@model string
@{
    string role = ViewBag.Role;
}
<aside class="sidebar u-vmenu">
    <ul class="list-unstyled">
        @if (@role == "Admin")
        {
            <li><a href="@Url.Action("DelearEnquiry", "Admin")" class="@(Model.Equals("ManageEnquiry", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-dash"> <span>Enquiry List</span> </a></li>
            <li><a href="@Url.Action("Index", "Admin")" class="@(Model.Equals("ManageUsers", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-user"> <span>Manage Users</span> </a></li>
            <li><a href="@Url.Action("RoleList", "Admin")" class="@(Model.Equals("ManageRole", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-roles"> <span>Roles</span> </a></li>
            <li><a href="@Url.Action("ZoneList", "Admin")" class="@(Model.Equals("ManageZone", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-zones"> <span>Zones</span> </a></li>
            <li><a href="@Url.Action("StateList", "Admin")" class="@(Model.Equals("ManageState", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-city"> <span>States</span> </a></li>
            <li><a href="@Url.Action("CityList", "Admin")" class="@(Model.Equals("ManageCity", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-city"> <span>Cities</span> </a></li>
            <li><a href="@Url.Action("DocumentIndex", "Admin")" class="@(Model.Equals("ManageDocs", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-doc"><span>Documents</span></a></li>
            <li>
                <a href="@Url.Action("Profile", "Admin")" class="@(Model.Equals("Admin", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-user "> <span>Profiles</span> </a>
            </li>

        }
        else
        {
            <li><a href="@Url.Action("DelearEnquiry", "Admin")" class="@(Model.Equals("ManageEnquiry", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-dash"> <span>Enquiry List</span> </a></li>
            <li><a href="@Url.Action("DocumentIndex", "Admin")" class="@(Model.Equals("ManageDocs", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-doc"><span>Documents</span></a></li>
            <li>
                <a href="@Url.Action("Profile", "Admin")" class="@(Model.Equals("Admin", StringComparison.InvariantCulture) ? "active" : "") nav-icon nav-icon-user "> <span>Profiles</span> </a>
            </li>
        }
    </ul>
</aside>
