﻿@model DelearLoginModel
@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_DealerLayout";
} 
<h1 class="page-title m24">Partner with ŠKODA AUTO India</h1>
<h6 class="welcome-text text-green">Welcome Back</h6>
<div class="login-username"></div>
<div class="form-wrapper">
    <form asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ReturnUrl" type="hidden" />
        <div class="form-group">
            <div class="form-inline-skoda">
                <label class="custom-field two">
                    <span class="col-a">
                        <input asp-for="MobileNo" id="MobileNo" placeholder="&nbsp;" class="login-input" autocomplete="off" onchange="validateMobile()" required />
                        <span class="placehold">Mobile</span>
                    </span>
                    <span class="col-b">
                        <button type="button" class="btn btn-primary pl-4 pr-4" id="otpPopup-btn">Get An OTP</button>
                    </span>
                    <span id="errmobile" class="error-message" aria-live="polite"></span>
                    <span class="small-text">Entered phone number will receive an OTP</span>
                    <span asp-validation-for="MobileNo" class="error-message" aria-live="polite"></span>
                </label>
                
            </div>
            
            
        </div>

    </form>
</div>
<!-- OTP POPUP -->
<div class="modal fade" id="otpPopup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <div class="otp-sent-to">OTP has been sent to 98765 01234</div>
                <div class="d-input-group">
                    <input id="d-input-1" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)">
                    <input id="d-input-2" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)">
                    <input id="d-input-3" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)">
                    <input id="d-input-4" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)">
                    <input id="d-input-5" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)">
                    <input id="d-input-6" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)">
                </div>
                <div class="otp-not-sent">Didn't receive code? <a id="otpPopup-btnResend" href="#">Request again</a></div>
                <div class="otp-footer form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" id="submit" class="btn btn-primary pl-4 pr-4 ml-2">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="otp_alert">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <h5 style="text-align:center" id="otp-msg"></h5>
                <div class="otp-footer form-inline">
                    <a id="otp_success_btn" class="btn btn-primary" data-dismiss="modal">OK</a>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript"> 
        function validateMobile() {

            var mobile = $("#MobileNo").val();
            var reg = /^[0-9]{10}$/; 
            if (reg.test(mobile)) {
                
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number  of 10 digits - Only Numbers';

                $("#MobileNo").val('');
                $("#MobileNo").focus();

            }
        }



        $('#otpPopup-btn').click(function () {

            var mobile = $('#MobileNo').val();
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + 'Delear/LoginUsers',  
                    data: { MobileNo: mobile },
                    success: function (data) {
                        if (data == false) {                            
                            $('#otpPopup').modal('show');
                            $('.otp-sent-to').html('OTP has been sent to ' + mobile);
                            //window.location = "/Home/Index";
                        }
                        else {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('failed for Otp Sent');
                            
                        }
                    }


                })
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number of 10 digits- Only Numbers';

                $("#MobileNo").val('');
                $("#MobileNo").focus();

            }
            // Do client side button click stuff here.
        });
        $('#otpPopup-btnResend').click(function () {

            var mobile = $('#MobileNo').val();
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + 'Delear/LoginUsers',
                    data: { MobileNo: mobile },
                    success: function (data) {
                        if (data == false) {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Otp Resent Successfully');
                            $('.otp-sent-to').html('OTP has been sent to ' + mobile);
                        }
                        else {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Mobile Number does not exist');
                        }
                    }
                })
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number of 10 digits- Only Numbers';

                $("#MobileNo").val('');
                $("#MobileNo").focus();

            }
            // Do client side button click stuff here.
        });
        $('#submit').click(function () { 
            var MobileNo = $('#MobileNo').val();

            var onedigit = $('#d-input-1').val();
            if (onedigit == undefined || onedigit == null) {
                alert("Enter Otp 1");
                return;
            }
            var secdigit = $('#d-input-2').val();
            if (secdigit == undefined || secdigit == null) {
                alert("Enter Otp 2");
                return;
            }
            var thirddigit = $('#d-input-3').val();
            if (thirddigit == undefined || thirddigit == null) {
                alert("Enter Otp 3");
                return;
            }
            var fourthdigit = $('#d-input-4').val();
            if (fourthdigit == undefined || fourthdigit == null) {
                alert("Enter Otp 4");
                return;
            }
            var fivedigit = $('#d-input-5').val();
            if (fivedigit == undefined || fivedigit == null) {
                alert("Enter Otp 5");
                return;
            }
            var sixdigit = $('#d-input-6').val();
            if (sixdigit == undefined || sixdigit == null) {
                alert("Enter Otp 6");
                return;
            }
            var otp = onedigit + secdigit + thirddigit + fourthdigit + fivedigit + sixdigit;
            $.ajax({
                url: baseUrl + 'Delear/LoginOTP', 
                type: "post",
                data: { otp: otp, mobilenumber: MobileNo },
                success: function (data) {
                     
                    if (data == "multi") { 
                        
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Verification successfull');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Dashboard/List";
                        });
                        
                        otp = [];
                        $('#otpPopup').modal('hide');
                    }
                    else if (data == "alert") {
                        
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Mobile Number does not exist');
                        otp = [];
                        $('#otpPopup').modal('hide');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Delear/login";
                        });
                        
                      
                    }
                    else if (data == "Otp is not valid") {
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('failed for Otp verifaction');
                        
                        otp = [];
                        $('#otpPopup').modal('hide');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Delear/login";
                        });
                        
                    }
                    else {
                        
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Verification successfull');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Dashboard/Index?id=" + data;
                        });
                        
                        otp = [];
                        $('#otpPopup').modal('hide');
                    }
                }


            })
            // Do client side button click stuff here.
        });
        function clearotpdata() {
            $('#d-input-1').val("");
            $('#d-input-2').val("");
            $('#d-input-3').val("");
            $('#d-input-4').val("");
            $('#d-input-5').val("");
            $('#d-input-6').val("");
        }
        //OTP FIELDS JS START
        function getCodeBoxElement(index) {
            return document.getElementById('d-input-' + index);
        }
        function onKeyUpEvent(index, event) {
             
             
            const eventCode = event.which || event.keyCode;

            if (getCodeBoxElement(index).value.length === 1) {
                if (index !== 6) {
                    getCodeBoxElement(index + 1).focus();
                } else {
                    getCodeBoxElement(index).blur();
                    // Submit code
                    console.log('submit code ');
                }
            }
            if (eventCode === 8 && index !== 1) {
                getCodeBoxElement(index - 1).focus();
            }
        }
        function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
                const currentElement = getCodeBoxElement(item);
                if (!currentElement.value) {
                    currentElement.focus();
                    break;
                }
            }
        } 
    </script> 
}