﻿@model UserProfile
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Profile";
    Layout = "_DealerLayout";
}@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }

<div class="dashboard">
    <div class="dash-content">
        <div class="dashboard-inner  user_create">
            <div class="dash-title">
                <h4>User Profile</h4>
            </div>

            <form asp-action="Profile" asp-controller="User">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="control-label">Full Name</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="control-label">Email ID</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group row"> 
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Choose Role</label>
                            <select asp-for="RoleId" class="form-control custom-select" asp-items="Model.Roles">
                            </select>
                        </div>
                    </div>

                </div>
                 
                <div class="form-row">
                    <hr />
                </div>
                    <div class="form-row">
                        <div class="col mr-3">
                            <a asp-controller="ChangePassword" asp-action="Index" class="btn btn-primary mr-2" asp-route-id="@Model.UserId">Change Password</a>
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}