﻿@model SignupModel
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Create User";
    Layout = "_DealerLayout";
}

<h1 class="page-title m24">Partner with ŠKODA AUTO India</h1>
<p>ŠKODA has a rich global legacy spanning more than 125 years. We already invested one billion euros in the development of new vehicles in India, we at ŠKODA India, present to you the opportunity to join hands and grow with us. We are in a quest for new sales and service partners to be a part of ŠKODA AUTO Volkswagen India Pvt Ltd. and help us expand the reach of the ŠKODA AUTO brand.</p>
<div class="fixed-top left span6 showbox">
    <p id="error-message"></p>
</div>

<form id="signup">

    <span id="errormessage">
        @if (Model.ErrorMessage != null)
        {
            <label class="field-validation-valid text-danger">@Model.ErrorMessage.ToString()</label>;
        }
    </span>
    <div class="form-group row">
        <div class="col-md-12">
            <input type="hidden" id="citywithPin" value="false" />
            <label class="custom-field two">
                <input asp-for="Fullname" class="" maxlength="100" autocomplete="off" placeholder="&nbsp;" id="fullname" onchange="validateName()" required />
                <span class="placehold">Full Name</span>
                <span asp-validation-for="Fullname" id="errname" class="error-message" aria-live="polite"></span>
            </label>
        </div>
        <div class="col-md-6">
            <label class="custom-field two">
                <input asp-for="Email" class="form__field" maxlength="100" autocomplete="off" placeholder="&nbsp;" id="email1" onchange="validateEmail()" required />
                <span class="placehold">Email</span>
                <span asp-validation-for="Email" id="erremail" class="error-message" aria-live="polite"></span>
            </label>
        </div>
        <div class="col-md-6">
            <label class="custom-field two">
                <input asp-for="MobileNo" class="form__field" autocomplete="off" placeholder="&nbsp;" id="mobileno" onchange="validateMobile()" required />
                <span class="placehold">Mobile</span>
                <span class="small-text">Entered phone number will receive an OTP</span>
                <span asp-validation-for="MobileNo" id="errmobile" class="error-message" aria-live="polite"></span>
            </label>
        </div>
        <div class="col-md-6">
            <label class="custom-field two">
                <select asp-for="StateId" class="form-control custom-select" id="StateId" data-placeholder="States"   asp-items="Model.States">
                </select>
                <span asp-validation-for="StateId" id="errcity" class="error-message" aria-live="polite"></span>
            </label>
        </div>
        <div class="col-md-6">
            <label class="custom-field two">
                <select asp-for="CityId" class="form-control custom-select" id="selcity" data-placeholder="Cities currently Open for expansion"  asp-items="Model.Cities">
                </select>
                <span asp-validation-for="CityId" id="errcity" class="error-message" aria-live="polite"></span>
            </label>
        </div>
        <div class="col-md-6" id="LocOther">
            <label class="custom-field two">
                <select asp-for="OCityId" class="form-control custom-select" id="selocity" data-placeholder="Other Location"  asp-items="Model.OCities">
                </select>
                <span asp-validation-for="OCityId" class="error-message" aria-live="polite"></span>
            </label>
        </div>

        <div class="col-md-6">
            <label class="custom-field two">
                <input asp-for="Pincode" class="form__field" autocomplete="off" placeholder="&nbsp;" id="pincode" maxlength="6"/>
                <span class="placehold">Pincode (Optional)</span>
                <span class="text-danger"></span>
            </label>
        </div>

    </div>

    <div class="form-row justify-content-center mt-5">
        <input type="button" value="Next" id="otpPopup-btn" class="btn btn-primary pl-4 pr-4" />
    </div>

</form>

<div class="modal fade" id="otpPopup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <div class="otp-sent-to"></div>
                <div class="d-input-group">
                    <input id="d-input-1" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)">
                    <input id="d-input-2" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)">
                    <input id="d-input-3" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)">
                    <input id="d-input-4" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)">
                    <input id="d-input-5" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)">
                    <input id="d-input-6" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)">
                </div>
                <div class="otp-not-sent">Didn't receive code? <a id="otpPopup-btnresent" href="#">Request again</a></div>
                <div class="otp-footer form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" id="submit" class="btn btn-primary pl-4 pr-4 ml-2">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="otp_alert">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <h5 style="text-align:center" id="otp-msg"></h5>
                <div class="otp-footer form-inline">
                    <a id="otp_success_btn" class="btn btn-primary" data-dismiss="modal">OK</a>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#selcity").prop('selectedIndex', '');
            var x = document.getElementById("LocOther");
            x.style.display = "none";
        });
        function validateMobile() {
            var mobile = $("#mobileno").val();
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {
                document.getElementById('errmobile').innerHTML = '';

            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number - Only Numbers';
                $("#mobileno").val('');
                $("#mobileno").focus();

            }
        }
    
        $('#StateId').change(function () {
            $.ajax({
                url: baseUrl + 'Delear/FillCity',
                data: { Id: $(this).val() },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#selcity").empty(); 
                    for (var i = 0; i < data.length; i++) {
                        $("#selcity").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        captionChange();
                    }
                },
                error: function () {
                }
            });
        }); 
        function captionChange() {
            var x = document.getElementById("LocOther");
            var selid = document.getElementById("selcity").value;
            var StateId = $('#StateId').val();
            if (selid == '0') {
                $.ajax({
                    url: baseUrl + 'Delear/FillOtherCity',
                    data: { StateId: StateId },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        $("#selocity").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#selocity").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                        }
                    },
                    error: function () {
                    }
                });
                x.style.display = "block";
            }
            else {

                x.style.display = "none";
            }
            getpincode();
        }
        function validateName() {

            var cname = $("#fullname").val();
            var reg = /^[a-zA-Z ]+$/;

            if (reg.test(cname)) {
                document.getElementById('errname').innerHTML = '';
            }
            else {
                document.getElementById('errname').innerHTML = 'Please enter Valid Name - Only Alphabets';
                $("#fullname").val('');
                $("#fullname").focus();

            }
        }
        function validateEmail() {

            var email = $("#email1").val();
            var reg = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if (reg.test(email)) {
                document.getElementById('erremail').innerHTML = '';
            }
            else {
                document.getElementById('erremail').innerHTML = 'Please enter Valid Email ID';
                $("#email1").focus();

            }
        }  
        $('#otpPopup-btn').click(function () {
            if (document.getElementById("fullname").value == "") {
                document.getElementById('errname').innerHTML = 'Please enter fullname';
                return
            }
            if ($("#email1").val() == "") {
                document.getElementById('erremail').innerHTML = 'Please enter email';
                return
            }
            if (document.getElementById("selcity").value == "") {
                document.getElementById('errcity').innerHTML = 'Please select city';
                return
            }

            var mobile = $('#mobileno').val();
            var name = $('#fullname').val();
            var email = $('#email1').val();
            var cityId = $("#selcity").val();
            $('.otp-sent-to').html('OTP has been sent to ' + mobile);
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + 'Delear/SignupOTP',
                    data: { mobile: mobile, name: name, email: email, cityId: cityId},
                    success: function (data) {
                        if (data == false) { 
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Otp sent Successfully');
                            setTimeout(function () {
                                $("#otp_alert").modal("hide");
                            }, 1000);
                            setTimeout(function () {
                                $('#otpPopup').modal('show');
                            },2000);
                        }
                        else {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Mobile number already registered with us please <a href="http://pos.skodalive.in/DIAS/Delear/login">LOGIN</a>DIAS');
                            $("#mobileno").focus();
                        }
                    }


                })
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number of 10 digits- Only Numbers';

                $("#mobileno").val('');
                $("#mobileno").focus();

            }
            // Do client side button click stuff here.
        });
        $('#otpPopup-btnresent').click(function () {
            
            if (document.getElementById("fullname").value == "") {
                document.getElementById('errname').innerHTML = 'Please enter fullname';
                return
            }
            if ($("#email1").val() == "") {
                document.getElementById('erremail').innerHTML = 'Please enter email';
                return
            }
            if (document.getElementById("selcity").value == "") {
                document.getElementById('errcity').innerHTML = 'Please select city';
                return
            }

            var mobile = $('#mobileno').val();
            var name = $('#fullname').val();
            var email = $('#email1').val();
            var cityId = $("#selcity").val(); 
            $('.otp-sent-to').html('OTP has been sent to ' + mobile);
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + 'Delear/SignupOTP',
                    data: { mobile: mobile, name: name, email: email, cityId: cityId },
                    success: function (data) {
                        if (data == false) {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Otp Resent Successfully'); 
                        }
                        else {
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('failed for Otp Sent'); 
                        }
                    }


                })
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number of 10 digits- Only Numbers';

                $("#mobileno").val('');
                $("#mobileno").focus();

            }
            // Do client side button click stuff here.
        });
        $('#submit').click(function () {

            var MobileNo = $('#MobileNo').val();
            var onedigitss = $('#selocity').val();
            var onedigit = $('#d-input-1').val();
            if (onedigit == undefined || onedigit == null) {
                alert("Enter Otp 1");
                return;
            }
            var secdigit = $('#d-input-2').val();
            if (secdigit == undefined || secdigit == null) {
                alert("Enter Otp 2");
                return;
            }
            var thirddigit = $('#d-input-3').val();
            if (thirddigit == undefined || thirddigit == null) {
                alert("Enter Otp 3");
                return;
            }
            var fourthdigit = $('#d-input-4').val();
            if (fourthdigit == undefined || fourthdigit == null) {
                alert("Enter Otp 4");
                return;
            }
            var fivedigit = $('#d-input-5').val();
            if (fivedigit == undefined || fivedigit == null) {
                alert("Enter Otp 5");
                return;
            }
            var sixdigit = $('#d-input-6').val();
            if (sixdigit == undefined || sixdigit == null) {
                alert("Enter Otp 6");
                return;
            }
            var otp = onedigit + secdigit + thirddigit + fourthdigit + fivedigit + sixdigit;
            $.ajax({
                url: baseUrl + 'Delear/Signup',
                type: "post",
                //  data: { otp: otp, model: data },
                data: $("#signup").serialize() + "&otp=" + otp,
                success: function (data) {
                    if (data == "success") {
                        otp = [];
                        $('#otpPopup').modal('hide');
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Verification successfully'); 
                        window.location = baseUrl + "Delear/SignupDetail";  
                    }
                    else if (data == "Otp is not valid") {
                        otp = [];
                        $('#otpPopup').modal('hide');
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('failed for Otp verifaction'); 
                    
                        window.location = baseUrl + "Delear/Signup";
                    }
                    else {
                        otp = [];
                        $('#otpPopup').modal('hide');
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Mobile number already registered with us');  
                        window.location = baseUrl + "Delear/Signup";
                    }
                }


            })
            // Do client side button click stuff here.
        });
        function clearotpdata() {
            $('#d-input-1').val("");
            $('#d-input-2').val("");
            $('#d-input-3').val("");
            $('#d-input-4').val("");
            $('#d-input-5').val("");
            $('#d-input-6').val("");
        }
        //OTP FIELDS JS START
        function getCodeBoxElement(index) {
            return document.getElementById('d-input-' + index);
        }
        function onKeyUpEvent(index, event) {


            const eventCode = event.which || event.keyCode;

            if (getCodeBoxElement(index).value.length === 1) {
                if (index !== 6) {
                    getCodeBoxElement(index + 1).focus();
                } else {
                    getCodeBoxElement(index).blur();
                    // Submit code
                    console.log('submit code ');
                }
            }
            if (eventCode === 8 && index !== 1) {
                getCodeBoxElement(index - 1).focus();
            }
        }
        function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
                const currentElement = getCodeBoxElement(item);
                if (!currentElement.value) {
                    currentElement.focus();
                    break;
                }
            }
        }
    </script>


}