﻿@model SignupDetailModel
@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_DealerLayout";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string FullName = ViewBag.FullName;
    string MobileNo = ViewBag.MobileNo;
    string City = ViewBag.City;
    string Email = ViewBag.Email;
    bool Cities = true;
    if (ViewBag.Citys != null)
    {
        Cities = ViewBag.Citys;
    }
    else
    {
        Cities = false;
    }

}

<h1 class="page-title m24">Partner with ŠKODA AUTO India</h1>
<h6 class="welcome-text text-green">Welcome!</h6>
<div class="signup-username">@FullName</div>
<div>@Email | @MobileNo </div>
<div>@City</div>


<div class="more-info-text">
    <small class="small-text">We would like to know more about your Interest. Please submit the below fields for our further engagement.</small>
</div>

<div class="fixed-bottom right span6 showbox" style="width:300px;">
    <p id="error-message"></p>
</div>

<form asp-action="signupDetail" id="myform">
    <div asp-validation-summary="ModelOnly" class="error-message"></div>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="text-danger">@Model.ErrorMessage</div>
    }
    <div class="bussiness-type-wrp">
        <div class="form-title">
            Type Of Business
            @*<span>
            <img src="~/images/icons/info-icon-grey.svg" class="info-div" data-toggle="tooltip" data-placement="right" data-html="true" title="<p class='tt-head'>Please tell us about </p> <ol class='tooltip-list'><li>Your experience about current business.</li><li>Why you are interested in Skoda dealership</li><li>What is your unique selling proposal</li></ol>" />
        </span>*@
        </div>
        <div class="radio-wrapper mb-4">
            <div class="custom-control custom-radio custom-control-inline">
                @Html.RadioButtonFor(m => m.Bussiness_Type, "Business(Automobile)", new { @class = "custom-control-input", id = "Bussiness_Type-1", @onclick = "changeplaceholder('Bussiness_Type-1')" })
                @Html.LabelFor(m => m.Bussiness_Type, "Business(Automobile)", new { @class = "custom-control-label", @for = "Bussiness_Type-1" })
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                @Html.RadioButtonFor(m => m.Bussiness_Type, "Business Other", new { @class = "custom-control-input", id = "Bussiness_Type-2", @onclick = "changeplaceholder('Bussiness_Type-2')" })
                @Html.LabelFor(m => m.Bussiness_Type, "Business Other", new { @class = "custom-control-label", @for = "Bussiness_Type-2" })
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                @Html.RadioButtonFor(m => m.Bussiness_Type, "Salaried", new { @class = "custom-control-input", id = "Bussiness_Type-3", @onclick = "changeplaceholder('Bussiness_Type-3')" })
                @Html.LabelFor(m => m.Bussiness_Type, "Salaried", new { @class = "custom-control-label", @for = "Bussiness_Type-3" })
            </div>
            <span asp-validation-for="Bussiness_Type" aria-live="polite" class="error-message"></span>
        </div>
    </div>
    <div class=" radio-show-select divbackgroup mb-4" style="display:none">
        <label class="custom-field two">
            <select class="form-control" asp-for="BackgroundId" data-placeholder="Automobile" asp-items="@(new SelectList(Model.Background, "Value", "Text"))">
                <option value="">--Select--</option>
            </select>
        </label>
    </div> 
    <div class="business-more-info">
        <div class="form-row">
            <div class="col-md-6 divbusinessname">
                <label class="custom-field two">
                    <input asp-for="Register_BussinessName" maxlength="100" class="" placeholder="&nbsp;" />
                    <span class="placehold" id="lblnameofbusiness">Registered name of your business</span>
                    <span asp-validation-for="Register_BussinessName" aria-live="polite" class="error-message"></span>
                </label>
            </div>

            <div class="col-md-6 divbrandname">
                <label class="custom-field two">
                    <input asp-for="Brand_name" maxlength="100" class="form__field" placeholder="&nbsp;" />
                    <span class="placehold" id="lblnameofbrand">Mention the existing brand handled</span>
                    <span asp-validation-for="Brand_name" aria-live="polite" class="error-message"></span>
                </label>
            </div>
            @if (@Cities)
            {
                <div class="col-md-12">
                    <div class="label-about">
                        <span id="spnbrief"> Brief about your existing business / experiences</span>
                        <span>
                            <img src="~/images/icons/info-icon-grey.svg" class="info-div" data-toggle="tooltip" data-placement="right" data-html="true" title="<p class='tt-head'>Please tell us about </p> <ol class='tooltip-list'><li>Your experience about current business.</li><li>Why you are interested in ŠKODA dealership</li><li>What is your unique selling proposal</li></ol>" />
                        </span>
                    </div>
                    <label class="custom-field two" style="border: 0;">
                        <textarea asp-for="About_BussinessExp" class="form__field" rows="1" maxlength="300" autocomplete="off" placeholder="&nbsp;">
    
                    </textarea>

                        <span asp-validation-for="About_BussinessExp" aria-live="polite" class="error-message"></span>
                    </label>

                </div>
            }
        </div>
        @if (@Cities)
        {
            <div class="form-title">
                Source
                <span>
                    <img src="~/images/icons/info-icon-grey.svg" class="info-div" data-toggle="tooltip" data-placement="right" data-html="true" title="<p class='tt-head'>Tell us how did you find ŠKODA AUTO India Dealership program ?</p>" />
                </span>
            </div>


            <div class="custom-field ">
                <div class="radio-wrapper mb-2">
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.Source, "Direct", new { @class = "custom-control-input", id = "Direct" })
                        @Html.LabelFor(m => m.Source, "Direct", new { @class = "custom-control-label", @for = "Direct" })
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.Source, "Print Campaign", new { @class = "custom-control-input", id = "PrintCampaign" })
                        @Html.LabelFor(m => m.Source, "Print Campaign", new { @class = "custom-control-label", @for = "PrintCampaign" })
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.Source, "Social/Digital media", new { @class = "custom-control-input", id = "SocialMedia" })
                        @Html.LabelFor(m => m.Source, "Social/Digital media", new { @class = "custom-control-label", @for = "SocialMedia" })
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.Source, "Reference", new { @class = "custom-control-input", id = "Reference" })
                        @Html.LabelFor(m => m.Source, "Reference", new { @class = "custom-control-label", @for = "Reference" })
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(m => m.Source, "Others", new { @class = "custom-control-input", id = "Others" })
                        @Html.LabelFor(m => m.Source, "Others", new { @class = "custom-control-label", @for = "Others" })
                    </div>

                </div>
                <span asp-validation-for="Source" aria-live="polite" class="error-message"></span>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="custom-field two">
                        <input asp-for="How_Know" maxlength="100" class="" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">How did you come to know about this opportunity in ŠKODA?</span>
                    </label>
                </div>

            </div>
        }


    </div>
    <div class="form-row justify-content-center">
        <input type="submit" id="FormSubmit" onClick="this.form.submit(); this.disabled=true;" value="Submit" class="btn btn-primary pl-4 pr-4" />
    </div>
    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };
            $('#FormSubmit').click(function (e) {
                $('.spinner').css('display', 'block'); 
            });
        });
        function changeplaceholder(cntrlid) {
            $(".divbackgroup").hide(); 
            $(".divbusinessname").show();
            $(".divbrandname").show();
            if (cntrlid == "Bussiness_Type-1") {
                $(".divbackgroup").show();
            }
            if (cntrlid == "Bussiness_Type-3") { 
                $('#spnbrief').text('Brief about your existing business');
            }
            
        }
    </script>
}