﻿@model SignupModel
@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_DealerLayout";
}


<h1 class="page-title m24">Partner with ŠKODA AUTO India</h1>
<div>
    @if (Model != null)
    {
        <h1 class="page-title m24">@Model.Bussiness_Type</h1>
        <h6 class="welcome-text text-green">Thank You</h6>
        <div class="signup-username">@Model.Fullname</div>
        <div>@Model.Email | @Model.MobileNo </div>
        <div class="mb-3">@Model.City  </div>

    }

    <span class="text-danger"></span>
    <div class="small-text mb-3">
        Thank you for showing your interest in our business. Looking forward to working with you, soon we will reach out to you for further engagement. You will receive an Email & SMS to the above contact details.
    </div>
    <div class="breadcrumb">
        Go to <span class="breadcrumb-item"><a href="Signup">Homepage</a></span>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}