﻿@model Skoda.DIAS.UI.Models.ChangePasswordModel
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Profile";
}@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }

<div class="dashboard">
    <div class="dash-content">
        <div class="dashboard-inner  ">
            <div class="dash-title">
                <h4>Change Password</h4>
            </div>
            <div class="user_create">
                <div class="changepasswraper">
                    <form asp-action="Index">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" id="divUseId" hidden="hidden">
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label"></label>
                            <input type="password" asp-for="OldPassword" data-val-required="Required!" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input type="password" asp-for="NewPassword" data-val-required="Required!" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input type="password" asp-for="ConfirmPassword" data-val-required="Required!" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <input type="submit" value="Cancel" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            

            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>

            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

