@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_DealerInLayout";
}
<style type="text/css">
    .approved {
        background-color: #35cb75 !important;
    }

    .hold {
        background-color: #f08557 !important;
    }

    .rejected {
        background-color: #f05959 !important;
    }
</style>
@using (Html.BeginForm("FileUpload", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();
    <h1 class="page-title m24">Partner with ŠKODA AUTO India</h1>
    <h6 class="welcome-text text-green">Welcome!</h6>
    <div class="signup-username mb-2">
        <span class="ui-d-page">
            <img src="~/images/icons/user_account_icon.svg" class="img-fluid" />
        </span> @ViewBag.DealerName
    </div>
    @if (ViewBag.Stage != 1)
    {
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#getSupport">
            Get Support  <i class="fa fa-question-circle" aria-hidden="true"></i>
        </button>
    }
    <div class="small-text mb-3">
        Your status is now @ViewBag.Status and at @ViewBag.StageName Stage.
    </div>

    <div class="track-wrpppp">
        <div class="small-text">@ViewBag.Status</div>
        <div class="track">
            <div class="step" id="step1">
                <div class="color-filler @(ViewBag.Stage == 1 || ViewBag.Stage == 2 || ViewBag.Stage == 3 || ViewBag.Stage == 4 || ViewBag.Stage == 5 || ViewBag.Stage == 6 ? "approved" : "")" id="step1f" style="border-radius: 10px 0 0 10px;"></div>
                <div class="app-s-wrp">
                    Requisite<br />Document
                </div>
            </div>
            <div class="step" id="step2">
                <div class="color-filler @(ViewBag.Stage == 2 || ViewBag.Stage == 3 || ViewBag.Stage == 4 || ViewBag.Stage == 5 || ViewBag.Stage == 6 ? "approved" : "")" id="step2f"></div>
                <div class="app-s-wrp">
                    Pre Due<br />Diligence
                </div>
            </div>
            <div class="step" id="step3">
                <div class="color-filler @(ViewBag.Stage == 3 || ViewBag.Stage == 4 || ViewBag.Stage == 5 || ViewBag.Stage == 6 ? "approved" : "")" id="step3f"></div>
                <div class="app-s-wrp">
                    Due<br />Diligence
                </div>
            </div>
            <div class="step" id="step4">
                <div class="color-filler @(ViewBag.Stage == 4 || ViewBag.Stage == 5 || ViewBag.Stage == 6 ? "approved" : "")" id="step4f"></div>
                <div class="app-s-wrp">
                    Presentation<br />& Interview
                </div>
            </div>
            <div class="step " id="step5">
                <div class="color-filler @(ViewBag.Stage == 5 || ViewBag.Stage == 6 ? "approved" : "")" id="step5f" style="border-radius: 0 10px 10px 0;"></div>
                <div class="app-s-wrp">
                    Final<br />Evaluation
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-title mb-2">Quick Documents</div>

            <div class="form-group mb-5">
                @if (ViewBag.Status != "Rejected" && ViewBag.Stage <= 5)
                {
                    <div class="form-inline-skoda align-items-center" id="UploadImage">
                        <div class="form__group field p-0">
                            <div class="file-wrp">
                                <input type="file" id="file" name="file" multiple onchange="return fileValidation()" style="display:none" />
                                <label for="file" class="file-upload-input m-0">Click here to upload documents</label>
                            </div>

                            <span class="field-validation-error" id="spanfile"></span>
                        </div>
                        <input type="submit" id="btnSubmit" class="btn btn-primary ml-3" value="Upload" />

                    </div>
                    <div class="small-text mt-2">Type of file extension to be allowed (.PNG, .JPG, .DOC, .PDF, .PPT, .XLSX)</div>
                }
            </div>
            <div class="mb-4 uploaded-Quick-files">
                @if (ViewBag.MasterDocuments != null)
                {
                    @if (ViewBag.Stage > 1 && ViewBag.Status == "Approved")
                    {
                        @foreach (var ite in ViewBag.MasterDocuments)
                        {
                            <div class="uploaded-file">
                                <span class="uploadedQ-file-name">
                                    @ite.FileName
                                </span>
                                <span class="uploadedQ-file-remove">
                                    <a asp-action="MasterDownload" asp-controller="Dashboard"
                                       asp-route-file="@ite.FileName">
                                        <img src="~/images/icons/download-icon.svg">
                                    </a>
                                </span>
                            </div>
                        }
                    }
                }
            </div>
            <hr />
            <div class="form-group mt-5">
                <div class="form-title mb-2">Submitted Documents</div>
                <div class="uploaded-files">
                    @if (ViewBag.attachDocuments != null)
                    {
                        @foreach (var item in ViewBag.attachDocuments)
                        {
                            <div class="uploaded-file">
                                <span class="uploaded-file-name">
                                    @item.Upload_Document
                                </span>
                                <span class="uploaded-file-remove">
                                    <a asp-action="Download" asp-controller="Dashboard"
                                       asp-route-file="@item.Upload_Document">
                                        <img src="~/images/icons/download-icon.svg">
                                    </a>
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group pl-md-5">

                @if (ViewBag.activities.Count != 0)
                {
                    <div class="mb-2">
                        <div class="form-title mb-0">Recent Activity</div>
                    </div>
                    <ul class="recent-activity mb-5">
                        @foreach (var ite in ViewBag.activities)
                        {
                            <li>
                                <div>@ite.Description</div>
                                <div class="small-text">@ite.Created_date.ToString("hh:mm tt")  |  @ite.Created_date.ToString("dd/MM/yyyy")</div>
                            </li>
                        }
                    </ul>
                }

            </div>
        </div>


    </div>

    <div class="row">
        @if (ViewBag.Count > 1)
        {
            <a asp-controller="Dashboard" asp-action="List" class="btn btn-secondary">Back</a>
        }
    </div>
    <!-- Modal -->
    <div class="modal fade" id="getSupport" tabindex="-1" role="dialog" aria-labelledby="getSupportLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="getSupportLabel">Support Team</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <tr style="background-color: #e2ffda">
                            <th>S.No.</th>
                            <th>Location</th>
                            <th>Full Name</th>

                            <th>Email ID</th>
                        </tr>
                        @if (@ViewBag.Support != null)
                        { 
                    <tr>
                        <td>1.</td>
                        <td>@ViewBag.Support.ZoneName</td>
                        <td>@ViewBag.Support.FullName</td>

                        <td>@ViewBag.Support.Email</td>
                    </tr>
                        }
                        
                        <tr>
                            <td>2.</td>
                            <td>South and west</td>
                            <td>Nilesh Dewjee</td>

                            <td>nilesh.dewjee@skoda-auto.co.in</td>
                        </tr>
                         
                    </table>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@

                </div>
            </div>
        </div>
    </div>


}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/jscript">
        $(document).ready(function () {

            if (@ViewBag.Stage == 1 || @ViewBag.Stage == 2) {
                $('#UploadImage').show();
            }
            else {
                $('#UploadImage').hide();
            }
            var stageval = '@ViewBag.StageId'

            if (stageval == '1') {
                $('#step1').addClass('active');
            }
            else if (stageval == '2') {

                $('#step1').addClass('active');
                $('#step2').addClass=('active');
            }
           else if (stageval == '3') {
                $('#step1').addClass('active');
                $('#step2').addClass('active');
                $('#step3').addClass('active');
            }
           else if (stageval == '4') {
                $('#step1').addClass('active');
                $('#step2').addClass('active');
                $('#step3').addClass('active');
                $('#step4').addClass('active');
            }
           else if (stageval == '5') {
                $('#step1').addClass('active');
                $('#step2').addClass('active');
                $('#step3').addClass('active');
                $('#step4').addClass('active');
                $('#step5').addClass('active');

            }
          if (@ViewBag.Stage == 1) {
            $("#step1f").removeClass('approved');
            if ('@ViewBag.Status' == 'OnHold') {
                $("#step1f").addClass('hold');
            }
            else if('@ViewBag.Status' == 'Rejected')
            {
                $("#step1f").addClass('rejected');
            }
            else {
                $("#step1").addClass('step active !important');
            }
        }
        else if (@ViewBag.Stage == 2) {
            $("#step2f").removeClass('approved');
            if ('@ViewBag.Status' == 'OnHold') {
                $("#step2f").addClass('hold');
            }
            else if ('@ViewBag.Status' == 'Rejected')
            {
                $("#step2f").addClass('rejected');
            }
            else {
                $("#step2").addClass('step active !important');
            }
        }
        else if (@ViewBag.Stage == 3) {

            $("#step3f").removeClass('approved');
            if ('@ViewBag.Status' == 'OnHold') {
                $("#step3f").addClass('hold');
            }
            else if ('@ViewBag.Status' == 'Rejected')
            {
                $("#step3f").addClass('rejected');
            }
            else {
                $("#step3").addClass('step active !important');
            }

        }
        else if (@ViewBag.Stage == 4) {
            $("#step4f").removeClass('approved');
            if ('@ViewBag.Status' == 'OnHold') {
                $("#step4f").addClass('hold');
            }
            else if ('@ViewBag.Status' == 'Rejected')
            {
                $("#step4f").addClass('rejected');
            }
            else {
                $("#step4").addClass('step active !important');
            }

        }
          else if (@ViewBag.Stage == 5) {
              $("#step5f").removeClass('approved');
            if ('@ViewBag.Status' == 'OnHold') {
                $("#step5f").addClass('hold');
            }
            else if ('@ViewBag.Status' == 'Rejected')
            {
                $("#step5f").addClass('rejected');
            }
            else {
                $("#step5").addClass('step active !important');
            }

        }

            $('#master').DataTable({
                lengthChange: false,
                pageLength: 20,
                bFilter: false,
                bSort: false,
                bPaginate: false,
                searching: false,
                paging: false,
                info: true,
                autoWidth: true
            });
        });
        function fileValidation() {
            var fileInput =
                document.getElementById('file');

            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.pdf|\.doc|\.docx|\.pptx|\.ppt|\.pps|\.xls|\.xlsx)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                $(".uploaded-files").empty();
                return false;
            }

            else {

                if (fileInput.files && fileInput.files[0]) {

                      var size =0;

                    var files = fileInput.files,
                        filesLength = files.length;
                    for (var i = 0; i < fileInput.files.length; i++) {
                        size +=fileInput.files[i].size;
                        if(size>209715200){
                            alert('max Upload files size 200mb');
                            return false;
                        }
                        var f = [];
                        f = files[i];
                        var fileReader = new FileReader();
                        fileReader.onload = (function (readerEvt) {
                            return function (e) {

                                console.log(readerEvt);
                                $('.uploaded-Quick-files').append("<div class=\"uploaded-file\"> <span class=\"uploaded-file-name\">" + readerEvt.name + "</span><span class=\"uploaded-file-remove remove\"> <img src=\"@Url.Content("~/images/icons/remove-file-icon.svg")\" / ></span></div>");
                                $(".remove").click(function () {
                                    $(this).parent(".uploaded-file").remove();
                                });
                                alert("Documents submitted successfully");

                            };
                        })(f);
                        fileReader.readAsDataURL(fileInput.files[i]);
                    }
                }
            }
        }

    </script>
} 