﻿@model List<DealerList>
@{
    ViewData["Title"] = "ŠKODA India > List";
    Layout = "_DealerInLayout";
} 
<div class="dashboard">
    <div class="dashboard-inner">
        <table id="user" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>

                    <th>
                        Enquiry ID
                    </th>
                    <th>FullName</th>
                    <th>Business Type</th>
                    <th>Business Name</th>
                    <th>Brand Name</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Enquiry Date</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var m in @Model)
                    {
                <tr>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId"> @m.EnquiryId </a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.FullName</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.BusinessType</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.BusinessName</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.Brand</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.City</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.Pincode</a></td>
                    <td><a asp-controller="Dashboard" asp-action="Index"  asp-route-id="@m.EnquiryId">@m.CreatedDt</a></td>
                </tr>
                    }
                }
                
            </tbody>
        </table>
    </div>
</div> 