﻿@model List<ActivityDetails>
@{
    ViewData["Title"] = "ŠKODA India > Acitity";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" />
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }
<div class="dashboard">
    <div class="dashboard-inner">
        <table id="activity" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var m in @Model)
                    {
                        <tr>
                            <td>@m.Description</td>
                            <td>@m.Comment</td>
                            <td>@m.Created_date</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}