﻿@model CityDetails
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Create City";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }
<div class="dashboard">
    <div class="dashboard-inner user_create">
        <h1 class="page-title mb-4">Create City</h1>
        <form asp-action="CityCreate" method="post">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input hidden asp-for="Id" />
                        <label class="control-label">Choose Zone</label>
                        <select asp-for="ZoneId" class="form-control custom-select" asp-items="Model.Zones">
                        </select>
                        <span asp-validation-for="ZoneId" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two"> 
                        <label class="control-label">Choose State</label>
                        <select asp-for="StateId" class="form-control custom-select" asp-items="Model.States">
                        </select>
                        <span asp-validation-for="StateId" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input asp-for="Name" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">City</span>
                        <span asp-validation-for="Name" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <textarea asp-for="Pincode" rows="1" class="form__field" autocomplete="off" placeholder="&nbsp;"></textarea>
                        <span class="placehold">PinCode</span>
                        <span class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Is Open: &nbsp;</label>
                        @if (Model.Id != 0)
                        {
                            @if (Model.IsOpen)
                            {
                                <label class="control-label">Yes</label>
                                <input id="isOpen" type="radio" checked name="isOpen" value="True" />
                                <label class="control-label">No</label>
                                <input id="isOpen" type="radio" name="isOpen" value="False" />
                            }
                            else
                            {
                                <label class="control-label">Yes</label>
                                <input id="isOpen" type="radio" name="isOpen" value="True" />
                                <label class="control-label">No</label>
                                <input id="isOpen" type="radio" checked name="isOpen" value="False" />
                            }
                        }
                        else
                        {
                            <label class="control-label">Yes</label>
                            <input id="isOpen" type="radio" name="isOpen" value="True" />
                            <label class="control-label">No</label>
                            <input id="isOpen" type="radio" name="isOpen" value="False" />
                        }
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="submit" value="Save" class="btn btn-primary pl-4 pr-4" />
                    <a asp-action="CityList" class="cancel-btn pl-4 pr-4">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $('#ZoneId').change(function () {
        $.ajax({
            url: baseUrl + 'Admin/FillState',
            data: { ZoneId: $(this).val() },
            type: "POST",
            dataType: "json",
            success: function (data) {
                $("#StateId").empty();
                $("#StateId").append('<option value="0">All</option>');
                for (var i = 0; i < data.length; i++) {
                    $("#StateId").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }
            },
            error: function () {
            }
        });
    });
</script>

}