﻿@model List<CityDetails>
@{
    ViewData["Title"] = "ŠKODA India > City";
}
 
@section Styles {
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" />
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageCity"); }
<div class="dashboard">
    <div class="dashboard-inner"> 
        <a class="btn btn-primary mb-3" asp-action="CityCreate">Create New</a>
        <table id="city" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr> 
                    <th>
                        Zone
                    </th>
                    <th>
                        City
                    </th> 
                    <th>PinCode</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var m in @Model)
                    {
                <tr>
                    <td>@m.ZoneName</td>
                    <td>@m.Name</td>
                    <td><a class="pincode-wrp">@m.Pincode</a></td>
                    <td><a class="btn-edit" href="@Url.Action("CityCreate", "Admin")?id= @m.Id"></a></td>
                    <td><a href='#' class='btn-delete' onclick="DeleteData(@m.Id); return false;"></a></td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
 
@section Scripts
{

    <script src="~/vendor/dataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function () {
            

            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadDataCity", "Admin")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        function OnSuccess(response) {
            var users = eval(response);
            $("#city").DataTable(
                {
                    dom: 'rft<"tbl-f"pli>',
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    language: {
                        info: " _START_ to _END_ of _TOTAL_ page(s)",
                        lengthMenu: " _MENU_ Items per page",
                        paginate: {
                            next: '&#8594;', // or '→'
                            previous: '&#8592;' // or '←' 
                        }
                    },
                    data: users,
                    columns: [
                        { "data": "ZoneName" },
                        { "data": "Name" },
                        {
                            "data": "Pincode",
                            "render": function (data) {
                                //data = data.split(',')
                                //    .map(w => w.charAt(0).toUpperCase() + w.slice(1))
                                //    .join(', ')
                                return '<div class="pincode_wrp">' + data +'</div>';
                            }
                        },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn-edit" href="@Url.Action("CityCreate", "Admin")?id=' + full.Id + '"></a>'; }
                        },
                        {
                            data: null, render: function (data, type, row) {
                                return "<a href='#' class='btn-delete' onclick=DeleteData('" + row.Id + "'); ></a>";
                            }
                        },]
                });
        };


        function DeleteData(ID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(ID);
            }
            else {
                return false;
            }
        }


        function Delete(Id) {
            $.ajax({
                type: 'POST',
                url: baseUrl + 'Admin/DeleteCity',
                data: { "Id": Id },
                async: false,
                cache: false,
                success: function (response) {
                    if (response.result == "success") {
                        window.location.reload();
                    } else if (response.result == "failure") {
                        alert('Error deleting User');
                    }
                },
                complete: function () {

                },
                error: function () {
                }
            });

        }
    </script>
}
