﻿@model UserDetails
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Create User";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }
<div class="dashboard">
    <div class="dashboard-inner user_create">
        <h1 class="page-title mb-4">Create User</h1>
        <form asp-action="Create" method="post">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input asp-for="Fullname" class="form__field" autocomplete="off" placeholder="&nbsp;" required />
                        <span class="placehold">Fullname</span>
                        <span asp-validation-for="Fullname" id="erremail" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input asp-for="UserId" type="hidden" />
                        @if (Model.UserId > 0)
                        {
                            <input asp-for="Username" class="form__field" autocomplete="off" placeholder="&nbsp;" disabled readonly />
                        }
                        else
                        {

                            <input type="text" asp-for="Username" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                            <span class="placehold">Username</span>
                            <span asp-validation-for="Username" class="error-message" aria-live="polite"></span>
                        }

                    </label>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input type="password" asp-for="Password" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">Password</span>
                        <span asp-validation-for="Password" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input type="text" asp-for="Mobile" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">Mobile</span>
                        <span asp-validation-for="Mobile" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="custom-field two">
                            <label class="control-label">Choose Role</label>
                            <select asp-for="RoleId" class="form-control custom-select" asp-items="Model.Roles">
                            </select>

                            <span asp-validation-for="RoleId" class="error-message" aria-live="polite"></span>
                        </label>



                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="custom-field two">
                            <label class="control-label">Operational City</label>
                            <select asp-for="CityId" class="form-control custom-select" asp-items="Model.Cities">
                            </select>
                            <span asp-validation-for="CityId" class="error-message" aria-live="polite"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="custom-field two">
                            <label class="control-label">Email</label>
                            <input type="text" asp-for="Email" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                            <span asp-validation-for="Email" class="error-message" aria-live="polite"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="submit" value="Save" class="btn btn-primary pl-4 pr-4" />
                    <a asp-action="Index" class="cancel-btn pl-4 pr-4">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}