﻿@model AdminDashboardModel
@{
    ViewData["Title"] = "ŠKODA India > Users";
}
@section Styles {
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" />
    <link href=" https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/vendor/scrollbar/perfect-scrollbar.css" rel="stylesheet" />

}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageEnquiry"); }

<div class="dashboard">
    <div class="dashboard-inner">
        <div class="filter-bar">
            <input type="hidden" id="enquiryHidden" value="Open" />
            <div class="filter-left">
                <h2>All Enquiries (@Model.TotalEnquiry)</h2>
            </div>
            <div class="filter-right">
                <div class="filter-inner">
                    <div id="user_filter" class="dataTables_filter">
                        <label>
                            <input class="top-search" type="Search" placeholder="Search" id="CustomSearchTextField" />
                        </label>
                    </div>
                </div>
                <div class="filter-inner">
                    <select class="form-control" asp-for="ZoneId" onchange="filterZone(this);" data-placeholder="Select Zone" asp-items="@(new SelectList(Model.Zones, "Value", "Text"))">
                        <option value="--Select--">Select Zone</option>
                    </select>
                </div>
                <div class="filter-inner">
                    <select class="form-control" asp-for="StateId" onchange="filterState(this);" data-placeholder="Select State" asp-items="@(new SelectList(Model.States, "Value", "Text"))">
                        <option value="--Select--">Select State</option>
                    </select>
                </div>
                <div class="filter-inner">
                    <input type="hidden" id="FordateSeWiseSerach" value="false" />
                    <select class="form-control" onchange="getCity(this);" asp-for="CityId" data-placeholder="Select City" asp-items="@(new SelectList(Model.Cities, "Value", "Text"))">
                        <option value="">Select City</option>
                    </select>
                </div>

                <div class="filter-inner">
                    <div class="input-group input-daterange">
                        <input asp-for="FromDate" class="date-input" onchange="getZone();" type="date" value="FromDate" />
                        <div class="input-group-addon">-</div>
                        <input asp-for="ToDate" class="date-input" onchange="getZone();" type="date" value="ToDate" />
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-details mb-4">

            <div class="filter-card fci-blue disabled" id="allenquiries" onclick="getstatusidval('allenquiries','0')">
                <div class="filter-card-icon all-icon ">

                </div>

                <div class="filter-card-data">
                    <div class="filter-card-data-label">All Enquiries</div>
                    <div class="filter-card-data-value">@Model.TotalEnquiry</div>
                    <div class="tick"></div>
                </div>
            </div>
            <div class="filter-card fci-yellow disabled" id="Open" onclick="getstatusidval('Open','1')">
                <div class="filter-card-icon open-icon ">

                </div>
                <div class="filter-card-data">
                    <div class="filter-card-data-label">Enquiries Open</div>
                    <div class="filter-card-data-value">@Model.TotalEnquiryOpen</div>
                    <div class="tick"></div>
                </div>
            </div>
            <div class="filter-card fci-green disabled" id="Approved" onclick="getstatusidval('Approved','4')">
                <div class="filter-card-icon approved-icon">

                </div>
                <div class="filter-card-data">
                    <div class="filter-card-data-label">Enquiries Approved</div>
                    <div class="filter-card-data-value">@Model.TotalEnquiryApproved</div>
                    <div class="tick"></div>
                </div>
            </div>
            <div class="filter-card fci-red disabled" id="Rejected" onclick="getstatusidval('Rejected','3')">
                <div class="filter-card-icon rejected-icon">

                </div>
                <div class="filter-card-data">
                    <div class="filter-card-data-label">Enquiries Rejected</div>
                    <div class="filter-card-data-value">@Model.TotalEnquiryRejected</div>
                    <div class="tick"></div>
                </div>
            </div>
        </div>

        <form>
            <div class="row">
                <div class="col">
                    <button type="button" class="download-btn" onclick="location.href='@Url.Action("ExportEnquiry", "Admin")'">
                        <img src="~/images/icons/download-icon.svg" /> Download
                    </button>
                </div>
                <div class="col">
                    <button class="reject-btn ml-3" id="rejectAll">Reject Records</button>
                </div>
            </div>

            <table id="Delear" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Enquiry ID
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Stage
                        </th>
                        <th>
                            Business Type
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Owner
                        </th>
                        <th>
                            Interested City

                        </th>
                        <th>Open Since</th>
                        <th>#</th>
                        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                    </tr>
                </thead>
                <tr>
                    <td>
                    </td>
                </tr>


            </table>
        </form>
    </div>

</div>
<div class="modal fade" id="otprejectPopups">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <div class="otp-sent-to">Do you want to reject this enquiry?</div><div class='text2'>By clicking on <b> Reject </b> it will be rejected and not move to Next</div>
                @*<input type="text" placeholder="Comments..." id="dd-input-Comment-popup">*@
                <div class="otp-footer form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" id="submitrejectall" class="btn btn-primary pl-4 pr-4 ml-2">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>
@section Scripts
{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/fh-3.2.1/r-2.2.9/datatables.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/moment@latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@latest/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/fh-3.2.1/r-2.2.9/datatables.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    <script src="~/vendor/scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/vendor/dataTables/jquery.sumoselect.min.js"></script>
    <link href="~/vendor/dataTables/sumoselect.min.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
<script type="text/javascript">

        function getstatusidval(divid, statusid)
        {
            var allenqlist = ['allenquiries', 'Open', 'Approved', 'Rejected'];
            for (var i = 0; i < allenqlist.length; i++) {
                   if (divid == allenqlist[i]) {
                        addactive(allenqlist[i]);
                }
                else {
                     removeactive(allenqlist[i])
                }
            }
            $('#enquiryHidden').val(divid);
            tables.draw();
        }
        $('#example-select-all').on('click', function () {
            var rows = tables.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        function removeactive(dividinactive)
        {
            document.getElementById(dividinactive).classList.add('disabled');
            document.getElementById(dividinactive).classList.remove('active');
        }

        function addactive(dividactve)
        {
            document.getElementById(dividactve).classList.add('active');
            document.getElementById(dividactve).classList.remove('disabled');

        }
        var tables = [];
        function LoadData() {
                $.ajax({
                type: "POST",
                url: "@Url.Action("LoadDataDelear_enquiry", "Admin")",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
        function getCity(event) {
            $('#FordateSeWiseSerach').val('city');
            tables.draw();
        }
        function getZone() {
            $('#FordateSeWiseSerach').val('date');
            tables.draw();
        }
    function filterZone() {
        debugger;
        $.ajax({
            url: "@Url.Content("~/")" + 'Admin/FillState',
            type: "POST", 
            data: { ZoneId: $('#ZoneId option:selected').val() },
            dataType: "json",
            success: function (data) {
                $("#StateId").empty();

                $("#StateId").append('<option value="0">Select State</option>');
                for (var i = 0; i < data.length; i++) {
                    $("#StateId").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }
            }
        });
        $('#FordateSeWiseSerach').val('Filterzone');
        tables.draw();
    }
    function filterState() {
        $.ajax({
            url: "@Url.Content("~/")" + 'Admin/FillCity',
            type: "POST", 
            data: { id: $('#StateId option:selected').val(), zoneid: $('#ZoneId option:selected').val() },
            dataType: "json",
            success: function (data) {
                $("#CityId").empty(); 
                $("#CityId").append('<option value="0">Select City</option>');
                for (var i = 0; i < data.length; i++) {
                    $("#CityId").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                }
            }
        }); 
        $('#FordateSeWiseSerach').val('Filterzone');
        tables.draw();
    }
        
        $('#radioApproved').on('click', function () {
            $('#otpPopups').show();
        });

        $('#submitrejectall').on('click', function () {
            $('#otprejectPopups').modal('hide');
            $('.spinner').css('display', 'block');
            var deleteids_arr = [];
                 $("input:checkbox[class=editor-active]:checked").each(function () {
                    deleteids_arr.push($(this).val());
                });
                if (deleteids_arr.length == 0) {
                    alert("Please select at least on enquiry");
                }
                else {
                     $.ajax({
                        url: "@Url.Action("rejectallEnquiry", "Admin")",
                        type: "POST",
                        cache: false,
                         data: { EnquiryId: deleteids_arr},
                        success: function (data) {
                            if (data == "success") {
                                toastr.success("Status Updated Successfully");
                                window.location.reload();
                            }
                        }
                    });
                }
            });
        $(document).ready(function () {

            $('#rejectAll').on('click', function () {
                $('#otprejectPopups').modal('show');
                 event.preventDefault();
            });
            $('#CustomSearchTextField').keyup(function () {
                tables.search($(this).val()).draw();
            })
            document.getElementById('Open').classList.add('active');
            document.getElementById('Open').classList.remove('disabled');

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-left",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "12000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            LoadData();
            $("#Delear tbody").on("click", "td.clickable", function () {
                
                var tr = $(this).closest("tr");
                var row = tables.row(tr);
               // var data = format(row.data());
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass("shown");
                    tr.next().removeClass("isChild");
                } else {
                    // Open this row
                      $.ajax({
                        type: "POST",
                        url: "@Url.Action("Details", "Admin")",
                          data: { enquiryId: row.data().Enquiry_id, StatusId: row.data().Status_ID},
                       // contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                             row.child(response).show();

                            tr.addClass("shown");
                            tr.next().addClass("isChild");

                        },
                        failure: function (response) {
                            alert(response);
                        },
                        error: function (response) {
                            alert(response);
                        }
                      });

                }
            });
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var value = $('#CityId :selected').text();
                    var Selectedzone = $('#ZoneId :selected').val();
                    var filterEnquiry = $('#enquiryHidden').val();
                    var fromDates = $('#FromDate').val();
                    var fromDate = new Date(fromDates);
                    var dateOfSearch = $('#FordateSeWiseSerach').val();
                    var ToDates = $('#ToDate').val();
                    var ToDate = new Date(ToDates);
                    var dataOfCity = data[7];
                    var dataOfZone = data[11];
                    var dataOfStatus = data[2];
                    var rowsDate = moment(data[5], 'DD-MM-YYYY');
                    var tmpss = rowsDate._i;
                    var dataOfDate = rowsDate._d;
                    //var rowsDate = moment(tmp._i).format('YYYY-DD-MM');
                    //var dataOfDate = new Date(rowsDate);
                    //moment(data[5]).format('YYYY-DD-MM');
                    //var dataOfDate = "";
                    //if (rowsDate == 'Invalid date') {
                    //     dataOfDate = data[5];
                    //}
                    //else {
                    //     dataOfDate = new Date(rowsDate);
                    //}
                    //console.log("Date", data[5]);
                    var frmDate = new Date(fromDate);
                    var tDate = new Date(ToDate);
                    //if (frmDate > tDate) {

                    //}
                    if (dateOfSearch == 'city' && (filterEnquiry == dataOfStatus || filterEnquiry == 'allenquiries')) {
                        if (value == dataOfCity || (value == 'Select City')) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    if (dateOfSearch == 'date' && (filterEnquiry == dataOfStatus || filterEnquiry == 'allenquiries')) {
                        if ((fromDate < dataOfDate && ToDates == '') || (fromDates == '' && dataOfDate < ToDate) || (fromDates == '' && ToDates == '') ||
                            (fromDate < dataOfDate && dataOfDate < ToDate) || (fromDates == '' && ToDates == '') || ((fromDate.getMonth() == dataOfDate.getMonth() && fromDate.getDate() == dataOfDate.getDate()) && (dataOfDate.getMonth() == ToDate.getMonth() && dataOfDate.getDate() == ToDate.getDate())) || ((fromDate.getDate() == dataOfDate.getDate() && fromDate.getMonth() == dataOfDate.getMonth()) && ToDates == '') || (fromDates == '' && (dataOfDate.getDate() == ToDate.getDate() && dataOfDate.getMonth() == ToDate.getMonth()))) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    if (dateOfSearch == 'Filterzone') {
                        if ((Selectedzone == dataOfZone || Selectedzone == '--Select--') && (filterEnquiry == dataOfStatus || filterEnquiry == 'allenquiries')) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }

                    if (filterEnquiry == dataOfStatus || (filterEnquiry == 'allenquiries')) {

                        return true;
                    }

                    return false;
                }
            );

        });
        function OnSuccess(response) {
            $.fn.dataTable.moment('dd-MM-YYYY');
            var users = eval(response);
            $scrollHeight = $(window).height() - ($("#Delear").offset().top + $("#Delear").height()) - 54;
            tables = $("#Delear").DataTable(
                {
                    dom: 'rt<"tbl-f"pli>',
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: users,
                    columns: [
                        {
                            data: "Fullname",
                            className: "clickable",
                        },
                        {
                            data: "Enquiry_id",
                            className: "clickable",
                        },
                        {
                            "data": "Status_ID",
                            className: "clickable",
                            'render': function (data, type, row) {
                                var tmp = '';
                                if (data == 1) {
                                    tmp = '<div class="tbl-icon tbl-icon-open">Open</div>';
                                }
                                else if (data == 3) {
                                    tmp = '<div class="tbl-icon tbl-icon-rejected">Rejected</div>';
                                }
                                else {
                                    tmp = '<div class="tbl-icon tbl-icon-approved">Approved</div>';
                                }
                                return tmp;
                            }
                        },
                        {
                            data: "NextStage",
                            className: "clickable",
                        },
                        {
                            data: "Bussiness_Type",
                            className: "clickable",
                        },
                        {
                            data: "Created_Date",
                            className: "clickable",
                            render: function (data, type) {
                                if (type === 'sort') {
                                    var rowsDate = moment(data, 'DD-MM-YYYY');
                                    return rowsDate;
                                }
                                return data;
                            }
                        },
                        {
                            data: "Owner",
                            className: "clickable",
                        },
                        {
                            data: "City",
                            className: "clickable",
                        },
                        {
                            data: "Open_Since",
                            className: "clickable",
                            render: function (data, type, row) {
                                if (row['Status_ID'] == 3 || row['Stage_Id'] ==6) {
                                    return "";
                                }
                                else {
                                    return data;
                                }
                            },
                        },
                        {
                            className: "clickable dt-control",
                            orderable: false,
                            data: null,
                            defaultContent: "",
                        },
                        {
                            className: "dt-body-center",
                            orderable: false,
                            data: "Enquiry_id",
                            defaultContent: "",
                            render: function (data, type, row) {
                                if (row['Status_ID'] == 1) {
                                    return '<input type="checkbox" id="checkboxSelect_' + data + '" class="editor-active" value=' + data + '>';
                                }
                            },
                        },
                        { "data": "ZoneId" ,'visible' :false},
                    ],
                    scrollY: $scrollHeight,
                    language: {
                        info: " _START_ to _END_ of _TOTAL_ page(s)",
                        lengthMenu: " _MENU_ Items per page",
                        paginate: {
                            next: '&#8594;', // or '→'
                            previous: '&#8592;' // or '←'
                        }
                    },
                    columnDefs: [{
                        'targets': [1, 5],
                        'bSort': true,
                        'type': 'date',
                        'orderData': [1, 5]
                    }],
                    order: [[5, "desc"]],
                    "fnInitComplete": function () {
                        //$('.dataTables_scrollBody').perfectScrollbar();

                        const ps = new PerfectScrollbar('.dataTables_scrollBody', {
                            wheelSpeed: 0.1,
                            wheelPropagation: true,
                            minScrollbarLength: 20
                        });

                    },
                    //on paginition page 2,3.. often scroll shown, so reset it and assign it again
                    "fnDrawCallback": function (oSettings) {
                        //$('.dataTables_scrollBody').perfectScrollbar('destroy').perfectScrollbar();
                        //ps.update();
                        const ps = new PerfectScrollbar('.dataTables_scrollBody', {
                            wheelSpeed: 0.1,
                            wheelPropagation: true,
                            minScrollbarLength: 20
                        });
                    },
                });
        };

</script>
}
