﻿@model ActivityDetails
<div class="dealer-inner-tbl dealer-page-inner">
    <div class="dealer-inner-cell">
        <div class="track-wrpppp mb-3">
            <div class="track">
                <div class="step@(ViewBag.StageId == 1 || ViewBag.StageId == 2 || ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6? "-approved step" : "")" id="step1_@ViewBag.Enquiry_id">
                    <div class="color-filler" style="border-radius: 10px 0 0 10px"></div>
                    <div class="app-s-wrp">Enquiry stage</div>
                </div>
                <div class="step@(ViewBag.StageId == 2 || ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step2_@ViewBag.Enquiry_id">
                    <div class="color-filler"></div>
                    <div class="app-s-wrp">Pre Due Diligence</div>
                </div>
                <div class="step@(ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step3_@ViewBag.Enquiry_id">
                    <div class="color-filler"></div>
                    <div class="app-s-wrp">Due Diligence</div>
                </div>
                <div class="step@(ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step4_@ViewBag.Enquiry_id">
                    <div class="color-filler"></div>
                    <div class="app-s-wrp">Presentation & Interview</div>
                </div>
                <div class="step@(ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step5_@ViewBag.Enquiry_id">
                    <div class="color-filler" style="border-radius: 0 10px 10px 0"></div>
                    <div class="app-s-wrp">Final Evaluation</div>
                </div>
            </div>
        </div>
        <div class="action-btns mb-3">
            <fieldset id="group2_@ViewBag.Enquiry_id">

                <div class="action-btns-inner">
                    <div class="custom-control custom-radio approved">
                        <input type="radio" id="radioApproved_@ViewBag.Enquiry_id" value="Approved" name="group2_@ViewBag.Enquiry_id" onchange="radio_changed($(this).val())" class="custom-control-input">
                        <label class="custom-control-label" for="radioApproved_@ViewBag.Enquiry_id" title="Approve">Approve</label>
                    </div>
                    <div class="custom-control custom-radio rejected">
                        <input type="radio" id="radioRejected_@ViewBag.Enquiry_id" change="RemoveOrReject('Rejected');" value="Rejected" name="group2_@ViewBag.Enquiry_id" onchange="radio_changed($(this).val())" class="custom-control-input">
                        <label class="custom-control-label" for="radioRejected_@ViewBag.Enquiry_id" title="Reject">Reject</label>
                    </div>
                    <div class="message-btn-wrp">
                        <div id="message-btn_@ViewBag.Enquiry_id" class="message-btn">
                            Comment
                        </div>
                    </div>
                    <div class="message-btn-wrp">
                        <div id="upload_@ViewBag.Enquiry_id" class="upload-btn">
                            Upload
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>

        <div class="d-input-group">

        </div>
        <div class="description mt-2">
            <h4 class="description-title mb-2">Description:</h4>
            <div class="description-content">
                <ul>
                    <li>
                        <div class="d-list-label">Fullname:</div>
                        <div class="d-list-label">@Model.Fullname</div>
                    </li>
                    <li>
                        <div class="d-list-label">Email:</div>
                        <div class="d-list-label">@Model.Email</div>
                    </li>
                    <li>
                        <div class="d-list-label">Mobile Number:</div>
                        <div class="d-list-label">@Model.Mobile</div>
                    </li>
                    @if (Model.OtherLocation != null && Model.OtherLocation != "")
                    {
                        <li>
                            <div class="d-list-label">City Applied for:</div>
                            <div class="d-list-label">@Model.OtherLocation</div>
                        </li>
                        <li>
                            <div class="d-list-label">Is Open City:</div>
                            <div class="d-list-label">No</div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="d-list-label">City Applied For:</div>
                            <div class="d-list-label">@Model.City</div>
                        </li>
                        <li>
                            <div class="d-list-label">Is Open City:</div>
                            <div class="d-list-label">Yes</div>
                        </li>

                    }
                    <li>
                        <div class="d-list-label">Pincode:</div>
                        <div class="d-list-label">@Model.Pincode</div>
                    </li>
                    <li>
                        <div class="d-list-label">Type of Business:</div>
                        <div class="d-list-label">@Model.Bussiness_Type @Model.Background</div>
                    </li>
                    <li>
                        <div class="d-list-label">Registered Company Name:</div>
                        <div class="d-list-label">@Model.Register_bussinessName</div>
                    </li>
                    <li>
                        <div class="d-list-label">Name of Brand:</div>
                        <div class="d-list-label">@Model.Brand_name</div>
                    </li>
                    @if (Model.OtherLocation == null || Model.OtherLocation == "")
                    {
                        <li>
                            <div class="d-list-label">Source</div>
                            <div class="d-list-label">@Model.source</div>
                        </li>

                    }
                    @if (@Model.Bussiness_Type != "Bussiness Other")
                    { 
                        <li>
                            <div class="d-list-label">How Do You Know About Business</div>
                            <div class="d-list-label">@Model.how_know</div>
                        </li>
                    }
                </ul>
                <div class="mb-2" style="font-size:12px">
                    @if (Model.OtherLocation == null || Model.OtherLocation == "")
                    {
                        <div class="d-list-label"><strong>About</strong></div>
                        <div class="d-list-label">@Model.About_businessExp</div>
                    }
                </div>
            </div>

        </div>

        <div class="dp-bottom-row">
            <div class="dp-bottom-cell-1">
                <div class="dp-bottom-cell-1-title">Attachments:</div>
                <div class="uploaded-files">

                    @if (ViewBag.attachDocuments != null)
                    {
                        foreach (var item in ViewBag.attachDocuments)
                        {
                            <div class="uploaded-file">
                                <span class="uploaded-file-name">
                                    <a asp-action="Download" asp-controller="Admin"
                                       asp-route-file="@item.Upload_Document|@ViewBag.Enquiry_id">
                                        @item.Upload_Document
                                    </a>
                                </span>
                                <span class="uploaded-file-remove">
                                    <a asp-action="Download" asp-controller="Admin"
                                       asp-route-file="@item.Upload_Document|@ViewBag.Enquiry_id"><img src="~/images/icons/download-icon.svg" /></a>
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="dealer-inner-cell">
        <div class="dealer-activity-title">Activity:</div>
        <ul class="recent-activity">
            @foreach (var ite in @Model.activities)
            {
                <li>
                    <div>@ite.Description</div>
                    <div class="small-text">@ite.CreatedDate</div>
                </li>
            }
        </ul>
        <a href="@Url.Action("ActivityList", "Admin")?delearId=@Model.Delear_Id">See More</a>
    </div>
</div>
<div class="modal request-action fade" id="upload_form_@ViewBag.Enquiry_id">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body comment-box">
                <h2>File Upload</h2>
                <div class="form__group field p-0">
                    <div class="file-wrp">
                        <input type="file" id="file" name="file" multiple onchange="return fileValidation()" style="display:none" />
                        <label for="file" class="file-upload-input m-0">Click here to upload documents</label>
                    </div>

                    <span class="field-validation-error" id="spanfile"></span>
                    <div class="form-group mt-2 mb-4">
                        <div class="duploaded-files"></div>
                    </div>
                </div>
                <div class="form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" class='btn btn-primary msg-btn' id="uploadfile_@ViewBag.Enquiry_id" data-id="@ViewBag.Enquiry_id">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal request-action fade" id="comments_form_@ViewBag.Enquiry_id">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body comment-box">
                <h2>Add Comments</h2>
                <textarea placeholder="Type here..." id="d-input-Comment_@ViewBag.Enquiry_id" maxlength="500"></textarea>
                <div>
                    @if (ViewBag.fileuploads != null)
                    {
                        <select id="dropDownList-example" name="SelectedIds" asp-for="Id" multiple asp-items="@(new SelectList(ViewBag.fileuploads, "Value", "Text"))">
                        </select>
                    }
                </div>
                <div class="form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" class='btn btn-primary msg-btn' id="submit_@ViewBag.Enquiry_id" data-id="@ViewBag.Enquiry_id">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal request-action fade" id="otpPopups_@ViewBag.Enquiry_id">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body comment-box">
                <div class="otp-sent-to">Do you want to approved ?</div>
                <textarea placeholder="Comments..." id="d-input-Comment-popup" maxlength="500"></textarea>
                <div class="otp-footer form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button type="submit" id="submitApproved_@ViewBag.Enquiry_id" class="btn btn-primary pl-4 pr-4 ml-2">
                        Submit
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
        var status = "";
    $(document).ready(function () {
        if ('@Model.Status' == 'Rejected' || ('@Model.Status' == 'Approved' && @ViewBag.StageId == 6)) {
                $("#radioApproved_@ViewBag.Enquiry_id").attr('disabled', true);
                $("#radioHold_@ViewBag.Enquiry_id").attr('disabled', true);
                $("#radioRejected_@ViewBag.Enquiry_id").attr('disabled', true);
            }
        $('#dropDownList-example').SumoSelect();
        if ('@ViewBag.Role' != 'Head of department' && @ViewBag.StageId == 3) {
            $("#radioApproved_@ViewBag.Enquiry_id").attr('disabled', true);
        }
        if (@ViewBag.StageId == 1) {
            $("#step1_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step1_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if('@Model.Status' == 'Rejected')
            {
                $("#step1_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step1_@ViewBag.Enquiry_id").addClass('step active !important');
            }
        }
        else if (@ViewBag.StageId == 2) {
            $("#step2_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step2_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step2_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step2_@ViewBag.Enquiry_id").addClass('step active !important');
            }
        }
        else if (@ViewBag.StageId == 3) {
            $("#step3_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step3_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step3_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step3_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        else if (@ViewBag.StageId == 4) {
            $("#step4_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step4_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step4_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step4_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        else if (@ViewBag.StageId == 5) {
            $("#step5_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step5_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step5_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step5_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        $("#message-btn_@ViewBag.Enquiry_id").click(function () {
            $("#comments_form_@ViewBag.Enquiry_id").modal('show');
        });
        $("#upload_@ViewBag.Enquiry_id").click(function () {
            $("#upload_form_@ViewBag.Enquiry_id").modal('show');
        });
    });
    function radio_changed(value) {
         status = value;
        if (status == 'Approved') {
            $('.otp-sent-to').html("<div class='text1'>Do you want to Approve this enquiry?</div> <div class='text2'>By clicking on <b> Approve </b> it will be moved to next stage</div>");
            $('.otp-footer .btn').text("Approve");
            $('.otp-footer .btn').removeClass("red-button");
          }
        else if (status == 'Rejected') {
            $('.otp-sent-to').html("<div class='text1'>Do you want to reject this enquiry?</div><div class='text2'>By clicking on <b> Reject </b> it will be rejected and not move to Next</div>");
            $('.otp-footer .btn').text("Reject");
            $('.otp-footer .btn').addClass("red-button");
         }
            $("#otpPopups_@ViewBag.Enquiry_id").modal('show');
    }
      ///Status Update
    $('#submit_@ViewBag.Enquiry_id').click(function () {
        var comment = $('#d-input-Comment_@ViewBag.Enquiry_id').val();
         var selected = $("input[type='radio']:checked").val();
        var selecteded = $("#dropDownList-example").val();
        if (selected == "" || selected == undefined) {
            $("#projectIDSelectError").html("Please select a Stage").addClass("text-danger");
        }
        else {
            $("#projectIDSelectError").html("");
        }
        var tmps = $(this).attr("data-id")
        var enquiryId = tmps.split(',')[0];
        $.ajax({
            url: "@Url.Action("CommentsUpdate", "Admin")",
            type: "POST",
            cache: false,
            data: { EnquiryId: enquiryId, comment: comment, fileId: selecteded },
            success: function (data) {
                if (data == "success") {
                    toastr.success("Status Updated Successfully");
                }
            }
        });
    });
     function fileValidation() {
            var fileInput =
                document.getElementById('file');

            var filePath = fileInput.value;

            // Allowing file type
            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.pdf|\.doc|\.docx|\.pptx|\.ppt|\.pps|\.xls|\.xlsx)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                $(".duploaded-files").empty();
                return false;
            }

            else {

                if (fileInput.files && fileInput.files[0]) {

                      var size =0;

                    var files = fileInput.files,
                        filesLength = files.length;
                    for (var i = 0; i < fileInput.files.length; i++) {
                        size +=fileInput.files[i].size;
                        if(size>209715200){
                            alert('max Upload files size 200mb');
                            return false;
                        }
                        var f = [];
                        f = files[i];
                        var fileReader = new FileReader();
                        fileReader.onload = (function (readerEvt) {
                            return function (e) {

                                console.log(readerEvt);
                                $('.duploaded-files').append("<div class=\"uploaded-file\"> <span class=\"uploaded-file-name\">" + readerEvt.name + "</span><span class=\"uploaded-file-remove remove\"> <img src=\"@Url.Content("~/images/icons/remove-file-icon.svg")\" / ></span></div>");
                                $(".remove").click(function () {
                                    $(this).parent(".uploaded-file").remove();
                                });

                            };
                        })(f);
                        fileReader.readAsDataURL(fileInput.files[i]);
                    }
                }
            }
        }
    $('#uploadfile_@ViewBag.Enquiry_id').click(function () {
        var input =  document.getElementById('file');
        var data = input.files;
        var formData = new FormData();
        for (var i = 0; i < data.length; i++) {
            formData.append("files", data[i]);
        }
        formData.append("delerenquiryid",'@ViewBag.Enquiry_id');
        $.ajax({
            url: "@Url.Action("AdminDealerFileUpload", "Admin")",
            data: formData,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                alert("Files Uploaded!");
            }
        });
    });
     ///Status Updated
    $('#submitApproved_@ViewBag.Enquiry_id').click(function () {
        $.ajax({
            url: "@Url.Action("StatusUpdate", "Admin")",
            type: "POST",
            cache: false,
            data: { status: $("input[type='radio']:checked").val(), EnquiryId: '@ViewBag.Enquiry_id', comment: $('#d-input-Comment-popup').val() },
            success: function (data) {
                if (data == "success") {
                    toastr.success("Status Updated Successfully");
                }
            }
        });
    });
</script>
