﻿@model EnquiryStatusUpdate
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Status Update";
}
<div class="dashboard">
    <div class="dashboard-inner user_create">
        <h1 class="page-title mb-4">Enquiry Status Update</h1>

        <form asp-action="Enquirystatus" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input asp-for="Comment" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">Comment</span>
                        <input hidden asp-for="Status" />
                        <input hidden asp-for="Updated" />
                        <input hidden asp-for="Id" />
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="submit" value="Save" id="btnsubmit" class="btn btn-primary pl-4 pr-4" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () { 
    if ('@Model.Updated' == '1')
    {
    alert("Enquiry Status already rejected");
    $("#btnsubmit").attr('disabled', true);}
    });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}