﻿@model ForgotPassModel
@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_LoginLayout";
}

<div class="container">
    <div class="login-wrapper">
        <div class="left-div">
            <img src="~/images/login/admin-login-bg-large.png" class="img-fluid" />
        </div>
        <div class="right-div">
            <div class="form-wrapper">
                <div class="login-info">
                    <h3>ŠKODA Dealer Enquiry Management Portal</h3>
                    <h5>Forgot Pasword</h5>
                    <p hidden>
                        Collaboratively administrate empowered markets via plug-and-play
                        networks. Dynamically procrastinate B2C users after.
                    </p>
                </div>
                <form asp-action="Forgotpassword" asp-controller="Admin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form__group field">
                        <input asp-for="Username" class="form__field" autocomplete="off" placeholder="User ID" />
                        <label for="Username" class="form__label">Email Addresss</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-inline justify-content-end mt-4">
                        <a style="color:#000;text-decoration:underline"  asp-action="Index" asp-controller="Admin"><small> Back to Login? </small></a>
                        <button type="submit" class="btn btn-primary ml-4">
                            Send Email
                        </button>
                    </div>
                    <span id="errormessage">
                        @if (Model.ErrorMessage != null)
                        {
                            <label class="field-validation-valid text-danger">@Model.ErrorMessage.ToString()</label>;
                        }
                    </span>
                </form>                
            </div>
        </div>
    </div>
</div>

