﻿@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_LoginLayout";
}
<div class="login-wrapper">
    <div class="left-div">
        <div class="img-wrapper-logi">
            <img class="img-fluid"
                 src="~/images/login/login-banner.svg"
                 alt="login-banner" />
            <div class="login-page-title">
                <h1>Project Change Management</h1>
                <p>Your one stop tool for all your project & team management</p>
            </div>
        </div>
    </div>
    <div class="right-div">
        <div class="form-wrapper">
            <div class="login-logo">
                <img class="img-fluid" src="~/images/common/logo.svg" alt="logo" />


            </div>
            <div class="login-info">
                <h3>Forgot Pasword Confirmation</h3>
                <p>
                    he link has been sent, please check your email to login system.
                </p>
            </div>
             
        </div>
    </div>
</div>
