﻿@model List<UserDetails>
@{
    ViewData["Title"] = "ŠKODA India > Users";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" />
    <link href=" https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet" />

}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageUsers"); }
<div class="dashboard">
    <div class="dashboard-inner">
        <a class="btn btn-primary mb-3" asp-action="Create">Create New</a>
        <table id="user" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Fullname
                    </th>
                    <th>
                        UserID
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Role
                    </th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var m in @Model)
                    {
                        <tr>
                            <td>@m.Fullname</td>
                            <td>@m.Username</td>
                            <td>@m.Mobile</td>
                            <td>@m.City</td>
                            <td>@m.Role</td>
                            <td><a class="btn-edit" href="@Url.Action("Create", "Admin")?id= @m.UserId"></a></td>
                            <td><a href='#' class='btn-delete' onclick="DeleteData(@m.UserId); return false;"></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{

    <script src="~/vendor/dataTables/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>

    <script type="text/javascript">

        $(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadData", "Admin")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        function OnSuccess(response) {
            var users = eval(response);
            $("#user").DataTable(
                {
                    dom: 'Bfrt<"tbl-f"pli>',
                    buttons: [
                        'excel'
                    ],
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    
                    language: {
                        info: " _START_ to _END_ of _TOTAL_ page(s)",
                        lengthMenu: " _MENU_ Items per page",
                        paginate: {
                            next: '&#8594;', // or '→'
                            previous: '&#8592;' // or '←' 
                        }
                    },
                    data: users,
                    columns: [
                        { "data": "Fullname" },
                        { "data": "UserId" },
                        { "data": "Mobile" },
                        { "data": "City" },
                        { "data": "Role" },
                        {
                            "render": function (data, type, full, meta) { return '<a class="btn-edit" href="@Url.Action("Create", "Admin")?id=' + full.UserId + '"></a>'; }
                        },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn-delete' onclick=DeleteData('" + row.UserId + "'); ></a>";
                        }
                    },]
                });
        };


        function DeleteData(CustomerID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(CustomerID);
            }
            else {
                return false;
            }
        }


        function Delete(UserID) {
            $.ajax({
                type: 'POST',
                url: baseUrl + 'Admin/Delete',
                data: { "Id": UserID },
                async: false,
                cache: false,
                success: function (response) {
                    if (response.result == "success") {
                        window.location.reload();
                    } else if (response.result == "failure") {
                        alert('Error deleting User');
                    }
                },
                complete: function () {

                },
                error: function () {
                }
            });

        }
    </script>
}
