﻿@model LoginModel
@{
    ViewData["Title"] = "ŠKODA India";
    Layout = "_LoginLayout";
} 
<div class="container">
    <div class="login-wrapper">
        <div class="left-div">
            <img src="~/images/login/admin-login-bg-large.png" class="img-fluid" />
        </div>
        <div class="right-div">
            <div class="form-wrapper">
                <div class="login-info">
                    <h3>ŠKODA Dealer Enquiry Management Portal</h3>
                    <p hidden>
                        Collaboratively administrate empowered markets via plug-and-play
                        networks. Dynamically procrastinate B2C users after.
                    </p>
                </div> 
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ReturnUrl" type="hidden" />
                    <div class="form-group">
                        <label class="custom-field two">
                            <input asp-for="Username" class="form__field" autocomplete="off" placeholder="&nbsp;" required />
                            <span class="placehold">User ID</span>
                            <span asp-validation-for="Username" class="error-message" aria-live="polite"></span>
                        </label>
                        <label class="custom-field two">
                            <input asp-for="Password" class="form__field" type="password" autocomplete="off" placeholder="&nbsp;" required />
                            <span class="placehold">Password</span>
                            <span asp-validation-for="Password" class="error-message" aria-live="polite"></span>
                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                            {
                                <span class="text-danger">@Model.ErrorMessage</span>
                            }
                        </label>
                        @if (!string.IsNullOrEmpty(Model.Mobile))
                        {
                            <label type="hidden" id="MobileNo">@Model.Mobile</label>
                        }



                        <div class="form-inline justify-content-end mt-4">
                            <a style="color:#000;text-decoration:underline" asp-action="Forgotpassword" asp-controller="Admin"><small> Forgot Password? </small></a>
                            <button id="otpPopup-btn-admin" type="button" class="btn btn-primary ml-4">
                                Login
                            </button>
                        </div>
                    </div>
             
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="otpPopups">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <div class="otp-sent-to"></div>
                <div class="d-input-group">
                    <input id="d-input-1" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)">
                    <input id="d-input-2" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)">
                    <input id="d-input-3" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)">
                    <input id="d-input-4" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)">
                    <input id="d-input-5" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)">
                    <input id="d-input-6" type="tel" pattern="[0-9]" inputmode="numeric" name="otp[]" maxlength="1" class="form-control form-control-skoda number-integer" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)">
                </div>
                <div class="otp-not-sent">Didn't receive code? <a href="#">Request again</a></div>
                <div class="otp-footer form-inline">
                    <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                    <button id="submit" class="btn btn-primary pl-4 pr-4 ml-2">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="otp_alert">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->

            <div class="modal-body">
                <h5 style="text-align:center" id="otp-msg"></h5>
                <div class="otp-footer form-inline">
                    <a id="otp_success_btn" class="btn btn-primary" data-dismiss="modal">OK</a>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        $('#otpPopup-btn-admin').click(function () {

            var username = $('#Username').val();
            var Password = $('#Password').val();

            $.ajax({
                type: "POST",
                url: baseUrl + 'Admin/AdminLogin', 
                data: { Username: username, Password: Password},
                success: function (data) {
                    if (data) {
                        $('#otpPopups').modal('show');
                        $('.otp-sent-to').html('OTP has been sent to ' + data);
                    }
                    else {
                        $('#otpPopups').modal('hide');
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('failed for Otp Sent');
                        
                    }
                }


            });

        });

        $('#otpPopup-btnResend').click(function () {

            var mobile = $('#MobileNo').val();
            var reg = /^[0-9]{10}$/;
            if (reg.test(mobile)) {

                $.ajax({
                    type: "POST",
                    url: baseUrl + 'Admin/AdminLogin',
                    data: { MobileNo: mobile },
                    success: function (data) {
                        if (data == false) {

                            
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('Otp Resent Successfully');
                            //$('#otpPopup').modal('show');
                            //
                            $('.otp-sent-to').html('OTP has been sent to ' + mobile);
                            //window.location = "/Home/Index";
                        }
                        else {
                            
                            $('#otp_alert').modal('show');
                            $('#otp-msg').html('failed for Otp Sent');
                        }
                    }


                })
            }
            else {
                document.getElementById('errmobile').innerHTML = 'Please enter Valid Mobile Number of 10 digits- Only Numbers';

                $("#MobileNo").val('');
                $("#MobileNo").focus();

            }
            // Do client side button click stuff here.
        });
        $("#otp_success_btn").on("click", function () {
            $('#otp_alert').modal('hide');
        });
        $('#submit').click(function () {
            var username = $('#Username').val();
            var password = $('#Password').val();
            var MobileNo = $('#MobileNo').val();

            var onedigit = $('#d-input-1').val();
            if (onedigit == undefined || onedigit == null) {
                alert("Enter Otp 1");
                return;
            }
            var secdigit = $('#d-input-2').val();
            if (secdigit == undefined || secdigit == null) {
                alert("Enter Otp 2");
                return;
            }
            var thirddigit = $('#d-input-3').val();
            if (thirddigit == undefined || thirddigit == null) {
                alert("Enter Otp 3");
                return;
            }
            var fourthdigit = $('#d-input-4').val();
            if (fourthdigit == undefined || fourthdigit == null) {
                alert("Enter Otp 4");
                return;
            }
            var fivedigit = $('#d-input-5').val();
            if (fivedigit == undefined || fivedigit == null) {
                alert("Enter Otp 5");
                return;
            }
            var sixdigit = $('#d-input-6').val();
            if (sixdigit == undefined || sixdigit == null) {
                alert("Enter Otp 6");
                return;
            }
            var otp = onedigit + secdigit + thirddigit + fourthdigit + fivedigit + sixdigit;
            var username = $('#Username').val();
            var password = $('#Password').val();
            $.ajax({ 
                url: baseUrl + 'Admin/LoginOTP',
                type: "POST",
                data: { otp: otp, username: username, password: password },
                success: function (data) {
                    if (data == "success") {
                        $('#otpPopups').modal('hide');
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Verification successfully');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Admin/DelearEnquiry";
                        });
                        
                        otp = [];
                        $('#otpPopups').modal('hide');
                    }
                    else if (data == "Otp is not valid") {
                        
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('failed for Otp verifaction');
                        otp = [];
                        $('#otpPopups').modal('hide');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Admin/login";
                        });
                        
                    }
                    else {
                        
                        $('#otp_alert').modal('show');
                        $('#otp-msg').html('Mobile Number does not exits');
                        otp = [];
                        $('#otpPopups').modal('hide');
                        $("#otp_success_btn").on("click", function () {
                            $('#otp_alert').modal('hide');
                            window.location = baseUrl + "Admin/login";
                        });
                        
                    }
                }


            })
            // Do client side button click stuff here.
        });
        function clearotpdata() {
            $('#d-input-1').val("");
            $('#d-input-2').val("");
            $('#d-input-3').val("");
            $('#d-input-4').val("");
            $('#d-input-5').val("");
            $('#d-input-6').val("");
        }
        //OTP FIELDS JS START
        function getCodeBoxElement(index) {
            return document.getElementById('d-input-' + index);
        }
        function onKeyUpEvent(index, event) {


            const eventCode = event.which || event.keyCode;

            if (getCodeBoxElement(index).value.length === 1) {
                if (index !== 6) {
                    getCodeBoxElement(index + 1).focus();
                } else {
                    getCodeBoxElement(index).blur();
                    // Submit code
                    console.log('submit code ');
                }
            }
            if (eventCode === 8 && index !== 1) {
                getCodeBoxElement(index - 1).focus();
            }
        }
        function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
                const currentElement = getCodeBoxElement(item);
                if (!currentElement.value) {
                    currentElement.focus();
                    break;
                }
            }
        }

        var inputfield = document.getElementsByClassName("form__field");

        for (i = 0; i < inputfield.length; i++) {

            var inputValue = $(inputfield[i]).val();
            $(inputfield[i]).parents('.custom-field').addClass('focused');
            if (inputValue == "") {
                $(inputfield[i]).removeClass('filled');
                $(inputfield[i]).parents('.custom-field').removeClass('focused');
            } else {
                $(inputfield[i]).addClass('filled');
            }
        }



        $('input').focus(function () {
            $(this).parents('.custom-field').addClass('focused');
        });

        $('input').blur(function () {
            var inputValue = $(this).val();
            if (inputValue == "") {
                $(this).removeClass('filled');
                $(this).parents('.custom-field').removeClass('focused');
            } else {
                $(this).addClass('filled');
            }
        })
        

    </script>
}