﻿@model UserProfile
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Profile";
}@{ await Html.RenderPartialAsync("_LeftMenu", "Admin"); }

<div class="dashboard">
    <div class="dash-content">
        <div class="dashboard-inner  user_create">
            <h1 class="page-title mb-4">User Profile</h1>

            <form asp-action="Profile" asp-controller="Admin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="custom-field two">
                            <input asp-for="FullName" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                            <span class="placehold">Full Name</span>
                            <input hidden asp-for="UserId" />
                            <span asp-validation-for="FullName" class="error-message" aria-live="polite"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="custom-field two">

                            <input asp-for="Username" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                            <span class="placehold">Email ID</span>
                            <input hidden asp-for="UserId" />
                            <span asp-validation-for="Username" class="error-message" aria-live="polite"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="custom-field two">
                            <label class="control-label">Choose Role</label>
                            <select asp-for="RoleId" class="form-control custom-select" asp-items="Model.Roles">
                            </select>
                            <span class="error-message" aria-live="polite"></span>
                        </label>
                    </div>

                </div>

                <div class="form-row">
                    <hr />
                </div>
                <div class="form-row">
                    <div class="col mr-3">
                        <a asp-controller="ChangePassword" asp-action="Index" class="btn btn-primary mr-2" asp-route-id="@Model.UserId">Change Password</a>
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    </script>

}