﻿@model StateDetails
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Create State";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }
<div class="dashboard">
    <div class="dashboard-inner user_create">
        <h1 class="page-title mb-4">Create State</h1>
        <form asp-action="StateCreate" method="post">
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">
                        <input hidden asp-for="Id" />
                        <label class="control-label">Choose Zone</label>
                        <select asp-for="ZoneId" class="form-control custom-select" asp-items="Model.Zones">
                        </select>
                        <span asp-validation-for="ZoneId" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="custom-field two">                        
                        <input asp-for="Name" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">State</span>
                        <span asp-validation-for="Name" class="error-message" aria-live="polite"></span>
                    </label>                    
                </div>
            </div> 
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="submit" value="Save" class="btn btn-primary pl-4 pr-4" />
                    <a asp-action="StateList" class="cancel-btn pl-4 pr-4">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 

}