﻿@model AdminFileUpload
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Upload Documents";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageDocs"); }
@using (Html.BeginForm("DocumentUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();

    <form>
        <div class="dashboard">
            <div class="dashboard-inner">
                <h1 class="page-title mb-4">Upload your Documents</h1>
                <div class="field" align="left">                    
                    <div class="form-inline-skoda align-items-center">
                        <div class="form__group field p-0">
                            <div class="file-wrp">
                                <input type="file" id="files" name="file" style="display:none" multiple />
                                <label for="files" class="file-upload-input m-0">Click here to upload documents</label>
                            </div>
                            <span class="field-validation-error" id="spanfile"></span>
                        </div>
                    </div>
                    <div class="uploaded-files">
                    </div>
                </div>
                <br /><br /><br />
                <div class="form-row">
                    <div class="col-lg-12">
                        <input type="submit" value="Save" class="btn btn-primary pl-4 pr-4" onclick="$('.spinner').css('display', 'block');"/>
                        <a asp-action="DocumentIndex" class="cancel-btn pl-4 pr-4">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
<div class="spinner" style="display:none">
    <div class="center-div">
        <div class="inner-div">
            <div class="loader"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/jscript">
        function fileValidation() {
            var fileInput =
                document.getElementById('files');
            var filePath = fileInput.value;

            var allowedExtensions =
                /(\.jpg|\.jpeg|\.png|\.pdf|\.doc|\.docx|\.pptx|\.ppt|\.pps|\.xls|\.xlsx)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                $(".uploaded-files").empty();
                return false;
            }
        }
        $(document).ready(function () {
            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {
                    var files = e.target.files,
                        filesLength = files.length;
                    for (var i = 0; i < filesLength; i++) {
                        var f = [];
                        f = files[i]
                        var fileReader = new FileReader();
                        fileReader.onload = (function (readerEvt) {
                            return function (e) {
                                
                                //Render attachments filename.
                                RenderAttachments(e, readerEvt);
                                alert("Documents submitted successfully");
                                //validation
                                fileValidation();

                            };
                        })(f);

                        fileReader.readAsDataURL(f);
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }


            function RenderAttachments(e, readerEvt) {
                var file = e.target;
                $("<div class=\"uploaded-file\"> <span class=\"uploaded-file-name\">" + readerEvt.name + "</span><span class=\"uploaded-file-remove remove\"> <img src=\"@Url.Content("~/images/icons/remove-file-icon.svg")\" / ></span></div>").appendTo(".uploaded-files");
                $(".remove").click(function () {
                    $(this).parent(".uploaded-file").remove();
                });

            }
        });
    </script>
}