﻿@model ActivityViewDetails
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > View Enquiry Details";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageEnquiry"); }
<div class="dashboard">
    <div class="dashboard-inner">
        <div class="dealer-inner-tbl dealer-page-inner">
            <div class="dealer-inner-cell">
                <div class="track-wrpppp mb-3">
                    <div class="track">
                        <div class="step@(ViewBag.StageId == 1 || ViewBag.StageId == 2 || ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6? "-approved step" : "")" id="step1_@ViewBag.Enquiry_id">
                            <div class="color-filler" style="border-radius: 10px 0 0 10px"></div>
                            <div class="app-s-wrp">Enquiry stage</div>
                        </div>
                        <div class="step@(ViewBag.StageId == 2 || ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step2_@ViewBag.Enquiry_id">
                            <div class="color-filler"></div>
                            <div class="app-s-wrp">Pre Due Diligence</div>
                        </div>
                        <div class="step@(ViewBag.StageId == 3 || ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step3_@ViewBag.Enquiry_id">
                            <div class="color-filler"></div>
                            <div class="app-s-wrp">Due Diligence</div>
                        </div>
                        <div class="step@(ViewBag.StageId == 4 || ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step4_@ViewBag.Enquiry_id">
                            <div class="color-filler"></div>
                            <div class="app-s-wrp">Presentation & Interview</div>
                        </div>
                        <div class="step@(ViewBag.StageId == 5 || ViewBag.StageId == 6 ? "-approved step" : "")" id="step5_@ViewBag.Enquiry_id">
                            <div class="color-filler" style="border-radius: 0 10px 10px 0"></div>
                            <div class="app-s-wrp">Final Evaluation</div>
                        </div>
                    </div>
                </div>
                <div class="action-btns mb-3">
                    <fieldset id="group2_@ViewBag.Enquiry_id">

                        <div class="action-btns-inner">
                            <div class="custom-control custom-radio approved">
                                <input type="radio" id="radioApproved_@ViewBag.Enquiry_id" value="Approved" name="group2_@ViewBag.Enquiry_id" onchange="radio_changed($(this).val())" class="custom-control-input">
                                <label class="custom-control-label" for="radioApproved_@ViewBag.Enquiry_id" title="Approve">Approve</label>
                            </div>
                            <div class="custom-control custom-radio hold">
                                <input type="radio" id="radioHold_@ViewBag.Enquiry_id" change="RemoveOrReject('Hold');" value="Hold" name="group2_@ViewBag.Enquiry_id" onchange="radio_changed($(this).val())" class="custom-control-input">
                                <label class="custom-control-label" for="radioHold_@ViewBag.Enquiry_id" title="Hold">Hold</label>
                            </div>
                            <div class="custom-control custom-radio rejected">
                                <input type="radio" id="radioRejected_@ViewBag.Enquiry_id" change="RemoveOrReject('Rejected');" value="Rejected" name="group2_@ViewBag.Enquiry_id" onchange="radio_changed($(this).val())" class="custom-control-input">
                                <label class="custom-control-label" for="radioRejected_@ViewBag.Enquiry_id" title="Reject">Reject</label>
                            </div>
                            <div class="message-btn-wrp">
                                <div id="message-btn_@ViewBag.Enquiry_id" class="message-btn">

                                </div>

                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="d-input-group">

                </div>
                <div class="description mt-2">
                    <h4 class="description-title mb-2">Description:</h4>
                    <div class="description-content">
                        <ul>
                            <li>
                                <div class="d-list-label">Fullname:</div>
                                <div class="d-list-label">@Model.Fullname</div>
                            </li>
                            <li>
                                <div class="d-list-label">Email:</div>
                                <div class="d-list-label">@Model.Email</div>
                            </li>
                            <li>
                                <div class="d-list-label">Mobile Number:</div>
                                <div class="d-list-label">@Model.Mobile</div>
                            </li>
                            @if (Model.OtherLocation != null && Model.OtherLocation != "")
                            {
                                <li>
                                    <div class="d-list-label">Other Location:</div>
                                    <div class="d-list-label">@Model.OtherLocation</div>
                                </li>
                                <li>
                                    <div class="d-list-label">Is Open City:</div>
                                    <div class="d-list-label">No</div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div class="d-list-label">Interested City:</div>
                                    <div class="d-list-label">@Model.City</div>
                                </li>
                                <li>
                                    <div class="d-list-label">Is Open City:</div>
                                    <div class="d-list-label">Yes</div>
                                </li>

                            }
                            <li>
                                <div class="d-list-label">Pincode:</div>
                                <div class="d-list-label">@Model.Pincode</div>
                            </li>
                            <li>
                                <div class="d-list-label">Type of Business:</div>
                                <div class="d-list-label">@Model.Bussiness_Type @Model.Background</div>
                            </li>
                            <li>
                                <div class="d-list-label">Registered Company Name:</div>
                                <div class="d-list-label">@Model.Register_bussinessName</div>
                            </li>
                            <li>
                                <div class="d-list-label">Name of Brand:</div>
                                <div class="d-list-label">@Model.Brand_name</div>
                            </li>
                            @if (Model.OtherLocation == null && Model.OtherLocation == "")
                            {
                                <li>
                                    <div class="d-list-label">About</div>
                                    <div class="d-list-label">@Model.About_businessExp</div>
                                </li>
                                <li>
                                    <div class="d-list-label">Source</div>
                                    <div class="d-list-label">@Model.source</div>
                                </li>
                            }
                            <li>
                                <div class="d-list-label">How Do You Know About Business</div>
                                <div class="d-list-label">@Model.how_know</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dp-bottom-row">
                    <div class="dp-bottom-cell-1">
                        <div class="dp-bottom-cell-1-title">Attachments:</div>
                        <div class="uploaded-files">

                            @if (ViewBag.attachDocuments != null)
                            {
                                foreach (var item in ViewBag.attachDocuments)
                                {
                                    <div class="uploaded-file">
                                        <span class="uploaded-file-name">
                                            <a asp-action="Download" asp-controller="Admin"
                                               asp-route-file="@item.Upload_Document|@ViewBag.Enquiry_id">
                                                @item.Upload_Document
                                            </a>
                                        </span>
                                        <span class="uploaded-file-remove">
                                            <img src="~/images/icons/download-icon.svg" />
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="dealer-inner-cell" >
                <div class="dealer-activity-title">Activity:</div>
                <ul class="recent-activity">
                    @foreach (var ite in @Model.activities)
                    {
                        <li>
                            <div>@ite.Description</div>
                            <div class="small-text">@ite.CreatedDate</div>
                        </li>
                    }
                </ul>
                <a href="@Url.Action("ActivityList", "Admin")?delearId=@Model.Delear_Id">See More</a>
            </div>
        </div>

        <div class="modal request-action fade" id="comments_form_@ViewBag.Enquiry_id">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body comment-box">
                        <h2>Add Comments</h2>
                        <textarea placeholder="Type here..." id="d-input-Comment_@ViewBag.Enquiry_id" maxlength="500"></textarea>
                        <div>
                            @if (ViewBag.fileuploads != null)
                            {
                                <select id="dropDownList-example" name="SelectedIds" asp-for="Id" multiple asp-items="@(new SelectList(ViewBag.fileuploads, "Value", "Text"))">
                                </select>
                            }
                        </div>
                        <div class="form-inline">
                            <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                            <button type="submit" class='btn btn-primary msg-btn' id="submit_@ViewBag.Enquiry_id" data-id="@ViewBag.Enquiry_id">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal request-action fade" id="otpPopups_@ViewBag.Enquiry_id">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal body -->

                    <div class="modal-body">
                        <div class="otp-sent-to">Do you want to approved ?</div>
                        <input type="text" placeholder="Comments..." id="d-input-Comment-popup">
                        <div class="otp-footer form-inline">
                            <a class="cancel-btn mr-2" data-dismiss="modal">Cancel</a>
                            <button type="submit" id="submitApproved_@ViewBag.Enquiry_id" class="btn btn-primary pl-4 pr-4 ml-2">
                                Submit
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script>
        var status = "";
    $(document).ready(function () {
        if ('@Model.Status' == 'Rejected' || ('@Model.Status' == 'Approved' && @ViewBag.StageId == 6)) {
                $("#radioApproved_@ViewBag.Enquiry_id").attr('disabled', true);
                $("#radioHold_@ViewBag.Enquiry_id").attr('disabled', true);
                $("#radioRejected_@ViewBag.Enquiry_id").attr('disabled', true);
                $("#step5_@ViewBag.Enquiry_id").addClass('step-approved !important');
            }
         $('#dropDownList-example').SumoSelect();
        if (@ViewBag.StageId == 1) {
            $("#step1_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step1_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if('@Model.Status' == 'Rejected')
            {
                $("#step1_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step1_@ViewBag.Enquiry_id").addClass('step active !important');
            }
        }
        else if (@ViewBag.StageId == 2) {
            $("#step2_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step2_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step2_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step2_@ViewBag.Enquiry_id").addClass('step active !important');
            }
        }
        else if (@ViewBag.StageId == 3) {
            $("#step3_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step3_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step3_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step3_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        else if (@ViewBag.StageId == 4) {
            $("#step4_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step4_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step4_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step4_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        else if (@ViewBag.StageId == 5) {
            $("#step5_@ViewBag.Enquiry_id").removeClass('step-approved');
            if ('@Model.Status' == 'OnHold') {
                $("#step5_@ViewBag.Enquiry_id").addClass('step-hold !important');
            }
            else if ('@Model.Status' == 'Rejected')
            {
                $("#step5_@ViewBag.Enquiry_id").addClass('step-rejected !important');
            }
            else {
                $("#step5_@ViewBag.Enquiry_id").addClass('step active !important');
            }

        }
        $("#message-btn_@ViewBag.Enquiry_id").click(function () {
            /*$(this).toggleClass("active");*/
            $("#comments_form_@ViewBag.Enquiry_id").modal('show');
            @*$("#msg-popper_@ViewBag.Enquiry_id").fadeToggle();*@
        });
    });
    function radio_changed(value) {
         status = value;
        if (status == 'Approved') {
            $('.otp-sent-to').html("<div class='text1'>Do you want to Approve this enquiry?</div> <div class='text2'>By clicking on <b> Approve </b> it will be moved to next stage</div>");
            $('.otp-footer .btn').text("Approve");
          }
        else if (status == 'Hold') {
            $('.otp-sent-to').html("<div class='text1'>Do you want to hold this enquiry?</div> <div class='text2'>By clicking on <b> On Hold </b> it will not move to Next Stage and status will be changed to On Hold</div>");
            $('.otp-footer .btn').text("Hold");
           }
        else if (status == 'Rejected') {
            $('.otp-sent-to').html("<div class='text1'>Do you want to reject this enquiry?</div><div class='text2'>By clicking on <b> Reject </b> it will be rejected and not move to Next</div>");
            $('.otp-footer .btn').text("Reject");
         }
            $("#otpPopups_@ViewBag.Enquiry_id").modal('show');
    }
      ///Status Update
    $('#submit_@ViewBag.Enquiry_id').click(function () {
        var comment = $('#d-input-Comment_@ViewBag.Enquiry_id').val();
         var selected = $("input[type='radio']:checked").val();
        var selecteded = $("#dropDownList-example").val();
        if (selected == "" || selected == undefined) {
            $("#projectIDSelectError").html("Please select a Stage").addClass("text-danger");
        }
        else {
            $("#projectIDSelectError").html("");
        }
        var tmps = $(this).attr("data-id")
        var enquiryId = tmps.split(',')[0];
        $.ajax({
            url: "@Url.Action("CommentsUpdate", "Admin")",
            type: "POST",
            cache: false,
            data: { EnquiryId: enquiryId, comment: comment, fileId: selecteded },
            success: function (data) {
                if (data == "success") {
                    toastr.success("Status Updated Successfully");
                }
            }
        });
     });

     ///Status Updated
    $('#submitApproved_@ViewBag.Enquiry_id').click(function () {
        $.ajax({
            url: "@Url.Action("StatusUpdate", "Admin")",
            type: "POST",
            cache: false,
            data: { status: $("input[type='radio']:checked").val(), EnquiryId: '@ViewBag.Enquiry_id', comment: $('#d-input-Comment-popup').val() },
            success: function (data) {
                if (data == "success") {
                    toastr.success("Status Updated Successfully");
                }
            }
        });
    });
</script>
}
