﻿@model ZoneDetails
@using Skoda.DIAS.Common.Enums;
@{
    ViewData["Title"] = "ŠKODA India > Create Zone";
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManagerUsers"); }
<div class="dashboard">
    <div class="dashboard-inner user_create">
        <h1 class="page-title mb-4">Create Zone</h1>
        <form asp-action="ZoneCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }

            <div class="form-group row">
                <div class="col-sm-6">                    
                    <label class="custom-field two">
                        <input asp-for="Id" hidden />
                        <input asp-for="Name" class="form__field" autocomplete="off" placeholder="&nbsp;" />
                        <span class="placehold">Name</span>
                        <span asp-validation-for="Name" class="error-message" aria-live="polite"></span>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-7">
                    <input type="submit" value="Save" class="btn btn-primary pl-4 pr-4" /> 
                    <a asp-action="ZoneList" class="cancel-btn pl-4 pr-4">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}