﻿@model List<ZoneDetails>
@{
    ViewData["Title"] = "ŠKODA India > Zones";
    Layout = "_Layout";
}
 
@section Styles {
    <link href="~/vendor/dataTables/jquery.dataTables.css" rel="stylesheet" />
}
@{ await Html.RenderPartialAsync("_LeftMenu", "ManageZone"); }
<div class="dashboard">
    <div class="dashboard-inner"> 
        <a class="btn btn-primary mb-3" asp-action="ZoneCreate">Create New</a>
        <table id="user" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr> 
                    <th>
                        Zone
                    </th> 
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model != null)
                {
                    @foreach (var m in @Model)
                    {
                        <tr> 
                            <td>@m.Name</td> 
                            <td><a class="btn-edit" href="@Url.Action("ZoneCreate", "Admin")?id= @m.Id" ></a></td>
                            <td><a href='#' class='btn-delete' onclick="DeleteData(@m.Id); return false;"></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{

    <script src="~/vendor/dataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(function () { 
            $.ajax({
                type: "POST",
                url: "@Url.Action("LoadDataZone", "Admin")",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        function OnSuccess(response) {
            var users = eval(response);
            $("#user").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    dom: 'rft<"tbl-f"pli>',
                    language: {
                        info: " _START_ to _END_ of _TOTAL_ page(s)",
                        lengthMenu: " _MENU_ Items per page",
                        paginate: {
                            next: '&#8594;', // or '→'
                            previous: '&#8592;' // or '←' 
                        }
                    },
                    data: users,
                    columns: [
                    { "data": "Name" }, 
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn-edit" href="@Url.Action("ZoneCreate", "Admin")?id=' + full.Id + '"></a>'; }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn-delete' onclick=DeleteData('" + row.Id + "'); ></a>";
                        }
                    },]
                });
        };


        function DeleteData(ZoneID) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(ZoneID);
            }
            else {
                return false;
            }
        }


        function Delete(ZoneID) {
            $.ajax({
                type: 'POST',
                url: baseUrl + 'Admin/DeleteZone',
                data: { "Id": ZoneID },
                async: false,
                cache: false,
                success: function (response) {
                    if (response.result == "success") {
                        window.location.reload();
                    } else if (response.result == "failure") {
                        alert('Error deleting zone');
                    }
                },
                complete: function () {

                },
                error: function () {
                }
            });

        }
    </script>
}
