.btn-primary {
  background-color: #4AA82E;
  border-color: #4AA82E;
  border-radius: 100px;
  min-width: 150px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
}

.btn {
  -webkit-box-shadow: 0px 3px 6px rgba(75, 168, 46, 0.259);
          box-shadow: 0px 3px 6px rgba(75, 168, 46, 0.259);
  border: 1px solid #4AA82E;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #227a18;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus,
.btn-primary.active,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(121, 255, 38, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(121, 255, 38, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #227a18;
  border-color: #227a18;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #4AA82E;
  background-color: #4AA82E;
}

.cancel-btn {
  color: #333;
}

.cancel-btn:active, .cancel-btn:focus, .cancel-btn:hover {
  color: #4AA82E;
  text-decoration: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #506d4d;
  border-color: #506d4d;
}

.btn.btn-primary.red-button {
  background-color: red;
  border-color: red;
}

body {
  font-family: "SKODA Next", Arial, sans-serif;
}

#NotificationContainer h4 {
  background: #38a933;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.small-text {
  font-size: 12px;
  color: rgba(74, 74, 74, 0.5);
}

.dealer-activity-title {
  font-size: 14px;
  color: #4A4A4A;
  margin-bottom: 8px;
}

.recent-activity {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-activity li {
  position: relative;
  padding-left: 15px;
  padding-bottom: 10px;
}

.recent-activity li::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #d2d2d2;
  position: absolute;
  top: 0;
  left: 0;
}

.recent-activity li::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  position: absolute;
  top: 4px;
  left: -4px;
  display: block;
}

.recent-activity li:first-child::before {
  top: 4px;
}

.track-wrpppp .small-text {
  font-size: 10px;
}

.track-action {
  text-align: center;
  margin-top: 20px;
}

.track {
  position: relative;
  background-color: #D1D1D1;
  border: 0;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  border-radius: 35px;
  width: 100%;
  max-width: 760px;
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 18%;
  margin-top: 0px;
  text-align: left;
  position: relative;
  border-right: 1px solid #d1d1d1;
}

.track .step:last-child {
  border-right: 0;
}

.track .step .color-filler {
  width: 100%;
  height: 100%;
  background-color: #D1D1D1;
  position: absolute;
}

.track .step.step-approved .color-filler {
  background-color: #35cb75;
}

.track .step.step-hold .color-filler {
  background-color: #f08557 !important;
}

.track .step.step-rejected .color-filler {
  background-color: #f05959 !important;
}

.track .step.active.step-approved .color-filler {
  background-color: #35cb75;
}

.track .step.active.step-hold .color-filler {
  background-color: #f08557 !important;
}

.track .step.active.step-rejected .color-filler {
  background-color: #f05959 !important;
}

.track .step.active .color-filler {
  background-color: #E3CA49;
}

.track .step.active .app-s-wrp {
  color: #000;
}

.track .step .app-s-wrp {
  font-size: 0.625rem;
  text-align: center;
  padding-top: 10px;
  color: #999;
  margin-top: -32px;
}

.dealer-inner-tbl {
  display: table;
  width: 100%;
}

.dealer-inner-tbl .dealer-inner-cell {
  display: table-cell;
  width: 80%;
}

.dealer-inner-tbl .dealer-inner-cell:last-child {
  width: auto;
  padding-left: 30px;
}

.dealer-page-inner {
  background-color: #fff;
  padding: 20px;
}

.dealer-page-inner .description {
  color: #4A4A4A;
  margin-bottom: 10px;
}

.dealer-page-inner .description-title {
  font-size: 14px;
  font-weight: normal;
}

.dealer-page-inner .description-content {
  font-size: 12px;
}

.dealer-page-inner .description-content p {
  margin-bottom: 0;
}

.dp-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dp-bottom-row .dp-bottom-cell-1 {
  width: 76%;
}

.dp-bottom-row .dp-bottom-cell-1-title {
  font-size: 16px;
  text-transform: capitalize;
  color: #4A4A4A;
}

.dp-bottom-row .dp-bottom-cell-2 {
  width: auto;
  margin-left: auto;
}

.dp-bottom-row .dp-bottom-cell-2 .equirydata {
  width: 100%;
  max-width: 225px;
}

.duploaded-files,
.uploaded-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: -2px;
}

.duploaded-files .uploaded-file,
.uploaded-files .uploaded-file {
  font-size: 12px;
  border: 1px solid #D1D1D1;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 12px;
  margin: 2px;
}

.duploaded-files .uploaded-file a,
.uploaded-files .uploaded-file a {
  color: #4A4A4A;
  text-decoration: none;
}

.duploaded-files .uploaded-file .uploaded-file-remove,
.uploaded-files .uploaded-file .uploaded-file-remove {
  cursor: pointer;
  width: 14px;
}

.duploaded-files .uploaded-file .uploaded-file-remove img,
.uploaded-files .uploaded-file .uploaded-file-remove img {
  display: inherit;
  margin-left: 5px;
  width: 100%;
}

.action-btns .message-btn {
  background: #fff;
  border: 1px solid #929292;
  padding: 5px 10px 5px 26px;
  position: relative;
  cursor: pointer;
}

.action-btns .message-btn:before {
  content: '';
  background: url(../images/icons/message-icon-deactive.svg) no-repeat center;
  position: absolute;
  border: 0;
  background-color: transparent !important;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 5px;
}

.action-btns .message-btn.active {
  background: url(../images/icons/message-icon-active.svg) no-repeat center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-bottom: -5px;
}

.action-btns .upload-btn {
  background: #fff;
  border: 1px solid #929292;
  padding: 5px 10px 5px 26px;
  cursor: pointer;
  position: relative;
}

.action-btns .upload-btn:before {
  content: '';
  background: url(../images/icons/download-icon.svg) no-repeat center;
  position: absolute;
  border: 0;
  background-color: transparent !important;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 5px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.action-btns .message-btn-wrp {
  border-left: 1px solid #d2d2d2;
  padding-left: 15px;
  position: relative;
}

.action-btns .message-btn-wrp .msg-popper {
  position: absolute;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-radius: 6px;
  width: 284px;
  height: 105px;
  padding: 15px;
  text-align: right;
  top: 20px;
  left: 18px;
}

.action-btns .message-btn-wrp .msg-popper .msg-btn {
  width: 100px;
  min-width: auto;
}

.action-btns .message-btn-wrp .msg-popper .custom-field {
  font-size: 16px;
  border-top: 0;
  margin-bottom: 15px;
  width: 100%;
}

.action-btns .message-btn-wrp .msg-popper .file-input, .action-btns .message-btn-wrp .msg-popper .custom-field input {
  padding: 4px 12px;
  font-size: 12px;
}

.action-btns .approved .custom-control-label::before {
  background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .approved .custom-radio .custom-control-input:checked ~ .custom-control-label,
.action-btns .approved .custom-control-input:checked ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #35cb75;
  color: #35cb75;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
}

.action-btns .approved .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.action-btns .approved .custom-control-input:checked ~ .custom-control-label::before {
  background: url(../images/icons/approve-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .approved .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #35cb75;
  color: #35cb75;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
}

.action-btns .approved .custom-control-label:hover:before {
  background: url(../images/icons/approve-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .approved .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.action-btns .approved .custom-control-input:disabled ~ .custom-control-label,
.action-btns .approved .custom-control-input[disabled] ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
  cursor: not-allowed;
}

.action-btns .approved .custom-control-input:disabled ~ .custom-control-label:before,
.action-btns .approved .custom-control-input[disabled] ~ .custom-control-label:before {
  background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .approved .custom-control-input:disabled ~ .custom-control-label:hover,
.action-btns .approved .custom-control-input[disabled] ~ .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
}

.action-btns .approved .custom-control-input:disabled ~ .custom-control-label:hover:before,
.action-btns .approved .custom-control-input[disabled] ~ .custom-control-label:hover:before {
  background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .hold .custom-control-label::before {
  background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .hold .custom-radio .custom-control-input:checked ~ .custom-control-label,
.action-btns .hold .custom-control-input:checked ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #f08557;
  color: #f08557;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
}

.action-btns .hold .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.action-btns .hold .custom-control-input:checked ~ .custom-control-label::before {
  background: url(../images/icons/hold-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .hold .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #f08557;
  color: #f08557;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
}

.action-btns .hold .custom-control-label:hover:before {
  background: url(../images/icons/hold-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .hold .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.action-btns .hold .custom-control-input:disabled ~ .custom-control-label,
.action-btns .hold .custom-control-input[disabled] ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
}

.action-btns .hold .custom-control-input:disabled ~ .custom-control-label:before,
.action-btns .hold .custom-control-input[disabled] ~ .custom-control-label:before {
  background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .hold .custom-control-input:disabled ~ .custom-control-label:hover,
.action-btns .hold .custom-control-input[disabled] ~ .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
}

.action-btns .hold .custom-control-input:disabled ~ .custom-control-label:hover:before,
.action-btns .hold .custom-control-input[disabled] ~ .custom-control-label:hover:before {
  background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .rejected .custom-control-label::before {
  background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .rejected .custom-radio .custom-control-input:checked ~ .custom-control-label,
.action-btns .rejected .custom-control-input:checked ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #f05757;
  color: #f05757;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
}

.action-btns .rejected .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.action-btns .rejected .custom-control-input:checked ~ .custom-control-label::before {
  background: url(../images/icons/close-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .rejected .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.action-btns .rejected .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #f05757;
  color: #f05757;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
}

.action-btns .rejected .custom-control-label:hover:before {
  background: url(../images/icons/close-icon-active.svg) no-repeat center;
  background-size: contain;
}

.action-btns .rejected .custom-control-input:disabled ~ .custom-control-label,
.action-btns .rejected .custom-control-input[disabled] ~ .custom-control-label {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
  cursor: not-allowed;
}

.action-btns .rejected .custom-control-input:disabled ~ .custom-control-label:before,
.action-btns .rejected .custom-control-input[disabled] ~ .custom-control-label:before {
  background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .rejected .custom-control-input:disabled ~ .custom-control-label:hover,
.action-btns .rejected .custom-control-input[disabled] ~ .custom-control-label:hover {
  background: #fff;
  padding: 5px 10px 5px 26px;
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
          box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
}

.action-btns .rejected .custom-control-input:disabled ~ .custom-control-label:hover:before,
.action-btns .rejected .custom-control-input[disabled] ~ .custom-control-label:hover:before {
  background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
  background-size: contain;
}

.action-btns .custom-control-label {
  background: #fff;
  border: 1px solid #929292;
  padding: 5px 10px 5px 26px;
  cursor: pointer;
}

.action-btns .custom-control-label::before {
  border: 0;
  background-color: transparent !important;
  width: 18px;
  height: 18px;
  top: 7px;
  left: 5px;
}

.action-btns .custom-radio .custom-control-input:checked ~ .custom-control-label::after,
.action-btns .custom-control-input:checked ~ .custom-control-label::before {
  border: 0;
  background-color: transparent !important;
  background-image: none;
  width: 18px;
  height: 18px;
}

.action-btns-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-btns-inner > div {
  padding-right: 14px;
  padding-left: 0;
}

.description-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-count: 3;
          column-count: 3;
  width: 80%;
  max-height: 216px;
}

.description-content ul li {
  width: 30%;
  margin-bottom: 15px;
  padding-left: 3px;
  padding-right: 3px;
}

.description-content ul li .d-list-label {
  display: block;
  text-align: left;
}

.description-content ul li .d-list-label:first-child {
  font-weight: bold;
}

.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button {
  font-size: 12px;
  border-radius: 50%;
}

.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button.current:hover {
  background: #38a934;
  color: #fff !important;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.pincode_wrp {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner {
  z-index: 1;
}

.spinner .center-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.812);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #4AA82E;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dropdown-item {
  text-transform: capitalize;
}

#otpPopup-btnResend {
  cursor: pointer;
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  background-color: #fff;
}

.login-wrapper .left-div {
  max-width: 50%;
}

.login-wrapper .left-div .img-wrapper-logi {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 49.7786rem;
  position: relative;
}

.login-wrapper .left-div .img-wrapper-logi img {
  width: 100%;
}

.login-wrapper .left-div .login-page-title {
  text-align: center;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.login-wrapper .left-div .login-page-title h1 {
  font-size: 2.1429rem;
  color: #fff;
}

.login-wrapper .left-div .login-page-title p {
  color: rgba(216, 216, 216, 0.5);
  font-size: 1rem;
}

.login-wrapper .right-div {
  width: 50%;
  padding: 2.5rem;
}

.login-wrapper .right-div .login-info {
  margin-bottom: 2.8571rem;
}

.login-wrapper .right-div .login-info h3 {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: capitalize;
}

.login-wrapper .right-div .login-info p {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}

.login-wrapper .right-div input.form-control::-webkit-input-placeholder {
  font-size: 0.8571rem;
  color: rgba(0, 0, 0, 0.4);
}

.login-wrapper .right-div input.form-control:-ms-input-placeholder {
  font-size: 0.8571rem;
  color: rgba(0, 0, 0, 0.4);
}

.login-wrapper .right-div input.form-control::-ms-input-placeholder {
  font-size: 0.8571rem;
  color: rgba(0, 0, 0, 0.4);
}

.login-wrapper .right-div input.form-control::placeholder {
  font-size: 0.8571rem;
  color: rgba(0, 0, 0, 0.4);
}

.dealer-header .logo-wrp {
  padding: 20px 0;
}

.dealer-header .logo-wrp img {
  width: 145px;
}

.dealer-header .breadcrumb {
  background-color: #F3F3F3;
}

.dealer-header .breadcrumb .breadcrumb-item {
  padding-left: 5px;
}

header {
  padding: 0 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1051;
}

header .header-right,
header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-logo {
  max-width: 8.9714rem;
}

header .header-logo img {
  width: 100%;
}

header .activity-info {
  padding: 1.2143rem 1.4286rem;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
}

header .activity-info.active {
  background-color: #e5e5e5;
}

header .notif-wrp {
  padding: 1.2143rem 1.4286rem;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  margin-right: 1.4286rem;
}

header .notif-wrp img {
  max-width: 1.0714rem;
}

header .burger-icon {
  max-width: 1.0714rem;
  margin-right: 1.4286rem;
  cursor: pointer;
}

header .burger-icon img {
  width: 100%;
}

header .user-service .rounded-circle {
  width: 20px;
  height: 20px;
}

.c-header-lft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.c-header-lft .prj-status {
  margin-bottom: 0;
}

.c-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.notif-wrp .dropdown-menu .noti-list-wrp {
  max-height: 300px;
  overflow-y: auto;
}

.notif-wrp .dropdown-menu .noti-list-wrp .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.notif-wrp .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notif-wrp .dropdown-item {
  font-size: 0.9rem;
  line-height: 1.4;
  padding: 10px 20px;
  border-bottom: 1px solid #d2d2d2;
}

.notif_count {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.notif_count .noti-value {
  margin-right: 0.3571rem;
  width: 1.4286rem;
  height: 1.4286rem;
  background: #4AA82E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -0.8571rem;
  font-size: 0.6429rem;
  right: 0;
}

.select2-results__option {
  padding: 3px 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  text-transform: capitalize;
}

.dashboard-wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-wrapper .dashboard-inner {
  padding: 1.7857rem 1.5857rem 0 1.5857rem;
}

.dashboard-wrapper .welcomeCard {
  background-color: #ffeed3;
  padding: 1.4286rem;
  position: relative;
  margin-bottom: 1.4286rem;
}

.dashboard-wrapper .welcomeCard h2 {
  font-size: 1.5rem;
}

.dashboard-wrapper .welcomeCard p {
  margin: 0;
  padding: 0;
}

.dash-content .dash-title {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 0.7143rem;
  padding-bottom: 0.3571rem;
}

.dash-content .dash-title .dash-dropdown,
.dash-content .dash-title h4 {
  margin-bottom: 0.7143rem;
  font-size: 1rem;
  display: inline-block;
  color: #010101;
}

.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-wrap .card {
  width: 12%;
  padding: 1.0714rem 0.7143rem;
  background: #eff7bf;
  border-radius: 0.3571rem;
  border-top: 0.3571rem solid #d5de9a;
}

.card-wrap .card h2 {
  font-size: 0.8572rem;
  color: #010101;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-wrap .card .value {
  font-size: 2.2857rem;
  line-height: normal;
}

.filter-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a4adb4;
  padding-bottom: 0.4286rem;
}

.searchButton {
  border: 0;
  padding: 0;
  background: transparent;
}

.searchButton img {
  width: 0.8571rem;
}

.searchInput {
  border: 1px solid transparent;
  max-width: 12.2143rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0.3571rem 0.2143rem;
  transition: all 0.3s linear;
  outline: 0;
}

.filter-wrp img {
  width: 0.9286rem;
  margin-right: 0.3571rem;
}

.searchBox:focus > .searchInput,
.searchBox:hover > .searchInput {
  border: 1px solid #d2d2d2;
  padding: 0.3571rem 0.7143rem;
}

.searchInput:focus {
  border: 1px solid #d2d2d2;
}

.filter-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-right ul li {
  margin-right: 1.0714rem;
}

.filter-right ul li:last-child {
  margin-right: 0;
}

.change-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.change-view .view {
  width: 2.1429rem;
  height: 1.4286rem;
  border: 1px solid #d2d2d2;
  padding: 0.7429rem 0.2857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.change-view .view svg {
  fill: #a4adb4;
  width: 0.7857rem;
}

.change-view .view.active {
  background: #a4adb4;
}

.change-view .view.active svg {
  fill: #fff;
}

.change-view .grid-view {
  border-right: 0;
}

.create-p-btn {
  padding: 0.275rem 0.75rem;
}

.prjcard {
  width: 31.5%;
}

#list-view .prj-status {
  -webkit-box-shadow: 0px 0px 0.2143rem #0000001f;
          box-shadow: 0px 0px 0.2143rem #0000001f;
  border-radius: 0.2143rem;
  padding: 0.2143rem 0.3571rem;
  display: inline-block;
  margin-bottom: 1rem;
}

#list-view .prj-status:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: green;
  margin-right: 0.3571rem;
}

#list-view .prj-status.on.track:before, #list-view .prj-status.ontrack:before {
  background-color: #38a933;
}

#list-view .prj-status.off.track:before, #list-view .prj-status.offtrack:before {
  background-color: red;
}

#list-view .prj-status.at.risk:before, #list-view .prj-status.atrisk:before {
  background-color: #fc9b24;
}

#list-view .prj-status.draft:before {
  background-color: #a4adb4;
}

#list-view .prj-status.approval:before {
  background-color: #0026ff;
}

#grid-view {
  padding: 1.1429rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.8%;
  margin-right: -0.8%;
}

#grid-view .prjcard {
  -webkit-box-shadow: 0px 0px 9px #bababa34;
          box-shadow: 0px 0px 9px #bababa34;
  border-radius: 0.3571rem;
  padding: 1.0714rem;
  font-size: 0.8571rem;
  position: relative;
  margin: 0.7% 0.8%;
}

#grid-view .left-icon:before {
  content: "";
  background: url(../images/icons/file-icon.svg) no-repeat center;
  width: 0.8571rem;
  height: 0.8571rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3571rem;
  background-size: contain !important;
}

#grid-view .prj-name {
  font-size: 1.1429rem;
  margin-bottom: 0.7143rem;
}

#grid-view .prj-name_inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 13.5714rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

#grid-view .prj-name .changeprj {
  width: 1.0714rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.3571rem;
}

#grid-view .prj-name .changeprj img {
  width: 100%;
}

#grid-view .prj-date {
  margin-bottom: 1rem;
}

#grid-view .prj-date:before {
  background: url(../images/icons/calendar-icon.svg) no-repeat center;
}

#grid-view .prj-value:before {
  background: url(../images/icons/invoice-icon.svg) no-repeat center;
}

.progress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 1.7857rem;
  font-size: 0.8571rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-box.ontrack {
  background-color: #38a933;
}

.progress-box.offtrack {
  background-color: red;
}

.progress-box.atrisk {
  background-color: #fc9b24;
}

.progress-box.draft {
  background-color: #a4adb4;
}

.progress-box.approval {
  background-color: #0026ff;
}

#svg {
  position: relative;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#slidervalue {
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #aef;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
  /*transform: rotate(90deg);*/
}

.right-prj {
  position: absolute;
  top: 2.1429rem;
  right: 1.0714rem;
}

.right-prj #svgcontainer {
  position: relative;
  display: inline-block;
}

.right-prj #svg {
  position: relative;
  width: 4.4286rem;
}

.right-prj #progressbg {
  z-index: 0;
  position: absolute;
  top: 0px;
  -webkit-box-shadow: 5px 5px 5px 5px #333;
          box-shadow: 5px 5px 5px 5px #333;
  stroke: #d8d8d8;
}

.right-prj #progress {
  stroke-dashoffset: 125px;
  stroke: #7df;
  -webkit-transition: stroke 1s linear;
  transition: stroke 1s linear;
  z-index: 1;
  position: absolute;
  top: 0px;
}

.right-prj #slidervalue {
  font-size: 1rem;
}

.total-emp {
  position: absolute;
  bottom: 1.0714rem;
  right: 1.0714rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-emp ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total-emp ul li {
  width: 1.5714rem;
  height: 1.5714rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -0.7857rem;
  border: 1px solid #fff;
}

.total-emp ul li img {
  width: 100%;
}

.edit-card {
  position: absolute;
  top: 0.1429rem;
  right: 0.8571rem;
  width: 0.9286rem;
}

.edit-card img {
  width: 100%;
}

.modal.fade.fullpage.createNewProject .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "SKODA Next", Arial, sans-serif;
}

.createp-modal-inner {
  max-width: 24.2857rem;
  width: 100%;
}

.createp-modal-inner .close {
  position: absolute;
  top: 11%;
  right: 3%;
}

.createp-modal-inner .modal-title {
  font-size: 1.4286rem;
  font-weight: bold;
  margin-bottom: 2.8571rem;
}

.cp-btn-spacing {
  margin-top: 6.4286rem;
}

.filter-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px;
  font-size: 16px;
}

.filter-card {
  min-width: 10.375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 0.5em;
  overflow: hidden;
  margin-right: 1.25em;
}

.filter-card.disabled {
  border: 1px solid #D1D1D1 !important;
}

.filter-card.disabled .filter-card-icon {
  background-color: #D1D1D1 !important;
}

.filter-card.disabled .filter-card-data-value {
  color: #D1D1D1 !important;
}

.filter-card .filter-card-data-value {
  text-align: center;
}

.filter-card:last-child {
  margin-right: 0;
}

.filter-card.fci-blue {
  border: 1px solid #41A1CA;
}

.filter-card.fci-blue .filter-card-icon {
  background-color: #41A1CA;
}

.filter-card.fci-blue .filter-card-data-value {
  color: #41A1CA;
}

.filter-card.fci-blue.active .tick {
  width: 1em;
  height: 1em;
  background: #41A1CA url(../images/icons/tick.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-card.fci-yellow {
  border: 1px solid #E3CA49;
}

.filter-card.fci-yellow .filter-card-icon {
  background-color: #E3CA49;
}

.filter-card.fci-yellow .filter-card-data-value {
  color: #E3CA49;
}

.filter-card.fci-yellow.active .tick {
  width: 1em;
  height: 1em;
  background: #E3CA49 url(../images/icons/tick.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-card.fci-green {
  border: 1px solid #35CB75;
}

.filter-card.fci-green .filter-card-icon {
  background-color: #35CB75;
}

.filter-card.fci-green .filter-card-data-value {
  color: #35CB75;
}

.filter-card.fci-green.active .tick {
  width: 1em;
  height: 1em;
  background: #35CB75 url(../images/icons/tick.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-card.fci-orange {
  border: 1px solid #F08557;
}

.filter-card.fci-orange .filter-card-icon {
  background-color: #F08557;
}

.filter-card.fci-orange .filter-card-data-value {
  color: #F08557;
}

.filter-card.fci-orange.active .tick {
  width: 1em;
  height: 1em;
  background: #F08557 url(../images/icons/tick.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-card.fci-red {
  border: 1px solid #F05757;
}

.filter-card.fci-red .filter-card-icon {
  background-color: #F05757;
}

.filter-card.fci-red .filter-card-data-value {
  color: #F05757;
}

.filter-card.fci-red.active .tick {
  width: 1em;
  height: 1em;
  background: #F05757 url(../images/icons/tick.png) no-repeat center;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-card .filter-card-icon {
  width: 3em;
  background-color: transparent;
  position: relative;
}

.filter-card .filter-card-icon.all-icon:after {
  background: url(../images/icons/nav-icon.svg) no-repeat center;
  background-size: contain;
}

.filter-card .filter-card-icon.open-icon:after {
  background: url(../images/icons/star-icon-white.svg) no-repeat center;
  background-size: contain;
}

.filter-card .filter-card-icon.approved-icon:after {
  background: url(../images/icons/approved-icon-white.svg) no-repeat center;
  background-size: contain;
}

.filter-card .filter-card-icon.onhold-icon:after {
  background: url(../images/icons/onhold-icon-white.svg) no-repeat center;
  background-size: contain;
}

.filter-card .filter-card-icon.rejected-icon:after {
  background: url(../images/icons/rejected-icon-white.svg) no-repeat center;
  background-size: contain;
}

.filter-card .filter-card-icon:after {
  content: '';
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filter-card .filter-card-data {
  display: table;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.3125em;
  position: relative;
}

.filter-card .filter-card-data-label {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.75em;
  width: 3.5625em;
  padding-left: 0.375em;
  line-height: 1.4;
}

.filter-card .filter-card-data-value {
  font-size: 1.875em;
  display: table-cell;
  vertical-align: middle;
  padding-right: 18px;
}

table.dataTable tbody tr {
  background-color: #f3f4f4 !important;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #F3F4F4;
}

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #F3F4F4;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #F3F4F4;
}

.dataTable thead tr {
  background-color: #4A4A4A;
}

.dataTable thead tr th {
  color: #fff;
  font-weight: normal !important;
}

.tbl-icon {
  padding-left: 20px;
  position: relative;
}

.tbl-icon.tbl-icon-open:after {
  background: url(../images/icons/star-icon-yellow.svg) no-repeat center;
  background-size: contain;
}

.tbl-icon.tbl-icon-hold:after {
  background: url(../images/icons/onhold-icon-orange.svg) no-repeat center;
  background-size: contain;
}

.tbl-icon.tbl-icon-rejected:after {
  background: url(../images/icons/rejected-icon-red.svg) no-repeat center;
  background-size: contain;
}

.tbl-icon.tbl-icon-approved:after {
  background: url(../images/icons/approved-icon-green.svg) no-repeat center;
  background-size: contain;
}

.tbl-icon:after {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

table.dataTable {
  font-size: 14px;
}

td.dt-control {
  background: url(../images/icons/dropdown-icon.svg) no-repeat center center !important;
  cursor: pointer;
}

.filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #F3F4F4;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 5px 0.9375rem;
  top: 56px;
}

.filter-bar .filter-left h2 {
  font-size: 16px;
  color: #4A4A4A;
  font-weight: bold;
  margin: 0;
}

.filter-bar .filter-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-bar .filter-right .filter-inner {
  border-left: 1px solid #c2c4c4;
}

.filter-bar .filter-right .filter-inner:first-child {
  border: 0;
}

.filter-bar .filter-right .filter-inner .date-input {
  background: transparent;
  border: 0;
  width: 144px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  color: #4A4A4A;
  padding-left: 0;
  text-align: right;
}

.filter-bar .filter-right .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 0;
  border-radius: 0px;
  font-size: 14px;
  text-transform: capitalize;
}

.tbl-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tbl-f > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tbl-f .dataTables_length select {
  padding: 0 !important;
  text-align: center;
  border: 0 !important;
  margin-right: 7px;
  border-radius: 0 !important;
  font-size: 14px;
}

.tbl-f .dataTables_paginate {
  text-align: left !important;
}

.tbl-f .dataTables_info {
  font-size: 14px;
  text-align: right;
  padding-top: 0 !important;
}

.tbl-f .dataTables_length {
  font-size: 14px;
  text-align: center;
}

.tbl-f .dataTables_length label {
  margin-bottom: 0;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  border: 0;
}

.request-action .modal-dialog {
  max-width: 800px;
}

.request-action .modal-dialog .comment-box h2 {
  font-size: 16px;
}

.request-action .modal-dialog .comment-box textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
}

.request-action .modal-dialog .comment-box .form-inline {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.request-action .otp-sent-to {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.request-action .form-inline {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.download-btn {
  float: left;
  padding: 0;
  background: transparent;
  border: 0;
  margin-bottom: 10px;
}

.download-btn:active, .download-btn:hover, .download-btn:focus {
  padding: 0;
  background: transparent;
  border: 0;
  text-decoration: underline;
}

.reject-btn {
  float: right;
  padding: 0;
  background: transparent;
  border: 0;
  margin-bottom: 10px;
}

.reject-btn:active, .reject-btn:hover, .reject-btn:focus {
  padding: 0;
  background: transparent;
  border: 0;
  text-decoration: underline;
}

.clickable {
  text-transform: capitalize;
}

.dt-hasChild td {
  background: #EAF1DD;
}

.dt-hasChild td.dt-control {
  background: #EAF1DD url(../images/icons/dropdown-icon.svg) no-repeat center center !important;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.isChild > td {
  padding: 0 !important;
  border: 2px solid #EAF1DD;
}

.create_prj_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create_prj_wrapper .create_prj_inner {
  max-width: 73.8%;
  width: 100%;
}

.create_prj_wrapper .create_prj_inner .c-header {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.11);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5714rem 2.8571rem;
  background: #fff;
  z-index: 1;
}

.create_prj_wrapper .create_prj_inner .c-header .back-btn {
  max-width: 1.2143rem;
  width: 100%;
}

.create_prj_wrapper .create_prj_inner .c-header .back-btn img {
  width: 100%;
}

.create_prj_wrapper .create_prj_inner .c-header h1 {
  font-size: 1.4286rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #4AA82E;
  margin-left: 0.7143rem;
}

.create_prj_wrapper .cp-main {
  padding: 3.2143rem 2.8571rem;
}

.create_prj_wrapper .prj-table-row {
  display: table;
  width: 100%;
}

.create_prj_wrapper .prj-table-row:first-child .prj-table-cell {
  border-top: 1px solid #a4adb4;
}

.create_prj_wrapper .prj-table-row .prj-table-label {
  width: 20.7143rem;
  background-color: #f0f0f0;
  border-left: 1px solid #a4adb4;
  font-size: 0.8571rem;
}

.create_prj_wrapper .prj-table-row .prj-table-cell {
  display: table-cell;
  padding: 1.4286rem;
  border-right: 1px solid #a4adb4;
  border-bottom: 1px solid #a4adb4;
  position: relative;
}

.create_prj_wrapper .prj-table-wrapper {
  margin-bottom: 3.5714rem;
}

.dropzone .dz-message {
  text-align: center;
  margin: 2em 7em;
}

.prj-table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7143rem;
}

.prj-table-header h4 {
  font-size: 1.1429rem;
}

.prj-table-header .addnew-link {
  color: #4AA82E;
  text-decoration: underline;
  font-size: 0.8571rem;
}

.edit-btn {
  width: 1rem;
  display: inline-block;
}

.edit-btn img {
  width: 100%;
}

.withtwocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.withtwocol .prj-emp-name {
  display: inline-block;
  margin-left: 0.2142rem;
}

.profile-pic {
  width: 1.7857rem !important;
  height: 1.7857rem !important;
  display: inline-block;
  vertical-align: middle;
}

.textavatar {
  width: 1.7857rem !important;
  height: 1.7857rem !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.8571rem !important;
  background: transparent;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #fff;
}

.textavatar abbr {
  text-decoration: none;
}

.textavatar-blue {
  background: #6456f9;
}

.textavatar-orange {
  background: #ebac47;
}

.team-icon {
  width: 1.7857rem;
  height: 1.7857rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  background-color: #a4adb4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-icon img {
  width: 1.1429rem;
}

.team-name {
  margin-left: 0.2142rem;
  display: block;
  vertical-align: middle;
}

.prj-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.r-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.r-document .copy-icon {
  min-width: 4.4286rem;
  margin-right: 1.4286rem;
}

.r-document .copy-icon img {
  width: 100%;
}

.tbl-font-head,
.techQuotation {
  font-size: 0.8571rem;
}

.Table {
  display: table;
  width: 100%;
  position: relative;
}

.Table .Row,
.Table .Heading {
  display: table-row;
}

.Table .Row:first-child .Cell,
.Table .Heading:first-child .Cell {
  border-top: 1px solid #a4adb4;
}

.Table .Row .Cell,
.Table .Heading .Cell {
  display: table-cell;
  border-left: 1px solid #a4adb4;
  border-bottom: 1px solid #a4adb4;
  padding: 1.1429rem;
  text-align: center;
  width: 23.66%;
}

.Table .Row .Cell:last-child,
.Table .Heading .Cell:last-child {
  width: 6.66%;
}

.Table .Row .Cell p,
.Table .Heading .Cell p {
  margin-bottom: 0;
}

.Table .Row .Cell:last-child,
.Table .Heading .Cell:last-child {
  border-right: 1px solid #a4adb4;
}

.Table .Heading .Cell {
  background-color: #a4adb4;
  color: #fff;
  padding: 0.4143rem 1.1429rem;
}

.no-edit .Table .Heading .Cell,
.no-edit .Table .Row .Cell {
  width: 20%;
}

.no-edit .Table .Heading .Cell:last-child,
.no-edit .Table .Row .Cell:last-child {
  width: 20%;
}

.desc-tbl .Table .Heading .Cell,
.desc-tbl .Table .Row .Cell {
  width: 20%;
}

.desc-tbl .Table .Heading .Cell:nth-child(2),
.desc-tbl .Table .Row .Cell:nth-child(2) {
  width: 40%;
}

.last-col-large .Table .Heading .Cell,
.last-col-large .Table .Row .Cell {
  width: 13%;
}

.last-col-large .Table .Heading .Cell:last-child,
.last-col-large .Table .Row .Cell:last-child {
  width: 33%;
}

.tbl-text-left .Table .Heading .Cell,
.tbl-text-left .Table .Row .Cell {
  text-align: left !important;
}

.budget-table .Table .Heading .Cell:first-child {
  text-align: left;
}

.budget-table .Table .Heading .Cell:nth-child(2) {
  background-color: #38a933;
  color: #fff;
}

.budget-table .Table .Row .Cell:first-child {
  text-align: left;
}

.budget-table .Table .Row .Cell:nth-child(2) {
  background-color: #fafffa;
}

.budget-table .Table .Row .Cell:nth-child(3) {
  background-color: #f8f8f8;
}

.Table.projectTimelines-tbl .Row .Cell {
  width: 31.66%;
}

.Table.projectTimelines-tbl .Row .Cell:nth-last-child(2), .Table.projectTimelines-tbl .Row .Cell:last-child {
  width: 4%;
}

.approval_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.11);
  padding: 0.7857rem 2.1429rem;
}

.approval_wrapper .approval_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.approval_wrapper .app-btn-wrp span {
  color: #a4adb4;
  font-size: 0.8571rem;
  display: inline-block;
  margin-right: 1.4286rem;
}

.vendorQuote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.3571rem;
  margin-right: -0.3571rem;
}

.vendorQuote > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.3571rem;
  margin-left: 0.3571rem;
}

.document-upload {
  border: 1px dashed #d2d2d2;
  padding: 0.7143rem;
  border-radius: 0.2857rem;
}

.create_prj_wrapper .upload-section .prj-table-row:first-child .prj-table-cell {
  border: 2px dashed #a4adb4;
}

.create_prj_wrapper .upload-section .prj-table-row .prj-table-cell.dash-border {
  font-size: 1.1429rem;
}

.create_prj_wrapper .upload-section .prj-table-row .prj-table-cell .r-document {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1429rem;
}

.create_prj_wrapper .prj-table-row:first-child .prj-table-cell.dash-border {
  border-top: 2px dashed #a4adb4;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.upload-section-border {
  border-right: 2px dashed #a4adb4;
  border-bottom: 2px dashed #a4adb4;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dash-border {
  border-right: 2px dashed #a4adb4;
  border-bottom: 2px dashed #a4adb4;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dragdrop {
  padding: 0;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dragdrop .dropzone {
  padding: 1.4286rem;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dragdrop .r-document {
  display: block;
  padding-left: 5.9286em;
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dragdrop .r-document .copy-icon {
  max-width: 4.4286em;
  position: absolute;
  z-index: 0;
  top: 1.0714em;
  left: 1.0714em;
}

.upload_wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0.3571em;
}

.upload_wrapper .dz-preview {
  margin: 0 !important;
  width: 12.2857em !important;
  border-right: 0 !important;
}

.upload_wrapper .dz-remove {
  width: 1.7857em;
  padding: 0.3571em;
  height: auto;
  line-height: normal;
  z-index: 0;
  cursor: pointer !important;
  border: 1px solid #a4adb4;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.upload_wrapper .dz-remove img {
  width: 100%;
}

.csidebar {
  width: 26.2%;
  background: #f6f8f9;
  padding: 0 1.8571rem;
  height: 100vh;
}

.csidebar .clipbord-icon {
  width: 8.9143rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.7143rem;
  margin-bottom: 2.5rem;
}

.csidebar .clipbord-icon img {
  width: 100%;
}

.csidebar .csidebar-inner h2 {
  font-size: 1.1429rem;
  font-weight: bold;
  margin-bottom: 0.6429rem;
}

.csidebar .csidebar-inner .scroller {
  height: 60vh;
  overflow-y: auto;
  margin-left: -0.7143rem;
  margin-right: -0.7143rem;
  padding: 0.7143rem;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}

.csidebar .csidebar-inner .scroller::-webkit-scrollbar {
  display: none;
}

.csidebar .csidebar-inner .scroller {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.csidebar .csidebar-inner .csidebar-card {
  font-size: 0.8571rem;
  background-color: #fff;
  padding: 0.9286rem 1.0714rem;
  border-radius: 0.3571rem;
  margin-bottom: 0.7143rem;
  -webkit-box-shadow: 0px 0px 0.4286rem rgba(0, 0, 0, 0.161);
          box-shadow: 0px 0px 0.4286rem rgba(0, 0, 0, 0.161);
}

.csidebar .csidebar-inner .csidebar-card.de-active {
  background-color: rgba(164, 173, 180, 0.102);
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.csidebar .csidebar-inner .csidebar-card > ul > li > a {
  position: relative;
}

.csidebar .csidebar-inner .csidebar-card > ul > li > a.active:after {
  background: url(../images/icons/check-mark.svg);
}

.csidebar .csidebar-inner .csidebar-card > ul > li > a:after {
  content: "";
  display: inline-block;
  width: 1.2143rem;
  height: 1.2143rem;
  background: url(../images/icons/check-mark-empty.svg);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 99% !important;
  position: absolute;
  top: 0;
  right: 0;
}

.csidebar .csidebar-inner .csidebar-card > ul > li > ul > li > a {
  position: relative;
}

.csidebar .csidebar-inner .csidebar-card > ul > li > ul > li > a.active:after {
  background: url(../images/icons/check-mark.svg);
}

.csidebar .csidebar-inner .csidebar-card > ul > li > ul > li > a:after {
  content: "";
  display: inline-block;
  width: 0.8572rem;
  height: 0.8572rem;
  background: url(../images/icons/check-mark-empty.svg);
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  position: absolute;
  top: 0.2143rem;
  right: 0.1429rem;
}

.csidebar .csidebar-inner .csidebar-card .bullet-line {
  position: relative;
}

.csidebar .csidebar-inner .csidebar-card .bullet-line:before {
  content: "";
  width: 0.1429rem;
  display: inline-block;
  position: absolute;
  bottom: 0;
  top: 1.5714rem;
  border-left: 0.1429rem dashed rgba(164, 173, 180, 0.815);
  left: 0.0714rem;
}

.csidebar .csidebar-inner .csidebar-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.csidebar .csidebar-inner .csidebar-card ul li a {
  display: block;
  color: #000;
}

.csidebar .csidebar-inner .csidebar-card ul li > ul {
  padding-left: 0.7143rem;
}

.csidebar .csidebar-inner .csidebar-card ul.bullet-line li a {
  margin-bottom: 1.0714rem;
  display: block;
  color: #000;
}

.csidebar .csidebar-inner .csidebar-card ul.bullet-line li > ul {
  padding-left: 0.7143rem;
}

.sidebar {
  padding: 96px 0 3.5714rem 0;
  background: #F3F4F4;
  width: 50px;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
}

.sidebar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar > ul > li {
  width: 100%;
}

.sidebar > ul > li > a {
  display: block;
  padding: 20px 18px;
  color: #a4adb4;
}

.sidebar > ul > li > a span {
  display: none;
}

.sidebar > ul > li > a:hover, .sidebar > ul > li > a.active {
  background-color: #4A4A4A;
  color: #fff;
}

.sidebar > ul > li > a:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 100%;
  background: #4a4a4a;
  top: 0;
  bottom: 0;
  padding: 9px;
  white-space: nowrap;
  font-size: 10px;
}

.sidebar .nav-icon {
  position: relative;
}

.sidebar .nav-icon-dash:before {
  background: url(../images/icons/dash-icon.svg) no-repeat center;
}

.sidebar .nav-icon-dash.active, .sidebar .nav-icon-dash:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-dash.active:before, .sidebar .nav-icon-dash:hover:before {
  background: url(../images/icons/nav-icon.svg) no-repeat center;
}

.sidebar .nav-icon-user:before {
  background: url(../images/icons/user-nav-icon-deactive.svg) no-repeat center;
}

.sidebar .nav-icon-user.active, .sidebar .nav-icon-user:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-user.active:before, .sidebar .nav-icon-user:hover:before {
  background: url(../images/icons/user-nav-icon-active.svg) no-repeat center;
}

.sidebar .nav-icon-roles:before {
  background: url(../images/icons/role-icon-nav.svg) no-repeat center;
}

.sidebar .nav-icon-roles.active, .sidebar .nav-icon-roles:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-roles.active:before, .sidebar .nav-icon-roles:hover:before {
  background: url(../images/icons/role-icon-nav-active.svg) no-repeat center;
}

.sidebar .nav-icon-zones:before {
  background: url(../images/icons/zone-icon-nav.svg) no-repeat center;
}

.sidebar .nav-icon-zones.active, .sidebar .nav-icon-zones:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-zones.active:before, .sidebar .nav-icon-zones:hover:before {
  background: url(../images/icons/zone-icon-nav-active.svg) no-repeat center;
}

.sidebar .nav-icon-city:before {
  background: url(../images/icons/city-icon-nav.svg) no-repeat center;
}

.sidebar .nav-icon-city.active, .sidebar .nav-icon-city:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-city.active:before, .sidebar .nav-icon-city:hover:before {
  background: url(../images/icons/city-icon-nav-active.svg) no-repeat center;
}

.sidebar .nav-icon-doc:before {
  background: url(../images/icons/file-icon-nav.svg) no-repeat center;
}

.sidebar .nav-icon-doc.active, .sidebar .nav-icon-doc:hover {
  background-color: #4A4A4A;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar .nav-icon-doc.active:before, .sidebar .nav-icon-doc:hover:before {
  background: url(../images/icons/file-icon-nav-active.svg) no-repeat center;
}

.sidebar .nav-icon:before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background-size: contain !important;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar,
.dashboard {
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.dashboard.full-width {
  padding-left: 28px !important;
}

.sidebar-hide {
  width: 40px;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  overflow: hidden;
}

.dashboard-wrapper .dashboard {
  padding-left: 50px;
  width: 100%;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #000;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #000;
  width: 6px;
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: #000;
}

.ps__thumb-y,
.ps__rail-y {
  width: 6px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 1.5625rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #4AA82E;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #4AA82E;
}

/* reset input */
.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-field {
  position: relative;
  font-size: 16px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  width: 100%;
}

.custom-field .login-input {
  width: 420px;
}

.custom-field .select2-container--default .select2-selection--single .select2-selection__clear,
.custom-field .select2-container--default .select2-selection--single .select2-selection__rendered,
.custom-field .select2-container--default .select2-selection--single .select2-selection__arrow,
.custom-field .select2-container .select2-selection--single {
  height: 46px;
  line-height: 46px;
}

.custom-field .select2-container--default .select2-selection--single {
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  text-transform: capitalize;
}

.file-input,
.custom-field textarea,
.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 9px 12px;
  border-radius: 8px 8px 0px 0px;
  -webkit-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-bottom: 1px solid #000;
  font-weight: normal;
  color: #4A4A4A;
  cursor: text;
}

.file-input {
  background: url(../images/icons/upload-icon.svg) no-repeat right 12px center;
  background-size: 30px;
  color: #4A4A4A;
}

.custom-field .placehold {
  position: absolute;
  left: 2px;
  width: calc(100% - (12px * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 21px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #4A4A4A;
  -webkit-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  cursor: text;
}

.custom-field.focused .placehold {
  top: -10px;
  font-size: 14px;
  color: #4AA82E;
  text-transform: capitalize;
}

.custom-field .error-message {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0px;
  font-size: 12px;
  background: transparent;
  color: #d30909;
  height: 24px;
  text-transform: capitalize;
}

.custom-field .error-message:empty {
  opacity: 0;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  border-bottom-width: 2px;
  border-bottom-color: #4AA82E;
}

.custom-field.two textarea.dirty,
.custom-field.two textarea:not(:placeholder-shown),
.custom-field.two textarea:focus {
  border-bottom-width: 2px;
  border-bottom-color: #4AA82E;
}

.top-search {
  width: 150px;
  background: transparent;
  border: 0;
  margin-right: 18px;
  border-bottom: 1px solid #d2d2d2;
}

.top-search:hover, .top-search:focus {
  border: 0;
  outline: none;
  border-bottom: 1px solid #4AA82E;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 98px !important;
  overflow-y: auto;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #4AA82E;
  color: white;
}

.file-upload-input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d2d2d2;
  padding: 9px;
  color: #999;
  position: relative;
}

.file-upload-input:after {
  content: '';
  width: 30px;
  height: 30px;
  background: url(../images/icons/upload_icon.svg) no-repeat center;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
}

.btn-edit {
  width: 1.0714rem;
  height: 1.0714rem;
  background: url(../images/icons/edit.svg) no-repeat center;
  background-size: contain;
  display: block;
  margin: auto;
}

.btn-delete {
  width: 1.0714rem;
  height: 1.0714rem;
  background: url(../images/icons/delete.svg) no-repeat center;
  background-size: contain;
  display: block;
  margin: auto;
}

@media screen and (min-width: 1367px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1681px) {
  .prjcard {
    width: 23%;
  }
}
/*# sourceMappingURL=style.css.map */