@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-LightItalic.woff2') format('woff2'),
        url('SKODANext-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-Light.woff2') format('woff2'),
        url('SKODANext-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-Bold.woff2') format('woff2'),
        url('SKODANext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-Regular.woff2') format('woff2'),
        url('SKODANext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-BlackItalic.woff2') format('woff2'),
        url('SKODANext-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-Black.woff2') format('woff2'),
        url('SKODANext-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-BoldItalic.woff2') format('woff2'),
        url('SKODANext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next';
    src: url('SKODANext-Italic.woff2') format('woff2'),
        url('SKODANext-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SKODA Next Black Expanded';
    src: url('SKODANext-BlackExpanded.woff2') format('woff2'),
        url('SKODANext-BlackExpanded.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

