.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 100px;
  min-width: 150px;


  &:hover {
    color: #fff;
    background-color: $primary-color-darker;
    border-color: $primary-color-darker;
  }
}
.btn{
  box-shadow: 0px 3px 6px rgba(75, 168, 46, 0.259);
border: 1px solid #4AA82E;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: $primary-color-darker;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.active,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: $primary-color-darker;
  border-color: $primary-color-darker;
  box-shadow: 0 0 0 0.2rem rgba(121, 255, 38, 0.5);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $primary-color-darker;
  border-color: $primary-color-darker;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}


.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color:#506d4d;
  border-color: #506d4d;
  cursor: not-allowed;
}
.btn.btn-primary.red-button{
  background-color: red;
  border-color: red;
  
}