html {
  font-size: 14px;
  // font-size: 1.094vw;
}
body {
  font-family: "SKODA Next", Arial, sans-serif;
  background-color: #F3F4F4;
}
a {
  color: $primary-color;
  &:focus,
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

h3 {
  font-size: 1.4286rem;
  font-weight: bold;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $primary-color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(56, 169, 51, 0.24);
}

.page-title{
  font-size: 1.5rem;
  font-weight: bold;
  
}
.m24{
  margin-bottom: 1.5rem;
}
.banner{
  // margin-bottom: 1.9375rem;
  img{
    width: 100%;
  }
}
.delear-card-wrapper{
  background-color: #fff;
  padding:  2rem 5.625rem 12rem 5.75rem;
}
.welcome-text{
  font-size: 1rem;
  font-weight: bold;
}
.small-text{
  font-size: 0.75rem;
  opacity: 0.5;
  line-height: 14px;
  color: #000;
  display: block;
  padding: 3px 0;
}
.breadcrumb{
  background-color: #fff;
  padding: .75rem 0rem;
  
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  .breadcrumb-item {
    padding-left: 5px;  }
}
.text-green {
  color: $text-green;
}


.form-control-skoda{
  border-radius: 0;
}

.form-inline-skoda{
  display: flex;
  width: 100%;
  max-width: 590px;
  align-items: flex-end;
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 0px;
    width: 70%;
}
}
.form-title{
  font-size: 1rem;
  margin-bottom: 0.625rem;
}
.more-info-text{
  margin-bottom: 1.25rem;
}



.track-wrpppp{
  .small-text{
    font-size: 10px;
  }
}
.track-action {
  text-align: center;
  margin-top: 20px;
}
.track {
  position: relative;
  background-color: #f0f1f4;
  border: 0;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
margin-bottom: 60px;
margin-top: 0px;
  border-radius: 35px;
}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 18%;
  margin-top: 0px;
  //   text-align: center;
  text-align: left;
  position: relative;
  border-right: 1px solid #d1d1d1;
  &:last-child{
    border-right: 0;
  }
  .color-filler{
    width: 100%;
    height: 100%;
    background-color: #D1D1D1;
    position: absolute;
  }
  &.active{
    .color-filler{
      background-color: #E3CA49;
    }
    
    .app-s-wrp{
      color: #000;
    }
  }
  .app-s-wrp{
    font-size: 0.625rem;
    text-align: center;
    padding-top: 25px;
    color: #999;
  }
  // &:last-child {
  //   text-align: right;
  //   width: 159px;
  // }
  // &:nth-last-child(2) {
  //   width: calc(25% - 159px);
  // }

  // &:first-child {
  //   .app-progress {
  //     border-radius: 50px 0 0 50px;
  //   }
  // }
  // &:last-child {
  //   .app-progress {
  //     border-radius: 0 50px 50px 0;
  //   }
  // }
}

#imagePreview{
  img{
    margin-right: 10px;
    border: 1px solid #4aa82f;
    padding: 5px;
  }
}

.file-upload-input{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d2d2d2;
  padding: 9px;
  color: #999;
  position: relative;
&:after{
  content: '';
  width: 30px;
  height: 30px;
  background: url(../images/icons/upload_icon.svg) no-repeat center;
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
}
}
.recent-activity{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    position: relative;
    padding-left: 15px;
    padding-bottom: 10px;
    &::before{
      content: '';
      width:2px;
      height: 100%;
      background-color: #d2d2d2;
      position: absolute;
      top: 0;
      left:0;
    }
    &::after{
      content: '';
      width:10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #d2d2d2;
      position: absolute;
      top: 4px;
      left: -4px;
      display: block;
    }
    &:first-child{
      &::before{
        top: 4px;
      }
    }
  }
}
.ui-d-page{
  display: inline-block;
    width: 18px;
}

.duploaded-files,
.uploaded-files{
  display: flex;
  flex-wrap: wrap;
    width: 100%;
    margin-left: -2px;
  .uploaded-file{
    font-size: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 2px 12px;
    margin: 2px;
    .uploaded-file-remove{
      cursor: pointer;
      width: 14px;
      img{
        display: inherit;
        margin-left: 5px;
        width: 100%;
      }

    }

  }
}

.spinner{

  z-index: 1;
  .center-div{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.812);
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid $primary-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pull-right{
  float: right;
  &:after{
    content: '';
    display: table;
    width: 100%;
  }
}
#getSupport{

  .modal-dialog {
    max-width: 726px;
    margin: 1.75rem auto;
    table{
      width:100%;
    }
}
}

.dropdown-item{
  text-transform: capitalize;
}

#otpPopup-btnResend{
  cursor: pointer;
}