
.form__group {
    position: relative;
    padding: 15px 0 0;
  
    margin-bottom: 1.5625rem;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    max-width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem; 
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: $primary-color;
    
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary-color;
    
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


  .custom-field {
    position: relative;
    font-size: 16px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    width: 100%;
    .select2-container{
      display: block;
    }

    .login-input{
      width: 420px;
    }


    .select2-container--default .select2-selection--single .select2-selection__clear,
  .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container .select2-selection--single {      
      height: 46px;    
  }

    .select2-container--default .select2-selection--single {    
      border: 0;
      border-bottom: 1px solid #000;
      border-radius: 0;
      text-transform: capitalize;
  }

  }
  
  .file-input,
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    padding: 9px 12px;
    border-radius: 8px 8px 0px 0px;  
    transition: background-size 0.3s ease;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid #000;
    font-weight: normal;
    color:#4A4A4A;
    cursor: text;
  }
  
  .file-input {
    background: url(../images/icons/upload-icon.svg) no-repeat right 12px center;
    background-size: 30px;
    color:#4A4A4A;
  }
  
  .custom-field .placehold {
    position: absolute;
    left: 2px;
    width: calc(100% - (12px * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 21px;
  
    transform: translateY(-50%);
    color: #4A4A4A;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    cursor: text;
  }
  
  .custom-field input.dirty + .placehold,
  .custom-field input:focus + .placehold,
  .custom-field input:not(:placeholder-shown) + .placehold {
    // top: -10px;
    // font-size: 14px;
    // color: $primary-color;
    // text-transform: capitalize;
  }

  .custom-field{
    &.focused{
      .placehold{
        top: -10px;
        font-size: 14px;
        color: $primary-color;
        text-transform: capitalize;
      }
    }
  }
  
  .custom-field .error-message {
    width: auto;
    display: inline-flex;
    align-items: center;
    padding: 0 0px;
    font-size: 12px;
    background: transparent;
    color: #d30909;
    height: 24px;
    text-transform: capitalize;
  }
  
  .custom-field .error-message:empty {
    opacity: 0;
  }
  
  .custom-field.two input.dirty,
  .custom-field.two input:not(:placeholder-shown),
  .custom-field.two input:focus {
    border-bottom-width: 2px;
    border-bottom-color: $primary-color;;
  }

  .select2-results__option {   
    text-transform: capitalize !important;
}


  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $primary-color;
    color: white;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #4A4A4A;
  line-height: 46px;
}

.radio-show-select{
  width: 480px;
  .custom-field{
    padding-top: 0;
    border-top: 0;
  }

  .select2-container{
    width: 100% !important;
  }
}

.info-div{
  width:15px; 
  height:15px; 
  margin-left:3px
}
.tooltip-list{
  margin: 0;
  padding:0px 5px 5px 15px;
  font-size: 10px;
  text-align: left;
  // background:  rgb(219,238,213);
}
.tt-head{
  font-size: 10px;
  text-align: left;
  padding: 5px 5px 5px 10px;
  margin-bottom: 0;
}
.radio-wrapper{
  font-size: 14px;
  .custom-control-label{
    color: rgba(#4A4A4A,0.5); 
  }
}

.custom-radio .custom-control-input:checked~.custom-control-label{
  color: rgba(#4A4A4A,1); 
  // font-weight: 300;
}

.custom-select {    
  outline: none;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  height: 44px;
  &:focus{
    color: #495057;
    background-color: #fff;
    border-color: #4AA82E;
    outline: 0;  
    box-shadow: none;
    border-bottom-width: 2px;
  }
}


.select2-container--default .select2-results>.select2-results__options {
  max-height: 98px !important;
  overflow-y: auto;
}