// Dealer login

.dealer-header{
  .logo-wrp{
    padding: 20px 0;
    img{
      width: 145px;
    }
  }
  .breadcrumb{
    background-color: #F3F3F3;
    padding: .75rem 2.1429rem;
    box-shadow: 0px 2px 4px rgba(145, 145, 145, 0.161);
  }

}

.login-username{
  font-size: 1rem;
  margin-bottom:1.875rem;
}
.signup-username{
  font-size: 1rem;
  text-transform: capitalize;
}
