.d-input-group {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1.25rem;
  input[type="tel"] {
    max-width: 2.5rem;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E8F0FE;
    border-bottom: 1px solid #000;
    
  }
}
#otpPopup{
  .modal-dialog {
    max-width: 450px; 
    
    .modal-content{
      border-radius: 30px;
      border: 1px solid #707070;
    }
}
}
.cancel-btn{
  text-decoration: underline;
}

.otp-footer{
  width: 100%;
  justify-content: center;
}

.resend-otp {
  font-size: 12px;
  text-align: right;
  display: block;
  color: #000;
  margin-top: 10px;
  margin-bottom: 45px;

  a {
    color: #000;
  }
}

a.input-label-otp {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  display: block;
  margin-bottom: 10px;
}
.number-integer {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.otp-not-sent,
.otp-sent-to{
  font-size: 14px;
  text-align: center;
  margin-bottom: 1.25rem;
}