@media screen and (min-width: 1367px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1681px) {
  .prjcard {
    width: 23%;
  }
}
@media screen and (max-width: 1023px) {
  .delear-card-wrapper {
    
    padding: 3rem 1.625rem 9rem 1.75rem;
}
}

@media screen and (max-width: 767px) {

  .radio-show-select {
    width: 100%;
}
  #signup{
    margin-top: 30px;
  }
  .dealer-header + .container{
    padding: 0;
  }
  .custom-field .login-input {
    width: 100%;
    margin-bottom: 15px;
}

.form-inline-skoda {
  
  display: block;
  width: 100%;
  max-width: 100%;

  .col-b{
    display: block;
  }
  
}
}
