.btn-edit {
  width: 1.0714rem;
  height: 1.0714rem;
  background: url(../images/icons/edit.svg) no-repeat center;
  background-size: contain;
  display: block;
  margin: auto;
}
.btn-delete {
  width: 1.0714rem;
  height: 1.0714rem;
  background: url(../images/icons/delete.svg) no-repeat center;
  background-size: contain;
  display: block;
  margin: auto;
}
#user_wrapper {
  thead {
    tr {
      background: #a4adb4;
    }
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  .table-bordered td,
  .table-bordered th {
    border: 0;
  }
  .table-bordered td,
  .table-bordered th {
    border-right: 1px solid #fefefe;
  }
  table.dataTable.no-footer {
    border-bottom: 0;
  }
  .table-bordered {
    border: 0;
  }

  table.dataTable thead th,
  table.dataTable thead td {
    border-bottom: 0;
  }
}
table.dataTable thead .sorting_asc {
  background-image: url(../images/icons/sort_asc.png) !important;
}
table.dataTable thead .sorting {
  background-image: url(../images/icons/sort_both.png) !important;
}
table.dataTable thead .sorting_desc {
  background-image: url(../images/icons/sort_desc.png) !important;
}

.user_create {
  width: 100%;
  max-width: 35.7143rem;
}
.top-filter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .form-group {
    margin-right: 1.0714rem;
    width: 20.3571rem;
    &:last-child {
      margin-right: 0;
    }
  }
}
