body{
  font-family: "SKODA Next", Arial, sans-serif;
}

#NotificationContainer h4 {
  background: #38a933;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.small-text{
  font-size: 12px;
  color: rgba(#4A4A4A,0.5);
}
.dealer-activity-title{
  font-size: 14px;
  color: #4A4A4A;
  margin-bottom: 8px;
}
.recent-activity{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    position: relative;
    padding-left: 15px;
    padding-bottom: 10px;
    &::before{
      content: '';
      width:2px;
      height: 100%;
      background-color: #d2d2d2;
      position: absolute;
      top: 0;
      left:0;
    }
    &::after{
      content: '';
      width:10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #d2d2d2;
      position: absolute;
      top: 4px;
      left: -4px;
      display: block;
    }
    &:first-child{
      &::before{
        top: 4px;
      }
    }
  }
}


.track-wrpppp{
  .small-text{
    font-size: 10px;
  }
}
.track-action {
  text-align: center;
  margin-top: 20px;
}
.track {
  position: relative;
  background-color: #D1D1D1;
  border: 0;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
margin-top: 30px;
  border-radius: 35px;
  width: 100%;
  max-width: 760px;

}

.track .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 18%;
  margin-top: 0px;
  //   text-align: center;
  text-align: left;
  position: relative;
  border-right: 1px solid #d1d1d1;
  &:last-child{
    border-right: 0;
  }

  .color-filler{
    width: 100%;
    height: 100%;
    background-color: #D1D1D1;
    position: absolute;
  }
  &.step-approved{
    .color-filler{
      background-color: #35cb75;
    }
  }
  &.step-hold{
    .color-filler{
      background-color: #f08557 !important
    }
  }
  &.step-rejected{
    .color-filler{
      background-color: #f05959 !important
    }
  }

  &.active{
    &.step-approved{
      .color-filler{
        background-color: #35cb75;
      }
    }
    &.step-hold{
      .color-filler{
        background-color: #f08557 !important
      }
    }
    &.step-rejected{
      .color-filler{
        background-color: #f05959 !important
      }
    }
    .color-filler{
      background-color: #E3CA49;
    }
    
    .app-s-wrp{
      color: #000;
    }

  }
  .app-s-wrp{
    font-size: 0.625rem;
    text-align: center;
    padding-top: 10px;
    color: #999;
    margin-top: -32px;
  }

}
.dealer-inner-tbl{
  display: table;
  width: 100%;
  .dealer-inner-cell{
    display: table-cell;
    width: 80%;
    &:last-child{
      width: auto;
      padding-left: 30px;
    }
  }
}
.dealer-page-inner{
  background-color: #fff;
  padding:20px;
  .description{
    color: #4A4A4A;
    margin-bottom: 10px;
    &-title{
      font-size: 14px;
      font-weight: normal;
    }
    &-content{
      font-size: 12px;
      p{
        margin-bottom: 0;
      }
    }
  }
}

.dp-bottom-row{
  display: flex;
  align-items: center;
  .dp-bottom-cell-1{
    width: 76%;
  }
  .dp-bottom-cell-1-title{
    font-size: 16px;
    text-transform: capitalize;
    color: #4A4A4A;
  }
  .dp-bottom-cell-2{
    width: auto;
    margin-left: auto;
    .equirydata {
      width: 100%;
      max-width: 225px;
    }
  }
}

.duploaded-files,
.uploaded-files{
  display: flex;
  flex-wrap: wrap;
    width: 100%;
    margin-left: -2px;
  .uploaded-file{
    font-size: 12px;
    border: 1px solid #D1D1D1;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 2px 12px;
    margin: 2px;
    a{
      color: #4A4A4A;
      text-decoration: none;
    }
    .uploaded-file-remove{
      cursor: pointer;
      width: 14px;
      img{
        display: inherit;
        margin-left: 5px;
        width: 100%;
      }

    }

  }
}
.action-btns{

  .message-btn{
    background: #fff;
    border: 1px solid #929292;
    padding: 5px 10px 5px 26px;
    position: relative;
    cursor: pointer;
    &:before{
      content: '';
      background: url(../images/icons/message-icon-deactive.svg) no-repeat center;
      position: absolute;
      border: 0;
      background-color: transparent !important;
      width: 18px;
      height: 18px;
      top: 7px;
      left: 5px;
    }
      &.active{
        background: url(../images/icons/message-icon-active.svg) no-repeat center;
      background-size: contain;
      width: 18px;
      height: 18px;
      margin-bottom: -5px;
      }
      
  }
  .upload-btn{
    background: #fff;
    border: 1px solid #929292;
    padding: 5px 10px 5px 26px;
    cursor: pointer;
    position: relative;
    &:before{
      content: '';
      background: url(../images/icons/download-icon.svg) no-repeat center;
      position: absolute;
      border: 0;
      background-color: transparent !important;
      width: 18px;
      height: 18px;
      top: 7px;
      left: 5px;
      transform: rotate(180deg);
    }
  }
  .message-btn-wrp{
    border-left: 1px solid #d2d2d2;
    padding-left: 15px;
    position: relative;
    .msg-popper{
      position: absolute;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
      border-radius: 6px;
      width: 284px;
      height: 105px;
      padding: 15px;
      text-align: right;
      top: 20px;
      left: 18px;

     .msg-btn{
      width: 100px;
      min-width: auto;
     }
      .custom-field {
       
        font-size: 16px;
        border-top: 0;
        margin-bottom: 15px;
        width: 100%;
    }
      .file-input, .custom-field input {     
        padding: 4px 12px;        
        font-size: 12px;        
    }
    }
  }
  .approved{
    .custom-control-label::before{
      background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
      background-size: contain;
      
    }
    .custom-radio .custom-control-input:checked~.custom-control-label,
    .custom-control-input:checked ~ .custom-control-label{
      background: #fff;
      padding: 5px 10px 5px 26px;
      border: 1px solid #35cb75;
      color: #35cb75;
      box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after,
    .custom-control-input:checked ~ .custom-control-label::before{
      background: url(../images/icons/approve-icon-active.svg) no-repeat center;
      background-size: contain;    
    }
    .custom-control-label:hover{
      background: #fff;
      padding: 5px 10px 5px 26px;
      border: 1px solid #35cb75;
      color: #35cb75;
      box-shadow: 0 0 0 0.2rem rgba(53, 203, 117, 0.2);
      &:before {
        background: url(../images/icons/approve-icon-active.svg) no-repeat center;
        background-size: contain; 
      }
    }
    .custom-control-input:focus~.custom-control-label::before {
      box-shadow: none;
  }
  .custom-control-input:disabled~.custom-control-label,
  .custom-control-input[disabled]~.custom-control-label{
    background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    cursor: not-allowed;
    &:before {
      background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    &:hover{
      background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    &:before {
      background: url(../images/icons/approve-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    }
  }
  }
  .hold{
    .custom-control-label::before{
      background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
      background-size: contain;
      
    }

    .custom-radio .custom-control-input:checked~.custom-control-label,
    .custom-control-input:checked ~ .custom-control-label{
      background: #fff;
      padding: 5px 10px 5px 26px;
      border: 1px solid #f08557;
      color: #f08557;
      box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after,
    .custom-control-input:checked ~ .custom-control-label::before{
      background: url(../images/icons/hold-icon-active.svg) no-repeat center;
      background-size: contain;    
    }
    .custom-control-label:hover{
      background: #fff;
      padding: 5px 10px 5px 26px;
      border: 1px solid #f08557;
      color: #f08557;
      box-shadow: 0 0 0 0.2rem rgba(240, 133, 87, 0.2);
      &:before {
        background: url(../images/icons/hold-icon-active.svg) no-repeat center;
        background-size: contain; 
      }
    }
    .custom-control-input:focus~.custom-control-label::before {
      box-shadow: none;
  }
  .custom-control-input:disabled~.custom-control-label,
  .custom-control-input[disabled]~.custom-control-label{
    background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    &:before {
      background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    &:hover{
      background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    &:before {
      background: url(../images/icons/hold-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    }
  }
  }
  .rejected{
    .custom-control-label::before{
      background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
      background-size: contain;
      
    }
    
    .custom-radio .custom-control-input:checked~.custom-control-label,
    .custom-control-input:checked ~ .custom-control-label{
      background: #fff;
      padding: 5px 10px 5px 26px;
      border: 1px solid #f05757;
      color: #f05757;
      box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
    }
    .custom-radio .custom-control-input:checked~.custom-control-label::after,
    .custom-control-input:checked ~ .custom-control-label::before{
      background: url(../images/icons/close-icon-active.svg) no-repeat center;
      background-size: contain;    
    }
    .custom-control-input:focus~.custom-control-label::before {
      box-shadow: none;
  }
  .custom-control-label:hover{
    background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #f05757;
    color: #f05757;
    box-shadow: 0 0 0 0.2rem rgba(240, 87, 87, 0.2);
    &:before {
      background: url(../images/icons/close-icon-active.svg) no-repeat center;
      background-size: contain; 
    }
  }
  .custom-control-input:disabled~.custom-control-label,
  .custom-control-input[disabled]~.custom-control-label{
    background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    cursor: not-allowed;
    &:before {
      background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    &:hover{
      background: #fff;
    padding: 5px 10px 5px 26px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    box-shadow: 0 0 0 0.2rem rgba(189, 186, 186, 0.2);
    &:before {
      background: url(../images/icons/close-icon-deactive.svg) no-repeat center;
      background-size: contain; 
    }
    }
  }
  }
  .custom-control-label{    
    background: #fff;
    border: 1px solid #929292;
      padding: 5px 10px 5px 26px;
      cursor: pointer;
  }
  .custom-control-label::before{    
    border: 0;
    background-color: transparent !important;
    width: 18px;
      height: 18px;
      top: 7px;
      left: 5px;
  }
  .custom-radio .custom-control-input:checked~.custom-control-label::after,
  .custom-control-input:checked ~ .custom-control-label::before{
    border: 0;
    background-color: transparent !important;  
    background-image: none; 
    width: 18px;
      height: 18px;
  }

}

.action-btns-inner {
  display: flex;
  align-items: center;
  > div{
    padding-right: 14px;
    padding-left: 0;
    
  }
}
.description-content{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-count: 3;
    width: 80%;
    max-height: 216px;
    li{
      width: 30%;
      margin-bottom: 15px;
      padding-left: 3px;
      padding-right: 3px;

      .d-list-label{
        display: block;
        text-align: left;
        &:first-child{
          font-weight: bold;
        }
      }
    }
  }
}
.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button {

  font-size: 12px;
  border-radius: 50%;
}

.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .tbl-f .dataTables_paginate .paginate_button.current:hover {
 
  background: #38a934;
  color: #fff !important;
}

.page-title{
  font-size: 24px;
  font-weight: bold;
}
.pincode_wrp{
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner{

  z-index: 1;
  .center-div{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.812);
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid $primary-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dropdown-item{
  text-transform: capitalize;
}

#otpPopup-btnResend{
  cursor: pointer;
}
