.create_prj_wrapper {
  display: flex;
  justify-content: space-between;
  .create_prj_inner {
    // max-width: 66.7143rem;
    max-width: 73.8%;
    width: 100%;

    .c-header {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.11);
      display: flex;
      padding: 1.5714rem 2.8571rem;
      background: #fff;
      z-index: 1;
      .back-btn {
        max-width: 1.2143rem;
        width: 100%;
        img {
          width: 100%;
        }
      }
      h1 {
        font-size: 1.4286rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
        color: $primary-color;
        margin-left: 0.7143rem;
      }
    }
  }

  .cp-main {
    padding: 3.2143rem 2.8571rem;
  }

  .prj-table-row {
    display: table;
    width: 100%;
    &:first-child {
      .prj-table-cell {
        border-top: 1px solid #a4adb4;
      }
    }
    .prj-table-label {
      width: 20.7143rem;
      background-color: #f0f0f0;
      border-left: 1px solid #a4adb4;
      font-size: 0.8571rem;
    }
    .prj-table-cell {
      display: table-cell;
      padding: 1.4286rem;
      border-right: 1px solid #a4adb4;
      border-bottom: 1px solid #a4adb4;
      position: relative;
    }
  }
  .prj-table-wrapper {
    margin-bottom: 3.5714rem;
  }
}

.dropzone .dz-message {
  text-align: center;
  margin: 2em 7em;
}
.prj-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7143rem;
  h4 {
    font-size: 1.1429rem;
  }
  .addnew-link {
    color: $primary-color;
    text-decoration: underline;
    font-size: 0.8571rem;
  }
}
.edit-btn {
  width: 1rem;
  display: inline-block;
  img {
    width: 100%;
  }
}
.withtwocol {
  display: flex;
  justify-content: space-between;
  .prj-emp-name {
    display: inline-block;
    margin-left: 0.2142rem;
  }
}
.profile-pic {
  width: 1.7857rem !important;
  height: 1.7857rem !important;
  display: inline-block;
  vertical-align: middle;
}
.textavatar {
  width: 1.7857rem !important;
  height: 1.7857rem !important;
  display: inline-flex;
  font-size: 0.8571rem !important;
  background: transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  abbr {
    text-decoration: none;
  }
  &-blue {
    background: #6456f9;
  }
  &-orange {
    background: #ebac47;
  }
}
.team-icon {
  width: 1.7857rem;
  height: 1.7857rem;
  display: inline-flex;
  border-radius: 50%;
  background-color: #a4adb4;
  align-items: center;
  justify-content: center;
  img {
    width: 1.1429rem;
  }
}
.team-name {
  margin-left: 0.2142rem;
  display: block;
  vertical-align: middle;
}
.prj-team {
  display: flex;
  align-items: center;
  width: 100%;
}

.r-document {
  display: flex;
  .copy-icon {
    min-width: 4.4286rem;
    margin-right: 1.4286rem;
    // position: absolute;
    // z-index: 999;
    // top: 0.4286rem;
    img {
      width: 100%;
    }
  }
}
.tbl-font-head,
.techQuotation {
  font-size: 0.8571rem;
}
.Table {
  display: table;
  width: 100%;
  position: relative;
  .Row,
  .Heading {
    display: table-row;
    &:first-child {
      .Cell {
        border-top: 1px solid #a4adb4;
      }
    }
    .Cell {
      display: table-cell;
      border-left: 1px solid #a4adb4;
      border-bottom: 1px solid #a4adb4;
      padding: 1.1429rem;
      text-align: center;
      width: 23.66%;
      &:last-child {
        width: 6.66%;
      }
      p {
        margin-bottom: 0;
      }
      &:last-child {
        border-right: 1px solid #a4adb4;
      }
    }
  }
  .Heading {
    .Cell {
      background-color: #a4adb4;
      color: #fff;
      padding: 0.4143rem 1.1429rem;
    }
  }
}
.no-edit {
  .Table {
    .Heading,
    .Row {
      .Cell {
        width: 20%;
        &:last-child {
          width: 20%;
        }
      }
    }
  }
}
.desc-tbl {
  .Table {
    .Heading,
    .Row {
      .Cell {
        width: 20%;
        &:nth-child(2) {
          width: 40%;
        }
      }
    }
  }
}
.last-col-large {
  .Table {
    .Heading,
    .Row {
      .Cell {
        width: 13%;
        &:last-child {
          width: 33%;
        }
      }
    }
  }
}
.tbl-text-left {
  .Table {
    .Heading,
    .Row {
      .Cell {
        text-align: left !important;
      }
    }
  }
}
.budget-table {
  .Table {
    .Heading {
      .Cell {
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          background-color: #38a933;
          color: #fff;
        }
      }
    }
    .Row {
      .Cell {
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          background-color: #fafffa;
        }
        &:nth-child(3) {
          background-color: #f8f8f8;
        }
      }
    }
  }
}

.Table.projectTimelines-tbl {
  .Row {
    .Cell {
      width: 31.66%;
      &:nth-last-child(2),
      &:last-child {
        width: 4%;
      }
    }
  }
}
.approval_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.11);
  padding: 0.7857rem 2.1429rem;

  .approval_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .app-btn-wrp {
    span {
      color: #a4adb4;
      font-size: 0.8571rem;
      display: inline-block;
      margin-right: 1.4286rem;
    }
  }
}

.vendorQuote {
  display: flex;
  margin-left: -0.3571rem;
  margin-right: -0.3571rem;
  > div {
    flex: 1;
    margin-right: 0.3571rem;
    margin-left: 0.3571rem;
  }
}

.document-upload {
  border: 1px dashed #d2d2d2;
  padding: 0.7143rem;
  border-radius: 0.2857rem;
}
.create_prj_wrapper {
  .upload-section {
    .prj-table-row {
      &:first-child {
        .prj-table-cell {
          border: 2px dashed #a4adb4;
        }
      }
      .prj-table-cell {
        &.dash-border {
          font-size: 1.1429rem;
        }
        .r-document {
          justify-content: center;
          font-size: 1.1429rem;
        }
      }
    }
  }
}
.create_prj_wrapper .prj-table-row {
  &:first-child {
    .prj-table-cell {
      &.dash-border {
        border-top: 2px dashed #a4adb4;
      }
    }
  }
  .prj-table-cell {
    &.upload-section-border {
      border-right: 2px dashed #a4adb4;
      border-bottom: 2px dashed #a4adb4;
    }
    &.dash-border {
      border-right: 2px dashed #a4adb4;
      border-bottom: 2px dashed #a4adb4;
    }
  }
}

.create_prj_wrapper .prj-table-row .prj-table-cell.dragdrop {
  padding: 0;

  .dropzone {
    padding: 1.4286rem;
  }

  .r-document {
    display: block;
    padding-left: 5.9286em;

    .copy-icon {
      max-width: 4.4286em;
      position: absolute;
      z-index: 0;
      top: 1.0714em;
      left: 1.0714em;
    }
  }
}
.upload_wrapper {
  position: relative;
  display: inline-flex;
  margin: 0.3571em;
  .dz-preview {
    margin: 0 !important;
    width: 12.2857em !important;
    border-right: 0 !important;
  }

  .dz-remove {
    width: 1.7857em;
    padding: 0.3571em;
    height: auto;
    line-height: normal;
    z-index: 0;
    cursor: pointer !important;
    border: 1px solid #a4adb4;
    border-left: 0;
    display: flex;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
