

.dashboard-wrapper {
  main {
    display: flex;

    
  }

  .dashboard-inner {
    padding: 1.7857rem 1.5857rem 0 1.5857rem;
  }

  .welcomeCard {
    background-color: #ffeed3;
    padding: 1.4286rem;
    position: relative;
    margin-bottom: 1.4286rem;
    h2 {
      font-size: 1.5rem;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.dash-content {
  .dash-title {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 0.7143rem;
    padding-bottom: 0.3571rem;
    .dash-dropdown,
    h4 {
      margin-bottom: 0.7143rem;
      font-size: 1rem;
      display: inline-block;
      color: #010101;
    }
  }
}
.card-wrap {
  display: flex;
  margin-bottom: 2.5rem;

  justify-content: space-between;
  .card {
    width: 12%;
    padding: 1.0714rem 0.7143rem;
    background: #eff7bf;
    border-radius: 0.3571rem;
    border-top: 0.3571rem solid #d5de9a;

    h2 {
      font-size: 0.8572rem;
      color: #010101;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .value {
      font-size: 2.2857rem;
      line-height: normal;
    }
  }
}
.filter-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a4adb4;
  padding-bottom: 0.4286rem;
}

.searchButton {
  border: 0;
  padding: 0;
  background: transparent;
  img {
    width: 0.8571rem;
  }
}

.searchInput {
  border: 1px solid transparent;
  max-width: 12.2143rem;
  transition: all 0.3s linear;
  padding: 0.3571rem 0.2143rem;
  transition: all 0.3s linear;
  outline: 0;
}
.filter-wrp {
  img {
    width: 0.9286rem;
    margin-right: 0.3571rem;
  }
}

.searchBox:focus > .searchInput,
.searchBox:hover > .searchInput {
  border: 1px solid #d2d2d2;
  padding: 0.3571rem 0.7143rem;
}
.searchInput {
  &:focus {
    border: 1px solid #d2d2d2;
  }
}
.filter-right {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      margin-right: 1.0714rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.change-view {
  display: flex;

  .view {
    width: 2.1429rem;
    height: 1.4286rem;
    border: 1px solid #d2d2d2;
    padding: 0.7429rem 0.2857rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      fill: #a4adb4;
      width: 0.7857rem;
    }
    &.active {
      background: #a4adb4;
      svg {
        fill: #fff;
      }
    }
  }
  .grid-view {
    border-right: 0;
  }
}
.create-p-btn {
  padding: 0.275rem 0.75rem;
}

.prjcard {
  width: 31.5%;
}

#list-view {
  .prj-status {
    box-shadow: 0px 0px 0.2143rem #0000001f;
    border-radius: 0.2143rem;
    padding: 0.2143rem 0.3571rem;
    display: inline-block;
    margin-bottom: 1rem;
    &:before {
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: green;
      margin-right: 0.3571rem;
    }
    &.on.track,
    &.ontrack {
      &:before {
        background-color: #38a933;
      }
    }
    &.off.track,
    &.offtrack {
      &:before {
        background-color: red;
      }
    }
    &.at.risk,
    &.atrisk {
      &:before {
        background-color: #fc9b24;
      }
    }
    &.draft {
      &:before {
        background-color: #a4adb4;
      }
    }
    &.approval {
      &:before {
        background-color: #0026ff;
      }
    }
  }
}
#grid-view {
  padding: 1.1429rem 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.8%;
  margin-right: -0.8%;
  .prjcard {
    box-shadow: 0px 0px 9px #bababa34;
    border-radius: 0.3571rem;
    padding: 1.0714rem;
    font-size: 0.8571rem;
    position: relative;
    margin: 0.7% 0.8%;
  }
  .left-icon {
    &:before {
      content: "";
      background: url(../images/icons/file-icon.svg) no-repeat center;
      width: 0.8571rem;
      height: 0.8571rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.3571rem;
      background-size: contain !important;
    }
  }
  .prj-name {
    font-size: 1.1429rem;
    margin-bottom: 0.7143rem;
    &_inner {
      display: inline-block;
      vertical-align: middle;
      max-width: 13.5714rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
    .changeprj {
      width: 1.0714rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.3571rem;
      img {
        width: 100%;
      }
    }
  }
  .prj-date {
    margin-bottom: 1rem;

    &:before {
      background: url(../images/icons/calendar-icon.svg) no-repeat center;
    }
  }
  .prj-value {
    &:before {
      background: url(../images/icons/invoice-icon.svg) no-repeat center;
    }
  }
}

.progress-box {
  display: flex;
  width: 5rem;
  height: 1.7857rem;
  font-size: 0.8571rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  &.ontrack {
    background-color: #38a933;
  }
  &.offtrack {
    background-color: red;
  }
  &.atrisk {
    background-color: #fc9b24;
  }
  &.draft {
    background-color: #a4adb4;
  }
  &.approval {
    background-color: #0026ff;
  }
}
#svg {
  position: relative;
  transform: rotate(-90deg);
}
#slidervalue {
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aef;
  transition: color 1s linear;

  /*transform: rotate(90deg);*/
}

.right-prj {
  position: absolute;
  top: 2.1429rem;
  right: 1.0714rem;
  #svgcontainer {
    position: relative;
    display: inline-block;
  }

  #svg {
    position: relative;
    width: 4.4286rem;
  }

  #progressbg {
    z-index: 0;
    position: absolute;
    top: 0px;

    box-shadow: 5px 5px 5px 5px #333;
    stroke: #d8d8d8;
  }

  #progress {
    stroke-dashoffset: 125px;
    stroke: #7df;
    transition: stroke 1s linear;

    z-index: 1;
    position: absolute;
    top: 0px;
  }
  #slidervalue {
    font-size: 1rem;
  }
}
.total-emp {
  position: absolute;
  bottom: 1.0714rem;
  right: 1.0714rem;
  display: flex;
  align-items: center;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      width: 1.5714rem;
      height: 1.5714rem;
      border-radius: 50%;
      overflow: hidden;
      margin-left: -0.7857rem;
      border: 1px solid #fff;
      img {
        width: 100%;
      }
    }
  }
}
.edit-card {
  position: absolute;
  top: 0.1429rem;
  right: 0.8571rem;
  width: 0.9286rem;
  img {
    width: 100%;
  }
}
.modal.fade.fullpage.createNewProject {
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SKODA Next", Arial, sans-serif;
  }
}
.createp-modal-inner {
  max-width: 24.2857rem;
  width: 100%;
  .close {
    position: absolute;
    top: 11%;
    right: 3%;
  }

  .modal-title {
    font-size: 1.4286rem;
    font-weight: bold;
    margin-bottom: 2.8571rem;
  }
}
.cp-btn-spacing {
  margin-top: 6.4286rem;
}

.filter-details{
  display: flex;
  margin-top: 42px;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 16px;
}
.filter-card{
  min-width:10.375em;
  display: flex; 
  cursor: pointer;
    border: 1px solid #000;
    border-radius: 0.5em;
    overflow: hidden;
    margin-right: 1.25em;
   
    &.disabled{
      border:1px solid #D1D1D1 !important;

      .filter-card-icon{
        background-color: #D1D1D1 !important;
        
      }
      .filter-card-data-value{
        color: #D1D1D1 !important;
      }

    }
    .filter-card-data-value{
      text-align: center;
    }
    &:last-child{
      margin-right: 0;
    }
    &.fci-blue{
      border: 1px solid #41A1CA;
      .filter-card-icon{
        background-color: #41A1CA;
        
      }
      .filter-card-data-value{
        color: #41A1CA;
      }
      &.active{

        .tick{
          width: 1em;
          height: 1em;
          background: #41A1CA url(../images/icons/tick.png) no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    &.fci-yellow{
      border: 1px solid #E3CA49;
      .filter-card-icon{
        background-color: #E3CA49;
        
      }
      .filter-card-data-value{
        color: #E3CA49;
      }
      &.active{
        .tick{
          width: 1em;
          height: 1em;
          background: #E3CA49 url(../images/icons/tick.png) no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }
    }
    &.fci-green{
      border: 1px solid #35CB75;
      .filter-card-icon{
        background-color: #35CB75;
        
      }
      .filter-card-data-value{
        color: #35CB75;;
      }
      &.active{
        .tick{
          width: 1em;
          height: 1em;
          background: #35CB75 url(../images/icons/tick.png) no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }
    }
    &.fci-orange{
      border: 1px solid #F08557;
      .filter-card-icon{
        background-color: #F08557;
        
      }
      .filter-card-data-value{
        color: #F08557;
      }
      &.active{
        .tick{
          width: 1em;
          height: 1em;
          background: #F08557 url(../images/icons/tick.png) no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }

      }
    }
    &.fci-red{
      border: 1px solid #F05757;
      .filter-card-icon{
        background-color: #F05757;
        
      }
      .filter-card-data-value{
        color: #F05757;
      }
      &.active{

        .tick{
          width: 1em;
          height: 1em;
          background: #F05757 url(../images/icons/tick.png) no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  .filter-card-icon{
    width:3em;
    background-color: transparent;
    position: relative;
    &.all-icon{
      &:after{
        background: url(../images/icons/nav-icon.svg) no-repeat center;
        background-size: contain;
      }
    }
    &.open-icon{
      &:after{
        background: url(../images/icons/star-icon-white.svg) no-repeat center;
        background-size: contain;
      }
    }
    &.approved-icon{
      &:after{
        background: url(../images/icons/approved-icon-white.svg) no-repeat center;
        background-size: contain;
      }
    }
    &.onhold-icon{
      &:after{
        background: url(../images/icons/onhold-icon-white.svg) no-repeat center;
        background-size: contain;
      }
    }
    &.rejected-icon{
      &:after{
        background: url(../images/icons/rejected-icon-white.svg) no-repeat center;
        background-size: contain;
      }
    }
    &:after{
      content: '';
      width:1.25em;
      height:1.25em;
     
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    
    

    
    
  }
  .filter-card-data{
    display: table;
    align-items: center;
    width: 7.3125em;
    position: relative;
  }

  .filter-card-data-label{
    display: table-cell;
    vertical-align: middle;
    
    font-size: 0.75em;
    width: 3.5625em;
    padding-left: 0.375em;
    line-height: 1.4;

  }
  .filter-card-data-value{
    font-size: 1.875em;
    display: table-cell;
    vertical-align: middle;
    padding-right: 18px;
  }
}


  


table.dataTable tbody tr{
  background-color: #f3f4f4 !important;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background-color: #F3F4F4;
}
table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
  background-color: #F3F4F4;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #F3F4F4;
}
.dataTable thead tr{
  background-color: #4A4A4A;
  th{
    color: #fff;
    font-weight: normal !important;
  }
}

.tbl-icon{
  padding-left: 20px;
  position: relative;
  &.tbl-icon-open{
    &:after{
      background: url(../images/icons/star-icon-yellow.svg) no-repeat center;
      background-size: contain;
    }
  }
  
  &.tbl-icon-hold{
    &:after{
      background: url(../images/icons/onhold-icon-orange.svg) no-repeat center;
      background-size: contain;
    }
  }
  &.tbl-icon-rejected{
    &:after{
      background: url(../images/icons/rejected-icon-red.svg) no-repeat center;
      background-size: contain;
    }
  }
  &.tbl-icon-approved{
    &:after{
      background: url(../images/icons/approved-icon-green.svg) no-repeat center;
      background-size: contain;
    }
  }

  &:after{
    content: '';
  width:15px;
  height:15px;
  
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

table.dataTable {
  font-size: 14px;
}

td.dt-control {
  background: url(../images/icons/dropdown-icon.svg) no-repeat center center !important;
  cursor: pointer;
}

.filter-bar{
  display: flex;
  align-items: center;
  position: fixed;
  background-color:#F3F4F4;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 5px 0.9375rem;
  top: 56px;
  .filter-left{
    h2{
      font-size: 16px;
      color: #4A4A4A;
      font-weight: bold;
      margin: 0;
    }
  }
  .filter-right{
    margin-left: auto;
    display: flex;
    align-items: center;

    .filter-inner{
      border-left: 1px solid #c2c4c4;
      &:first-child{
        border: 0;
      }
      .date-input{
        background: transparent;
    border: 0;
    width: 144px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #4A4A4A;
    padding-left: 0;
    text-align: right;
      }
    }
    .select2-container--default .select2-selection--single {
      background-color: transparent;
      border: 0;
      border-radius: 0px;
      font-size: 14px;
      text-transform: capitalize;
  }
  
  
  }
}

.tbl-f{
  display: flex;
  width: 100%;
  
  align-items: center;
  
  >div{
    flex:1
  }

  .dataTables_length select {
    padding: 0 !important;
    text-align: center;
    border: 0 !important;
    margin-right: 7px;
    border-radius: 0 !important;
    font-size: 14px;
}

.dataTables_paginate{
  text-align: left !important;
}
  .dataTables_info{
    font-size: 14px;
    text-align: right;
    padding-top: 0 !important;
  }

  .dataTables_length{
    font-size: 14px;
    text-align: center;
    label{
      margin-bottom: 0;
    }
  }
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody { 
  border: 0;
}

.request-action{
  .modal-dialog {
    max-width: 800px;
    .comment-box{
      h2{
        font-size: 16px;
      }
      textarea{
        width: 100%;
        height: 100px;
        padding: 15px;
      }
      .form-inline{
        justify-content: flex-end;
      }
    }
  }
  .otp-sent-to{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .form-inline{
    justify-content: center;
  }
}

.download-btn{
  float: left;
    padding: 0;
    background: transparent;
    border: 0;
    margin-bottom: 10px;
    &:active,
    &:hover,
    &:focus{
      padding: 0;
    background: transparent;
    border: 0;
    text-decoration: underline;
    }
}
.reject-btn{
  float: right;
    padding: 0;
    background: transparent;
    border: 0;
    margin-bottom: 10px;
    &:active,
    &:hover,
    &:focus{
      padding: 0;
    background: transparent;
    border: 0;
    text-decoration: underline;
    }
}
.clickable{
  text-transform: capitalize;
}
.dt-hasChild{
  td{
    background: #EAF1DD;
    &.dt-control {
      background: #EAF1DD url(../images/icons/dropdown-icon.svg) no-repeat center center !important;
      cursor: pointer;
      transform: rotate(
180deg
);
  }
  }
}
.isChild{
  > td{
    padding: 0 !important;
    border: 2px solid #EAF1DD;

  }
}