header {
  padding: 0 0.9375rem;
  // box-shadow: 0px 3px 13px rgba(133, 131, 131, 0.16);
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1051;
  .header-right,
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-logo {
    max-width: 8.9714rem;
    img {
      width: 100%;
    }
  }
  .activity-info {
    padding: 1.2143rem 1.4286rem;
    // border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    // margin-right: 1.4286rem;
    cursor: pointer;
    &.active {
      background-color: #e5e5e5;
    }
  }
  .notif-wrp {
    padding: 1.2143rem 1.4286rem;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    margin-right: 1.4286rem;
    img {
      max-width: 1.0714rem;
    }
  }
  .burger-icon {
    max-width: 1.0714rem;
    margin-right: 1.4286rem;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  .user-service {
    .rounded-circle {
      width: 20px;
      height: 20px;
    }
  }
}

.c-header-lft {
  display: flex;
  width: 100%;
  .prj-status {
    margin-bottom: 0;
  }
}
.c-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.notif-wrp {
  .dropdown-menu {
    .noti-list-wrp {
      max-height: 300px;
      overflow-y: auto;
      .mCSB_inside > .mCSB_container {
        margin-right: 0;
      }
    }
  }
  .dropdown-toggle {
    display: flex;
    align-items: center;
  }

  .dropdown-item {
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 10px 20px;
    border-bottom: 1px solid #d2d2d2;
  }
}
.notif_count {
  display: inline-flex;
  position: relative;
  .noti-value {
    margin-right: 0.3571rem;
    width: 1.4286rem;
    height: 1.4286rem;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -0.8571rem;
    font-size: 0.6429rem;
    right: 0;
  }
}



.select2-results__option {
  padding: 3px 6px;
  user-select: none;
  -webkit-user-select: none;
  text-transform: capitalize;
}