.login-wrapper {
  display: flex;
  // min-height: 100vh;
  margin-top: 30px;
  background-color: #fff;
  .left-div {
    max-width: 50%;
    // background-color: $primary-color;

    .img-wrapper-logi {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 49.7786rem;
      position: relative;
      img {
        width: 100%;
      }
    }

    .login-page-title {
      text-align: center;
      position: absolute;
      right: 10%;
      bottom: 10%;
      h1 {
        font-size: 2.1429rem;
        color: $white-text;
      }
      p {
        color: rgba($grey-text, 0.5);
        font-size: 1rem;
      }
    }
  }
  .right-div {
    width: 50%;
    padding: 2.5rem;



    .login-info {
      margin-bottom: 2.8571rem;
      h3{
        font-size: 2.25rem;
        font-weight: bold;
        text-transform: capitalize;
      }
      p {
        color: rgba(#000, 0.6);
        font-weight: 300;
      }
    }

    input.form-control::placeholder {
      font-size: 0.8571rem;
      color: rgba(#000, 0.4);
    }
  }
}


// Dealer login

.dealer-header{
  .logo-wrp{
    padding: 20px 0;
    img{
      width: 145px;
    }
  }
  .breadcrumb{
    background-color: #F3F3F3;
    .breadcrumb-item {

      padding-left: 5px;
  }
  }
}