@media screen and (min-width: 1367px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1681px) {
  .prjcard {
    width: 23%;
  }
}
