.btn-edit {
    width: 1.0714rem;
    height: 1.0714rem;
    background: url(../images/icons/edit.svg) no-repeat center;
    background-size: contain;
    display: block;
    margin: auto;
}

.btn-delete {
    width: 1.0714rem;
    height: 1.0714rem;
    background: url(../images/icons/delete.svg) no-repeat center;
    background-size: contain;
    display: block;
    margin: auto;
}