.csidebar {
  // width: 24.7143rem;
  width: 26.2%;
  background: #f6f8f9;
  padding: 0 1.8571rem;
  height: 100vh;

  .clipbord-icon {
    width: 8.9143rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.7143rem;
    margin-bottom: 2.5rem;
    img {
      width: 100%;
    }
  }
  .csidebar-inner {
    h2 {
      font-size: 1.1429rem;
      font-weight: bold;
      margin-bottom: 0.6429rem;
    }
    .scroller {
      height: 60vh;
      overflow-y: auto;
      margin-left: -0.7143rem;
      margin-right: -0.7143rem;
      padding: 0.7143rem;

      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      & {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
    .csidebar-card {
      font-size: 0.8571rem;
      background-color: #fff;
      padding: 0.9286rem 1.0714rem;
      border-radius: 0.3571rem;
      margin-bottom: 0.7143rem;
      box-shadow: 0px 0px 0.4286rem rgba(0, 0, 0, 0.161);
      &.de-active {
        background-color: rgba(164, 173, 180, 0.102);
        box-shadow: none;
        pointer-events: none;
      }

      > ul > li {
        > a {
          position: relative;
          &.active {
            &:after {
              background: url(../images/icons/check-mark.svg);
            }
          }
          &:after {
            content: "";
            display: inline-block;
            width: 1.2143rem;
            height: 1.2143rem;
            background: url(../images/icons/check-mark-empty.svg);
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 99% !important;
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        > ul {
          > li {
            > a {
              position: relative;
              &.active {
                &:after {
                  background: url(../images/icons/check-mark.svg);
                }
              }
              &:after {
                content: "";
                display: inline-block;
                width: 0.8572rem;
                height: 0.8572rem;
                background: url(../images/icons/check-mark-empty.svg);
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: contain !important;
                position: absolute;
                top: 0.2143rem;
                right: 0.1429rem;
              }
            }
          }
        }
      }

      .bullet-line {
        position: relative;
        &:before {
          content: "";
          width: 0.1429rem;
          display: inline-block;
          position: absolute;
          bottom: 0;
          top: 1.5714rem;
          border-left: 0.1429rem dashed rgba(164, 173, 180, 0.815);
          left: 0.0714rem;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            color: #000;
          }
          > ul {
            padding-left: 0.7143rem;
          }
        }
        &.bullet-line {
          li {
            a {
              margin-bottom: 1.0714rem;
              display: block;
              color: #000;
            }
            > ul {
              padding-left: 0.7143rem;
            }
          }
        }
      }
    }
  }
}


.sidebar {
  padding: 96px 0 3.5714rem 0;
  background: #F3F4F4;
  // width: 16.2%;
  width: 50px;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
  > ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    > li {
      width: 100%;
      > a {
        display: block;
        padding: 20px 18px;
        color: #a4adb4;
        span{
          display: none;
        }
        &:hover,
        &.active {
          background-color: #4A4A4A;
          color: #fff;          
        }
        &:hover{
          span {
            display: flex;
            align-items: center;
            position: absolute;
            left: 100%;
            background: #4a4a4a;
            top: 0;
            bottom: 0;
            padding: 9px;
            white-space: nowrap;
            font-size: 10px;
        }
        }
      }
    }
  }


  .nav-icon {
    position: relative;
    &-dash {
      &:before {
        background: url(../images/icons/dash-icon.svg) no-repeat
          center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/nav-icon.svg) no-repeat
            center;
        }
      }
    }
    
    &-user {
      &:before {
        background: url(../images/icons/user-nav-icon-deactive.svg) no-repeat center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/user-nav-icon-active.svg) no-repeat
            center;
        }
      }
    }
    &-roles {
      &:before {
        background: url(../images/icons/role-icon-nav.svg) no-repeat center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/role-icon-nav-active.svg) no-repeat center;
            
        }
      }
    }
    &-zones {
      &:before {
        background: url(../images/icons/zone-icon-nav.svg) no-repeat center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/zone-icon-nav-active.svg) no-repeat center;
            
        }
      }
    }
    &-city {
      &:before {
        background: url(../images/icons/city-icon-nav.svg) no-repeat center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/city-icon-nav-active.svg) no-repeat center;
            
        }
      }
    }
    &-doc {
      &:before {
        background: url(../images/icons/file-icon-nav.svg) no-repeat center;
      }
      &.active,
      &:hover{
        background-color: #4A4A4A;
        transition: all 0.3s ease-in;
        &:before {
          background: url(../images/icons/file-icon-nav-active.svg) no-repeat center;
            
        }
      }
    }
    &:before {
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      // background: url(../images/icons/dashboard-interface-icon.svg) no-repeat
      //   center;
      background-size: contain !important;
      position: absolute;
      left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }

    // background-position: left 2.1429rem center !important;
    // background-size: 1.0714rem !important;
  }
}

.sidebar,
.dashboard {
  
  transition: width 0.3s ease-out;
  // transition: transform 0.3s ease-in;
}
.dashboard.full-width {
  padding-left: 28px !important;
}
.sidebar-hide {
  width: 40px;
  transition: width 0.3s ease-in;
  overflow: hidden;
}

.dashboard-wrapper {
  .dashboard {
    padding-left: 50px;
    width: 100%;
    // transition: padding 0.3s ease-in;
  }
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #000;
  height: 11px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #000;
  width: 6px;
}
.ps__thumb-x,
.ps__thumb-y {
  background-color: #000;
}

.ps__thumb-y,
.ps__rail-y {
  width: 6px;
}